#contents

  = form_for @platform, url: platform_content_path(@platform, @path), html: { class: :form, remote: true, method: :get } do |f|
    = tracker_search_field(:term, @term.present? ? @term : t('layout.platforms.search_contents'))
    = f.submit t('layout.search.header'), data: {'disable-with' => t('layout.processing')}
  %br

  .path= build_content_paths(@platform, @path)
  .both

  - can_delete = can? :update, @platform
  %table.tablesorter.project{cellpadding: 0, cellspacing: 0 }
    %tbody

    - if @path.present?
      %tr
        %td= link_to '../', platform_content_path(@platform, @path, '../'), {remote: true}
        %td
        %td
        - if can_delete
          %td

    - (@contents.select(&:is_folder?) | @contents).each do |content|
      %tr
        %td
          - options = {class: 'files-see'}
          - if content.is_folder?
            - pic   = 'folder.png'
            - path  = platform_content_path(@platform, @path, content.name)
            - options[:remote] = true
          .pic= image_tag pic || 'code.png'
          .name= link_to(content.name, path || content.download_url, options)
        %td= link_to t('activerecord.models.build_list'), content.build_list if content.build_list
        %td= number_to_human_size(content.size) unless content.is_folder?
        - if can_delete && !content.is_folder?
          %td.buttons
            /= link_to "sss", method: :delete, data: { confirm: t('layout.confirm') } do
            %span.delete{ 'ng-click' => "destroy('#{content.subpath}')" } &nbsp;
        - else
          %td
  .both

  = will_paginate @contents, {remote: true}