- set_meta_tags title: [title_object(@platform), t('layout.platforms.contents')]
= render 'platforms/base/submenu'
= render 'platforms/base/sidebar'

%h3
  = t('layout.platforms.contents_of')
  = @platform.name

#contents{ 'ng-controller' => 'ContentsController' }

  = form_for @platform, html: { class: :form, 'ng-submit' => 'search()', id: 'search_contents_form' } do |f|
    = f.hidden_field :name
    = hidden_field_tag 'path'
    %input#term{ name: 'term', type: 'text', placeholder: t('layout.platforms.search_contents') }
    = f.submit t('layout.search.header'), data: {'disable-with' => t('layout.processing')}
  %br

  .path
    %a{ 'ng-repeat' => 'folder in folders' }
      %span.text{ 'ng-click' => "open(folder.path)" } {{folder.name}}
      %span.arrow-right
  .both

  - can_remove = can? :remove_file, @platform
  %table.tablesorter.project{cellpadding: 0, cellspacing: 0, 'ng-hide' => 'processing' }
    %tbody

    %tr{ 'ng-show' => 'back' }
      %td
        %a{ 'ng-click' => "open(back)" } ../
      %td
      %td
      - if can_remove
        %td

    %tr{'ng-repeat' => 'content in contents'}
      %td{ 'ng-show' => 'content.is_folder' }
        .pic= image_tag 'folder.png'
        .name
          %a.files-see{ 'ng-click' => "open(content)" } {{content.name}}
      %td{ 'ng-hide' => 'content.is_folder' }
        .pic= image_tag 'code.png'
        .name
          %a.files-see{'ng-href' => '{{content.download_url}}'} {{content.name}}
      %td
        %a{'ng-href' => '{{content.build_list.url}}', 'ng-show' => 'content.build_list' }
          = t('activerecord.models.build_list')
      %td {{content.size}}
      - if can_remove
        %td{ 'ng-show' => 'content.is_folder' }
        %td.buttons{ 'ng-hide' => 'content.is_folder' }
          %div{ 'ng-show' => 'content.processing' }
            = t('layout.processing')
          %span.delete{ 'ng-click' => "destroy(content)", 'ng-hide' => 'content.processing' } &nbsp;
  .both

  = render 'shared/angularjs_will_paginate'


/ :javascript
/   $(function(){
/     $('.pagination a').attr('data-remote', 'true');
/   });