- set_meta_tags title: [title_object(@platform), t('layout.platforms.contents')]
= render 'platforms/base/submenu'
= render 'platforms/base/sidebar'

%h3
  = t('layout.platforms.contents_of')
  = @platform.name

= render 'contents'

:javascript
  $(function(){
    $('.pagination a').attr('data-remote', 'true');
  });