%h2.title= t("layout.build_lists.filter_header")

= form_for :filter, :url => @action_url, :html => { :method => :get, :class => :form } do |f|
  .columns.wat-cf
    .column.left
      .group
        = f.label :status, t("activerecord.attributes.build_list.status"), :class => :label
        = f.select :status, BuildList::STATUSES.collect{|status| [BuildList.human_status(status), status]}, :include_blank => true, :selected => @filter.status
      .group
        = f.label :arch_id, t("activerecord.attributes.build_list.arch"), :class => :label
        = f.select :arch_id, Arch.recent.collect{|arch| [arch.name, arch.id]}, :include_blank => true, :selected => @filter.arch_id
    .column.right
      - if @project
        .group
          = f.label :project_version, t("activerecord.attributes.build_list.project_version"), :class => :label
          = f.select :project_version, @project.versions, :include_blank => true, :selected => @filter.project_version
      .group
        = f.label :is_circle, t("activerecord.attributes.build_list.is_circle"), :class => :label
        = f.select :is_circle, [[t("layout.yes_"), 1], [t("layout.no_"), 0]], :include_blank => true, :selected => @filter.is_circle.present? ? (@filter.is_circle ? "1" : "0") : nil

  .columns.wat-cf
    .column.left
      .group
        = f.label :created_at_start, t("layout.build_lists.created_at_start"), :class => :label
        = f.date_select(:created_at_start, :include_blank => true, :selected => @filter.created_at_start)
      .group
        = f.label :notified_at_start, t("layout.build_lists.notified_at_start"), :class => :label
        = f.date_select(:notified_at_start, :include_blank => true, :selected => @filter.notified_at_start)
    .column.right
      .group
        = f.label :created_at_end, t("layout.build_lists.created_at_end"), :class => :label
        = f.date_select(:created_at_end, :include_blank => true, :selected => @filter.created_at_end)
      .group
        = f.label :notified_at_end, t("layout.build_lists.notified_at_end"), :class => :label
        = f.date_select(:notified_at_end, :include_blank => true, :selected => @filter.notified_at_end)

  .columns.wat-cf
    .column.left
      .group
        = f.label :project_name, t("layout.build_lists.project_name_search"), :class => :label
        = f.text_field :project_name, :class => :text_field
    .column.right
      .group
        = f.label :bs_id, t("layout.build_lists.bs_id_search"), :class => :label
        = f.text_field :bs_id, :class => :text_field

  .group.navform.wat-cf
    %button.button{ :type => "submit" }
      = image_tag("web-app-theme/icons/tick.png", :alt => "Save")
      = t("layout.search")
