.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.build_lists.current"), platform_repository_project_path(@platform, @repository, @project) + "#build_lists"
      %li= link_to t("layout.build_lists.all"), platform_repository_project_build_lists_path(@platform, @repository, @project)
      %li.active= link_to t("layout.build_lists.show"), platform_repository_project_build_list_path(@platform, @repository, @project, @build_list)

  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.build_list.name")
          \:
        = @build_list.present? ? @build_list.name : t("layout.build_lists.name_not_yet_defined")
      %p
        %b
          = t("activerecord.attributes.build_list.bs_id")
          \:
        = @build_list.bs_id
      %p
        %b
          = t("activerecord.attributes.build_list.container_path")
          \:
        = @build_list.container_path
      %p
        %b
          = t("activerecord.attributes.build_list.status")
          \:
        = @build_list.human_status
      %p
        %b
          = t("activerecord.attributes.build_list.branch_name")
          \:
        = @build_list.branch_name
      %p
        %b
          = t("activerecord.attributes.build_list.project")
          \:
        = @build_list.project.name
      %p
        %b
          = t("activerecord.attributes.build_list.arch")
          \:
        = @build_list.arch.name
      %p
        %b
          = t("activerecord.attributes.build_list.notified_at")
          \:
        = @build_list.notified_at
      %p
        %b
          = t("activerecord.attributes.build_list.is_circle")
          \:
        = t("layout.#{@build_list.is_circle?}_")

      %p
        %b
          = t("activerecord.attributes.build_list.additional_repos")
          \:
        = @build_list.additional_repos

.block
  .content
    %h2= t("layout.build_lists.items_header")
    
    .inner
      - if @item_groups.blank?
        = t("layout.build_lists.no_items_data")
        
      - @item_groups.each_with_index do |group, level|
        %h3.title Level ##{level}
        %table.table
          %tr
            %th.first= t("activerecord.attributes.build_list/item.name")
            %th.last= t("activerecord.attributes.build_list/item.status")

          - group.each do |item|
            %tr{:class => cycle("odd", "even")}
              %td= item.name
              %td.last= item.human_status

- content_for :sidebar, render(:partial => 'sidebar')