= form_for :build, :url => platform_mass_builds_path(@platform), :html => { :class => 'form mass_build', :method => :post } do |f|
  %section.left
    =render 'repos_or_list_choice'
    %br
    = f.submit t("layout.projects.build_button")
  %section.right
    %h3= t("activerecord.attributes.build_list.arch")
    - Arch.recent.each do |arch|
      .lefter
        = check_box_tag "arches[]", arch.id, (params[:arches]||[]).include?(arch.id.to_s), :id => "arches_#{arch.id}"
        = label_tag "arches_#{arch.id}", arch.name
      .both
    %h3= t("activerecord.attributes.build_list.preferences")
    .both.bottom_20
      = check_box_tag :auto_publish, true, @auto_publish_selected, :id => 'auto_publish'
      = label_tag :auto_publish, t('activerecord.attributes.build_list.auto_publish')
.both