= render 'platforms/base/submenu'
= render 'platforms/base/sidebar'

= link_to t('layout.mass_builds.new'), new_platform_mass_build_path(@platform), class: 'button' if can? :create, @platform.mass_builds.build


= raw mass_builds_datatable(@platform)

%table#datatable.tablesorter{cellspacing: 0, cellpadding: 0}
  %thead
    %tr
      %th.lpadding16= t('activerecord.attributes.mass_build.id')
      %th.lpadding16= t('activerecord.attributes.mass_build.name')
      %th.th2= t('activerecord.attributes.mass_build.description')
      %th.lpadding16= t('activerecord.attributes.mass_build.created_at')
      %th.buttons &nbsp;
  %tbody
%br
