%tr{class: cycle("odd", "even")}
  - pbl = product_build_list
  - product = pbl.product
  - platform = product.platform
  - if pbl.project
    %td= link_to pbl.id, platform_product_product_build_list_path(platform, product, pbl)
  - else
    %td= pbl.id
  %td= pbl.human_status
  %td= link_to(nil, pbl.container_path) unless pbl.project
  %td= link_to pbl.product.name, platform_product_path(platform, product)
  %td= link_to image_tag('x.png'), platform_product_product_build_list_path(platform, product, pbl), method: :delete, data: { confirm: t("layout.confirm") } if can?(:destroy, pbl) && pbl.can_destroy? && !pbl.project
  = datetime_moment pbl.updated_at, tag: :td