-set_meta_tags title: t('.title')
%table.tablesorter{cellpadding: "0", cellspacing: "0"}
  %thead
    %tr
      %th.lpadding16= t("activerecord.attributes.product_build_list.id")
      %th.lpadding16= t("activerecord.attributes.product_build_list.status")
      %th.lpadding16= t("activerecord.attributes.product_build_list.container_path")
      %th.lpadding16= t("activerecord.attributes.product_build_list.product")
      %th= t("layout.product_build_lists.action")
      %th.lpadding16= t("activerecord.attributes.product_build_list.notified_at")
  %tbody= render partial: 'platforms/product_build_lists/product_build_list', collection: @product_build_lists
.both

= will_paginate @product_build_lists

= render 'filter'
= render 'projects/build_lists/submenu'
