-set_meta_tags :title => [title_object(@product), t('layout.product_build_lists.new')]
= render 'submenu'
= render 'sidebar'

= form_for @product_build_list, :url => platform_product_product_build_lists_path(@platform, @product), :html => {:class => :form} do |f|
  .leftlist= f.label :project, t("activerecord.attributes.product_build_lists.project"), :class => :label
  .rightlist= @product_build_list.product.project.try(:name_with_owner)
  .both

  .leftlist= f.label :project_version, t("activerecord.attributes.product_build_lists.project_version"), :class => :label
  .rightlist= f.select :project_version, versions_for_group_select(@project), :selected => params[:product_build_lists].try(:fetch, :project_version) || "latest_" + @project.default_branch
  .both

  .leftlist= f.label :main_script, t("activerecord.attributes.product_build_lists.main_script"), :class => :label
  .rightlist= f.text_field :main_script
  .both

  .leftlist= f.label :params, t("activerecord.attributes.product_build_lists.params"), :class => :label
  .rightlist= f.text_field :params
  .both

  = f.submit t("layout.projects.build_button")
