-set_meta_tags :title => [title_object(@product_build_list.product), t('layout.product_build_lists.show')]
= render 'submenu'

- pbl = @product_build_list
- product = pbl.product
- platform = product.platform

%h3= t("layout.product_build_lists.main_data")

.leftlist= t("activerecord.attributes.product_build_list.id")
.rightlist= pbl.id
.both

.leftlist= t("activerecord.attributes.product_build_list.status")
.rightlist= pbl.human_status
.both

.leftlist= t("activerecord.attributes.product_build_list.container_path")
.rightlist= link_to nil, pbl.container_path
.both

.leftlist= t("activerecord.attributes.product_build_list.product")
.rightlist= link_to pbl.product.name, platform_product_path(platform, product)
.both

.leftlist= t("activerecord.attributes.product_build_list.project")
.rightlist= pbl.project.name_with_owner
.both

.leftlist= t("activerecord.attributes.product_build_list.project_version")
.rightlist= build_list_version_link(pbl, true)
.both

.leftlist= t("activerecord.attributes.product_build_list.main_script")
.rightlist= pbl.main_script
.both

.leftlist= t("activerecord.attributes.product_build_list.params")
.rightlist= pbl.params
.both

.leftlist= t("layout.product_build_lists.action")
.rightlist= link_to image_tag('x.png'), platform_product_product_build_list_path(platform, product, pbl), :method => :delete, :confirm => t("layout.confirm") if can?(:destroy, pbl) && pbl.can_destroy?
.both

.leftlist= t("activerecord.attributes.product_build_list.notified_at")
.rightlist= l(pbl.updated_at, :format => :long)
.both

%h3= t("layout.product_build_lists.results")
- unless pbl.results.present?
  %h4.nomargin= t("layout.product_build_lists.no_results")
- else
  %table.tablesorter.width565{:cellpadding => "0", :cellspacing => "0"}
    %thead
      %tr
        %th= t("activerecord.attributes.product_build_list/results.file_name")
        %th= t("activerecord.attributes.product_build_list/results.sha1")
        %th= t("activerecord.attributes.product_build_list/results.link")
    %tbody
      - pbl.results.each do |item|
        %tr
          %td= item['file_name']
          - sha1 = item['sha1']
          %td= sha1
          %td= link_to t("activerecord.attributes.product_build_list/results.link"), "http://file-store.rosalinux.ru/api/v1/file_stores/#{sha1}"
.both


:javascript
  $('article .all').addClass('bigpadding');