-set_meta_tags :title => [title_object(@product_build_list.product), t('layout.product_build_lists.show')]
= render 'submenu'

- pbl = @product_build_list
- product = pbl.product
- platform = product.platform

%h3= t("layout.product_build_lists.main_data")
.both

.leftlist= t("activerecord.attributes.product_build_list.id")
.rightlist= pbl.id
.both

.leftlist= t("activerecord.attributes.product_build_list.status")
.rightlist= pbl.human_status
.both

.leftlist= t("activerecord.attributes.product_build_list.product")
.rightlist= link_to pbl.product.name, platform_product_path(platform, product)
.both

.leftlist= t("activerecord.attributes.product_build_list.project")
.rightlist= link_to pbl.project.name_with_owner, project_path(pbl.project)
.both

.leftlist= t("activerecord.attributes.product_build_list.project_version")
.rightlist= build_list_version_link(pbl, true)
.both

.leftlist= t("activerecord.attributes.product_build_list.main_script")
.rightlist= pbl.main_script
.both

.leftlist= t("activerecord.attributes.product_build_list.params")
.rightlist= pbl.params
.both

.leftlist= t("activerecord.attributes.product_build_list.notified_at")
.rightlist= l(pbl.updated_at, :format => :long)
.both

- if pbl.build_started?
  = render 'shared/log', { :build_started => true, :get_log_path => log_platform_product_product_build_list_path(pbl.product.platform, pbl.product, pbl) }

%h3= t("layout.product_build_lists.results")
- unless pbl.results.present?
  %h4.nomargin= t("layout.product_build_lists.no_results")
- else
  %table.tablesorter.width565{:cellpadding => "0", :cellspacing => "0"}
    %thead
      %tr
        %th= t("activerecord.attributes.product_build_list/results.file_name")
        %th= t("activerecord.attributes.product_build_list/results.sha1")
    %tbody
      - pbl.results.each do |item|
        %tr
          - sha1 = item['sha1']
          %td= link_to item['file_name'], "http://file-store.rosalinux.ru/api/v1/file_stores/#{sha1}"
          %td= sha1
.both


:javascript
  $(function(){
    $('article .all').addClass('bigpadding');
  });