.block
  %h2= title t("devise.confirmations.resend_header")
  .content
    - if resource.errors.present?
      .flash
        .message.error
          - messages = resource.errors.full_messages.map { |msg| content_tag(:p, msg) }.join.html_safe
          = messages

    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form" }) do |f|
      = f.hidden_field :reset_password_token
      .group.wat-cf
        .left
          = f.label :email, class: "label"
        .right
          = f.text_field :email, class: "text_field"

      .group.navform.wat-cf
        %button.button{tyle: "submit"}
          = image_tag("choose.png", alt: t("devise.confirmations.send"))
          = t("devise.confirmations.send")
        %span.text_button_padding
        = render "devise/shared/links"