- base = branch.name == @branch.name
%tr{:class => (base ? 'base' : '')}
  %td.name= link_to branch.name, tree_path(@project, branch.name)
  %td.actions
    %ul.actions
      - if base
        %li.text= t('layout.projects.base_branch')
      - else
        %li
          = link_to t('diff'), diff_path(@project, "#{@branch.name}...#{branch.name}")