- subjects_name = action_name.to_s

%h3= t("layout.projects.#{subjects_name}")
- if subject.blank?
  %p= t("layout.projects.no_#{subjects_name}")
- elsif subject.count == 1
  %p= t("layout.projects.total_#{subjects_name.singularize}")
- else
  %p= t("layout.projects.total_#{subjects_name}", :count => subject.count)
.both