%h3= t("layout.projects.files_in_project")
.files
  .l= render 'whereami'
  = render 'fork'
.both

%table#myTable.tablesorter.project{:cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th.th1= t("layout.projects.filename")
      %th.th2= t("layout.projects.age")
      %th.th3= t("layout.projects.message")
      %th.th4= t("layout.projects.author")
  %tbody
    - if @path.present?
      %tr
        %td
          .pic= image_tag 'folder.png'
          .name= link_to "..", tree_path(@project, @treeish, File.join([@path, ".."].compact))
        %td== &nbsp;
        %td== &nbsp;
        %td== &nbsp;
    - @project.tree_info(@tree, @treeish, @path).each_pair do |entry, commit|
      %tr
        %td
          - entry_path = File.join([@path.present? ? @path : nil, entry.name].compact)
          - if entry.is_a? Grit::Blob
            .pic= image_tag 'code.png'
            .name= link_to(entry.name, blob_path(@project, @treeish, entry_path), :class => 'files-see')
          - else
            .pic= image_tag 'folder.png'
            .name= link_to(entry.name, tree_path(@project, @treeish, entry_path), :class => 'files-see')
        = render 'commit_info', :commit => commit

    - commit = @project.tree_info(@project.repo.tree(@treeish), @treeish, nil).detect{ |e, c| e.name == '.gitmodules' && c }.last
    - if commit
      - Grit::Submodule.config(@project.repo).each do |name, options|
        - folder = options['path'].split('/').last
        - if options['path'] == [@path, folder].compact.join('/')
          %tr
            %td
              .pic= image_tag 'folder.png'
              - url = options['url'].gsub(/^git/, 'http').gsub(/.git$/, '')
              .name
                = link_to(folder, url, :class => 'files-see')
                = '@'
                - id = options['id']
                = link_to(id[0..6], "#{url}/tree/#{id}", :class => 'files-see')
            = render 'commit_info', :commit => commit


