%h3= t 'layout.projects.files_in_project'
%div{ 'ng-controller' => 'GitTreeCtrl', 'ng-cloak' => true,
      'ng-init' => "init('#{@project.name_with_owner}', '#{@treeish}', '#{@path}', '#{root_path}')" }
  .files
    .pull-left= render 'whereami'
    .pull-right= render 'fork'
  %table.table.table-hover
    %thead
      %tr
        %th= t 'layout.projects.filename'
        %th.col-md-8= t 'layout.projects.message'
        %th= t 'layout.projects.age'
    %tbody{ 'ng-hide' => 'processing' }
      %tr{ 'ng-show' => 'path' }
        %td
          %span= fa_icon 'folder', class: 'text-primary'
          %a{ 'ng-href' => '{{root_path}}', 'ng-click' => 'getTree($event, root_path)' } ..
        %td &nbsp;
        %td &nbsp;
      %tr{ 'ng-repeat' => 'el in tree' }
        %td{ 'ng-show' => 'el.submodule && el.submodule.url' }
          %span= fa_icon 'folder-open', class: 'text-info'
          %a{ 'ng-href' => '{{el.submodule.url}}' } {{el.submodule.name}}
          @
          %a{ 'ng-href' => '{{el.submodule.tree_url}}' } {{el.submodule.id}}
        %td{ 'ng-show' => 'el.is_submodule && !el.submodule.url' }
          {{el.submodule.name+' @ '+el.submodule.id}}
        %td{ 'ng-show' => '!el.submodule' }
          %span
            %i.fa.text-primary{ 'ng-class' => 'el.node.class_name' }
          %a{ 'ng-href' => '{{el.node.url}}', 'ng-click' => 'getTree($event, el.node.path)' } {{el.node.name}}
        %td{ 'ng-show' => 'el.commit' }
          %a{ 'ng-href' => '{{el.commit.url}}' } {{el.commit.short_message}}
        %td{ 'ng-show' => 'el.commit' }
          %span{ 'am-time-ago' => 'el.commit.committed_date', title: "{{issue.committed_date | amDateFormat:'ddd, LLL'}}" }
        %td{ 'ng-hide' => 'el.commit' }
        %td{ 'ng-hide' => 'el.commit' }

  %hr
  %btn.center-block.btn.btn-primary{ 'ng-show' => 'next_page', 'ng-disabled' => 'processing',
                                     'ng-click' => 'getTree($event, null, true)' }
    = t 'layout.activity_feed.load_more'
