-set_meta_tags :title => "#{title_object @project}"

= render 'submenu'
= render 'repo_block', :project => @project
= render 'header', :subject => @branches

- if @branches.present?
  %table#project-branches
    %tbody
      = render :partial => 'branch', :collection => @branches