-set_meta_tags title: title_object(@project)
= render 'submenu'
= render 'repo_block', project: @project
= render 'about_block', project: @project


- if @project.parent_id.present? || @project.srpm.exists?

  .both
  #repo-wrapper

  %h3= t("layout.projects.files_in_project")
  .files
    .l= render 'whereami'
  .both
    %table#myTable.tablesorter.project{cellpadding: "0", cellspacing: "0"}
      %thead
        %tr
          %th.th1= t("layout.projects.filename")
          %th.th2= t("layout.projects.age")
          %th.th3= t("layout.projects.message")
          %th.th4= t("layout.projects.author")
      %tbody
        %tr
          %td.centered{colspan: 4}
            %h3= I18n.t("layout.git.repositories.empty")

- else
  - if current_user
    %h3= t("layout.projects.git_global_setup")
    %p
      %code
        = "git config --global user.name  '#{current_user.fullname}'"
        %br/
        = "git config --global user.email #{current_user.email}"
        %br/
        git config --global http.postBuffer 524288000

  %h3= t("layout.projects.create_repository")
  %p
    %code
      = "git clone #{git_repo_url(@project.name_with_owner)}"
      %br/
      = "cd #{@project.name}"
    %br/
    %br/
    %p= t("layout.projects.move_files_to_folder")
    %br/
    %code
      git add .
      %br/
      git commit -m 'description message'
      %br/
      git push -u origin master

  %h3= t("layout.projects.existing_git_repo")
  %p
    %code
      cd  existing_git_repo
      %br/
      = "git remote add origin #{git_repo_url(@project.name_with_owner)}"
      %br/
      git push -u origin master

