-set_meta_tags title: "#{title_object @project}"

= render 'submenu'
.container
  .row
    = render 'repo_block', project: @project

    .col-md-8.col-md-offset-2{'ng-controller' => 'ProjectTagsController', 'ng-cloak' => true,
      'ng-init' => "init('#{@project.owner.uname}', '#{@project.name}')"}

      %h3= t('layout.projects.tags')
      .col-md-4
        %h4{'ng-show' => '!tags.length'}= t('layout.projects.no_tags')
        %h5{'ng-show' => 'tags.length > 0'} {{'project.total_tags' | i18n:'plural':tags.length}}

      .col-md-4.pull-right
        %input.form-control{'ng-model' => 'query.ref', placeholder: t('layout.search.header')}
      .clearfix

      %table.table.table-hover.offset20
        %tbody
          %tr{'ng-repeat' => 'tag in tags | filter:query' }
            %td
              %strong {{tag.ref}}
              %span.small {{tag.object.authored_date * 1000 | date:'yyyy.MM.dd'}}
            %td
              %ul.list-inline.pull-right.boffset_auto
                %li
                  %a{'ng-href' => '{{tag.path(project)}}' }
                    = t('layout.projects.browse_code')
                - %w(zip tar.gz).each do |type|
                  %li
                    %a{'ng-href' => "{{tag.archive_path(project, '#{type}')}}" }
                      = t('layout.projects.source_code', type: type)
