-set_meta_tags :title => "#{title_object @project}"

= render 'submenu'
= render 'repo_block', :project => @project
= render 'header', :subject => @tags

- if @tags.present?
  %div#project-tags
    %ol.release-list
      = render :partial => 'tag', :collection => @tags