-set_meta_tags :title => "#{title_object @project}"

= render 'submenu'
= render 'repo_block', :project => @project

%div{'ng-controller' => 'ProjectRefsController', 'ng-init' => "init('#{@project.id}')"}

  %h3= t('layout.projects.tags')
  %p{'ng-show' => '!tags.length'}= t('layout.projects.no_tags')
  %p{'ng-show' => 'tags.length == 1'}= t('layout.projects.total_tag')
  %p{'ng-show' => 'tags.length > 1'}= t('layout.projects.total_tags', :count => '{{tags.length}}')
  .both
  %br

  %input.mediumheight{'ng-model' => 'query.ref'}
  .both

  #project-tags
    %ol.release-list
      %li{'ng-repeat' => 'tag in tags | filter:query'}
        %a.detail-link{'ng-href' => '{{tag.path(project)}}' }
          = t('layout.projects.browse_code')
        - %w(zip tar.gz).each do |type|
          %a.detail-link{'ng-href' => "{{tag.archive_path(project, '#{type}')}}" }
            = t('layout.projects.source_code', :type => type)
        %p.name
          %b {{tag.ref}}
          .date {{tag.object.authored_date * 1000 | date:'yyyy.MM.dd'}}
