.group
  = f.label :name, t("activerecord.attributes.repository.name"), :class => :label
  = f.text_field :name, :class => 'text_field'
.group
  = f.label :description, t("activerecord.attributes.repository.description"), :class => :label
  = f.text_field :description, :class => 'text_field'

.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("choose.png", :alt => t("layout.save"))
    = t("layout.save")
  %span.text_button_padding= t("layout.or")
  = link_to t("layout.cancel"), @repositories_path + "#repositories", :class => "text_button_padding link_button"

