.leftlist= f.label :name, t("activerecord.attributes.repository.name"), :class => :label
.rightlist= f.text_field :name, :class => 'text_field'

.leftlist= f.label :description, t("activerecord.attributes.repository.description"), :class => :label
.rightlist= f.text_field :description, :class => 'text_field'

.both

.button_block
  = submit_tag t("layout.save")
  -#%input.button{:type => "submit", :class => "button"}
    -#= image_tag("choose.png", :alt => t("layout.save"))
    -#= t("layout.clone")
  %span.text_button_padding= t("layout.or")
  = link_to t("layout.cancel"), @repositories_path, :class => "button"
