- columns = [{:type => 'html', :sortable => false, :searchable => false}, {:type => 'html'}, {:type => nil}]
= raw datatable(columns, {:sort_by => "[1, 'asc']", :ajax_source => "#{url_for :controller => :repositories, :action => :projects_list, :id => @repository.id}" })

%table.table.datatable
  %thead
    %tr
      %th.first= t("activerecord.attributes.user.uname")
      %th= t("activerecord.attributes.project.name")
      %th.last &nbsp;
  %tbody

= content_for :javascripts do
  = javascript_include_tag 'jquery.dataTables.min.js'
