= render :partial => 'platforms/submenu'
= render :partial => 'platforms/sidebar'

%h3= "#{t("layout.repositories.add_project_to")}: #{@repository.name}"

= render :partial => 'proj_list', :object => @projects
