%h1
  = t('layout.repositories.show')
  = @repository.name
= link_to t('layout.repositories.back_to_the_list'), platform_path(@platform)
.location
  = t('layout.repositories.location')
  = @repository.path


%h2= t('layout.repositories.projects')
- @projects.each do |project|
  = div_for project do
    = link_to project.name, [@platform, @repository, project]
= link_to t('layout.projects.new'), new_platform_repository_project_path(@platform, @repository)
