%div{style: 'float: right; margin: 20px'}
  = link_to t("layout.register_request.approved"), admin_register_requests_path(scope: :approved)
  \|
  = link_to t("layout.register_request.rejected"), admin_register_requests_path(scope: :rejected)
%h2.title= title t("layout.register_request.list_header")
= form_tag admin_register_requests_path, method: :put, class: 'update_form' do
  = hidden_field_tag 'update_type'
  %table.tablesorter
    %tr
      %th &nbsp;
      %th= t("activerecord.attributes.register_request.name")
      %th= t("activerecord.attributes.register_request.email")
      %th= t("activerecord.attributes.register_request.interest")
      %th= t("activerecord.attributes.register_request.more")
      %th= t("activerecord.attributes.register_request.created_at")
      %th
    - @register_requests.each do |request|
      %tr{class: cycle("odd", "even")}
        %td= check_box_tag 'request_ids[]', request.id
        %td= request.name
        - @user = User.find_by(email: request.email) if request.approved
        %td= link_to_if @user, request.email, @user
        %td= request.interest
        %td= request.more
        %td= request.created_at
        %td
          - links = []
          - if policy(request).approve?
            - links << link_to(t("layout.approve"), approve_admin_register_request_path(request))
          - if policy(request).reject?
            - links << link_to(t("layout.reject"), reject_admin_register_request_path(request))
          - if request.token
            - links << link_to('Link', new_user_registration_url(invitation_token: request.token))
          = raw links.join('|')

  .actions
    %input#approve_registration{type: 'button', value: "Approve Selected"}
    %input#reject_registration{type: 'button', value: "Reject Selected"}

= will_paginate @register_requests

:javascript
  $(function() {
    var $form = $('form.update_form')
    var change_update_type = function (type) {
      $('input#update_type').val(type);
    };
    $('#approve_registration').on('click', function(e) {
      //set update_type to 'approve'
      change_update_type('approve');
      $form.submit();
    });
    $('#reject_registration').on('click', function(e) {
      //set update_type to 'reject'
      change_update_type('reject');
      $form.submit();
    });
  });

= render 'submenu'
