-set_meta_tags title: [title_object(@group), t('layout.groups.edit')]
= form_for @group, url: profile_group_path(@group) do |f|
  = render "form", f: f

.hr
.groups-profile= image_tag('code.png')
.groups-profile= link_to t("layout.groups.public_profile"), @group
.both
.hr
.leftside= t("layout.groups.delete_warning")
.rightside
  = link_to t("layout.delete"), profile_group_path(@group), method: :delete, confirm: t("layout.groups.confirm_delete"), class: 'button' if can? :destroy, @group
.both

- content_for :sidebar, render('sidebar')
