#block-signup.block
  %h2 #{t("devise.registrations.edit")} #{resource_name.to_s.humanize}
  .content
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form" }) do |f|
      - if resource.errors.present?
        .flash
          .message.error= resource.errors.full_messages.map { |msg| content_tag(:p, msg) }.join.html_safe

      .group.wat-cf
        .left
          = f.label :uname, :class => "label"
        .right
          = f.text_field :uname, :class => "text_field", :disabled => true

      .group.wat-cf
        .left
          = f.label :email, :class => "label"
        .right
          = f.text_field :email, :class => "text_field"

      .group.wat-cf
        .left
          = f.label :name, :class => "label"
        .right
          = f.text_field :name, :class => "text_field"

      .group.wat-cf
        .left
          = f.label :ssh_key, :class => "label"
        .right
          = f.text_area :ssh_key, :class => "text_area"

      / .group.wat-cf
      /   .left
      /     = f.label :current_password, :class => "label"
      /   .right
      /     = f.password_field :current_password, :class => "text_field"
      /     %span.description= t("devise.registrations.current_password_description")

      .group.wat-cf
        .left
          = f.label :password, :class => "label"
        .right
          = f.password_field :password, :class => "text_field"
          %span.description= t("devise.registrations.edit_password_description")

      .group.wat-cf
        .left
          = f.label :password_confirmation, :class => "label"
        .right
          = f.password_field :password_confirmation, :class => "text_field"

      .group.navform.wat-cf
        %button.button{ :type => "submit" }
          #{image_tag("web-app-theme/icons/tick.png", :alt => t("devise.registrations.signed_up"))} #{t("layout.save")}

        = link_to image_tag("web-app-theme/icons/cross.png", :alt => t("devise.registrations.cancel")) + " " + t("devise.registrations.cancel"), registration_path(resource_name), :method => :delete, :class => "button", :confirm => t("devise.registrations.cancel_confirmation")

        %span.text_button_padding
        = link_to t('layout.back'), :back, :class => "text_button_padding link_button"

