.wrap
  / Top block
  %header
    .logo
  / Page
  - uname_error, name_error, email_error, password_error = getDeviseErrors(:uname, :name, :email, :password)
  %article
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form" }) do |f|
      = hidden_field_tag :invitation_token, @invitation_token
      .left.first=t('activerecord.attributes.user.uname')
      .right.first
        = f.text_field :uname, :id => 'login', :class => "registartion-input #{uname_error ? 'registartion-input-error' : ''}"
      .both
      .left=t('activerecord.attributes.user.name')
      .right
        = f.text_field :name, :id => 'name',  :class => "registartion-input #{name_error ? 'registartion-input-error' : ''}"
      .both
      .left=t('activerecord.attributes.user.email')
      .right
        - klass = "registartion-input #{email_error ? 'registartion-input-error' : ''}"
        - if APP_CONFIG['preregistration']
          = f.text_field :email, :id => 'email', :readonly => 'readonly',  :class => klass
        - else
          = f.text_field :email, :id => 'email', :class => 'registartion-input',  :class => klass
      .both
      .left=t('activerecord.attributes.user.password')
      .right
        = f.password_field :password, :id => 'password',  :class => "registartion-input #{password_error ? 'registartion-input-error' : ''}"
      .both
      .left=t('activerecord.attributes.user.password_confirm')
      .right
        = f.password_field :password_confirmation, :id => 'password2',  :class => "registartion-input #{password_error ? 'registartion-input-error' : ''}"
      .both
      .in
        =f.submit t("layout.devise.shared_links.sign_up"), :class => 'button', :id => 'btnLogin'
      .both
    = render 'devise/shared/providers'

  =showDeviseHintError(:login, uname_error)
  =showDeviseHintError(:name, name_error)
  =showDeviseHintError(:email, email_error)
  =showDeviseHintError(:password, password_error)

