%table.table
  %tr
    %th.first= t("activerecord.attributes.platform.name")
    %th.first= t("activerecord.attributes.platform.distrib_type")
    %th.last &nbsp;
  - @platforms.each do |platform|
    %tr{:class => cycle("odd", "even")}
      %td
        = link_to platform.name, platform_path(platform)
      %td
        = platform.distrib_type
      %td.last
        = link_to t("layout.show"), platform_path(platform)
        | 
        = link_to t("layout.delete"), platform_path(platform), :method => :delete, :confirm => t("layout.platforms.confirm_delete")  if can? :destroy, platform
