-set_meta_tags :title => [title_object(@platform), t('layout.platforms.edit')]
= render :partial => 'submenu'
= render :partial => 'sidebar'

= form_for @platform, :url => platform_path(@platform), :html => { :class => :form } do |f|
  = render :partial => "form", :locals => {:f => f}

- if can? :destroy, @platform
  .hr
  .leftside
    = t("layout.platforms.delete_warning")
  .rightside
    = link_to t("layout.delete"), platform_path(@platform), :method => :delete, :confirm => t("layout.platforms.confirm_delete"), :class => 'button'
  .both

-#.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.platforms.list"), platforms_path
      %li= link_to t("layout.platforms.new"), new_platform_path
      %li.active= link_to t("layout.platforms.edit"), edit_platform_path
  .content
    %h2.title
      = t("layout.platforms.edit_header")
    .inner
      = form_for @platform, :url => platform_path(@platform), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
-# content_for :sidebar, render(:partial => 'sidebar')
