%h1= t('layout.platforms.list')
- @platforms.each do |platform|
  = div_for platform do
    = link_to platform.name, platform
= link_to t('layout.platforms.new'), new_platform_path
.div
  = link_to t('layout.user_list'), users_path
