%h3= title t("layout.platforms.new_header")

= form_for :platform, :url => platforms_path, :html => { :class => :form } do |f|
  = render :partial => "form", :locals => {:f => f}

-#.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("layout.platforms.list")}", platforms_path
      %li.active= link_to "#{t("layout.platforms.new")}", new_platform_path
  .content
    %h2.title
      = t("layout.platforms.new_header")
    .inner
      = form_for :platform, :url => platforms_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
