%h1
  = t('layout.platforms.show')
  = @platform.name
= link_to t('layout.platforms.back_to_the_list'), platforms_path

.freeze
  - if @platform.released?
    = link_to I18n.t("layout.platforms.unfreeze"), unfreeze_platform_path(@platform), :confirm => I18n.t("layout.platforms.confirm_unfreeze")
  - else
    = link_to I18n.t("layout.platforms.freeze"), freeze_platform_path(@platform), :confirm => I18n.t("layout.platforms.confirm_freeze")

.location
  = t('layout.platforms.location')
  = @platform.path


%h2= t('layout.platforms.repositories')
- @repositories.each do |repository|
  = div_for repository do
    = link_to repository.name, [@platform, repository]
= link_to t('layout.repositories.new'), new_platform_repository_path(@platform)

%h2= t('layout.platforms.products')
TBD
