%h1
  = t('layout.platforms.show')
  = @platform.name
= link_to t('layout.platforms.back_to_the_list'), platforms_path
.location
  = t('layout.platforms.location')
  = @platform.path


%h2= t('layout.platforms.repositories')
- @repositories.each do |repository|
  = div_for repository do
    = link_to repository.name, [@platform, repository]
= link_to t('layout.repositories.new'), new_platform_repository_path(@platform)

%h2= t('layout.platforms.products')
TBD
