.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.platforms.list"), platforms_path
      %li= link_to t("layout.platforms.new"), new_platform_path
      %li.active= link_to t("layout.platforms.show"), platform_path
      %li= link_to t("layout.platforms.private_users"), platform_private_users_path(@platform)
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.platform.name")
          \:
        = @platform.name
      %p
        %b
          = t("activerecord.attributes.platform.unixname")
          \:
        = @platform.unixname
      - if @platform.parent
        %p
          %b
            = t("activerecord.attributes.platform.parent")
            \:
          - if @platform.parent
            = link_to @platform.parent.name, platform_path(@platform.parent)
      %p
        %b
          = t('layout.platforms.location')
          \:
        = @platform.path

      .wat-cf
        -#= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => t("layout.edit")) + " " + t("layout.edit"), edit_platform_path(@platform), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => t("layout.delete")) + " " + t("layout.delete"), platform_path(@platform), :method => "delete", :class => "button", :confirm => t("layout.platforms.confirm_delete")
        - if @platform.released?
          = link_to t("layout.platforms.unfreeze"), unfreeze_platform_path(@platform), :confirm => I18n.t("layout.platforms.confirm_unfreeze"), :class => "button"
        - else
          = link_to t("layout.platforms.freeze"), freeze_platform_path(@platform), :confirm => I18n.t("layout.platforms.confirm_freeze"), :class => "button"
        = link_to "Клонировать", clone_platform_path(@platform), :confirm => I18n.t("layout.platforms.confirm_clone"), :class => "button"

%a{ :name => "repositories" }
.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to t("layout.repositories.list"), platform_path(@platform) + "#repositories"
      %li= link_to t("layout.repositories.new"), new_platform_repository_path(@platform)
  .content
    %h2.title
      = t("layout.repositories.list_header")
    .inner
      %table.table
        %tr
          %th.first= t("activerecord.attributes.repository.name")
          %th.last &nbsp;
        - @platform.repositories.recent.each do |repository|
          %tr{:class => cycle("odd", "even")}
            %td
              = link_to repository.name, platform_repository_path(@platform, repository)
            %td.last
              #{link_to t("layout.show"), platform_repository_path(@platform, repository)} | #{link_to t("layout.delete"), platform_repository_path(@platform, repository), :method => :delete, :confirm => t("layout.repositories.confirm_delete")}
      .actions-bar.wat-cf
        .actions

%a{ :name => "producs" }
.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to t("layout.products.list"), platform_path(@platform) + "#products"
      %li= link_to t("layout.products.new"), new_platform_product_path(@platform)
  .content
    %h2.title
      = t("layout.products.list_header")
    .inner
      %table.table
        %tr
          %th.first= t("activerecord.attributes.product.name")
          %th.last &nbsp;
        - @platform.products.recent.each do |product|
          %tr{:class => cycle("odd", "even")}
            %td
              = link_to product.name, edit_platform_product_path(@platform, product)
            %td.last
              #{link_to t("layout.show"), platform_product_path(@platform, product)} | #{link_to t("layout.delete"), platform_product_path(@platform, product), :method => :delete, :confirm => t("layout.products.confirm_delete")} #{(product.can_clone? ? "| #{link_to t("layout.products.clone"), clone_platform_product_path(@platform, product)}" : "").html_safe }
      .actions-bar.wat-cf
        .actions
-#- content_for :sidebar do
  
