%p
  Build project
  - if @build_list.project
    = link_to @build_list.project.name_with_owner, project_url(@build_list.project)
  - else
    = t("layout.projects.unexisted_project")
  completed with status
  = @build_list.human_status
  for arch
  = "#{@build_list.arch.name}."
%p
  More detailed information you can get by link:
  = link_to "task [№ #{@build_list.id}]", build_list_url(@build_list)

= render 'footer'
