%p
  Сборка проекта 
  - if @build_list.project
    = link_to @build_list.project.name_with_owner, project_url(@build_list.project)
  - else
    = t("layout.projects.unexisted_project")
  завершена со статусом
  = @build_list.human_status
  для архитектуры
  = "#{@build_list.arch.name}."
%p
  Более подробную информацию можно получить по ссылке:
  = link_to "задание [№ #{@build_list.id}]", build_list_url(@build_list)

= render 'footer'
