== Здравствуйте, #{@user.name}


== Вы зарегистрированы на проекте «#{APP_CONFIG['project_name']}» и теперь можете войти в систему. 


==Ваш email : #{@user.email}
==Ваш пароль: #{@user.password}


== Команда поддержки #{APP_CONFIG['project_name']}
