%p== Hello, #{@user.user_appeal}.

- if @comment.issue_comment?
  - link = link_to @comment.commentable.title, project_issue_url(@comment.commentable.project, @comment.commentable)
  - object = 'issue'
- elsif @comment.commit_comment?
  - link = link_to @comment.commentable.message, commit_url(@comment.project, @comment.commentable_id)
  - object = 'commit'
%p #{ link_to @comment.user.uname, user_url(@comment.user)} added new comment to #{object} #{link}.

%p "#{ @comment.body }"


%p== Support team «ROSA Build System»
