.wrapper
  = f.text_area :body, :cols => 80
.comment-right
  = submit_tag t("layout.save")
-#.group
  = f.label :body, t("activerecord.attributes.comment.body"), :class => :label
  = f.text_area :body, :class => 'text_field', :cols => 80

-#.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("choose.png", :alt => t("layout.save"))
    = t("layout.save")
  %span.text_button_padding= t("layout.or")
  = link_to t("layout.cancel"), @commentable_path , :class => "text_button_padding link_button"
