.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t(@comment.commentable_type == 'Grit::Commit' ? "layout.git.repositories.commits" : "layout.issues.list"), @commentable_path
  .content
    %h2.title
      = t("layout.#{@comment.commentable_type == 'Grit::Commit' ? 'comments' : 'issues'}.edit_header")
    .inner
      = form_for @comment, :url => @update_url, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
