%h3= title t('layout.search.advanced')
= render 'form_advanced'
- if params[:type] == 'all'
  #all
    = render 'table', :type => 'projects'
    .both
    .left.width400.rmargin55
      = render 'table', :type => 'users'
      = render 'table', :type => 'groups'
    .left.width400
      = render 'table', :type => 'platforms'
- else
  - collection = instance_variable_get("@#{params[:type]}")
  .tmargin10{:id => params[:type]}= render :collection => collection, :partial => params[:type].to_s.underscore.singularize
  %br
  = will_paginate collection
.both
