- if controller_name != 'sessions'
  = link_to t("layout.devise.shared_links.sign_in"), new_session_path(resource_name), class: "text_button_padding link_button"
- if devise_mapping.registerable? && controller_name != 'registrations'
  =# link_to t("layout.devise.shared_links.sign_up"), new_registration_path(resource_name), class: "text_button_padding link_button"
  = link_to t("layout.devise.shared_links.sign_up"), new_user_registration_path, class: "text_button_padding link_button" # to prereg form
- if devise_mapping.recoverable? && controller_name != 'passwords'
  = link_to t("layout.devise.shared_links.forgot_password"), new_password_path(resource_name), class: "text_button_padding link_button"
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to t("layout.devise.shared_links.confirm_again"), new_confirmation_path(resource_name), class: "text_button_padding link_button"
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to t("layout.devise.shared_links.unlock"), new_unlock_path(resource_name), class: "text_button_padding link_button"
-# if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to t("layout.devise.shared_links.sign_in_through", provider: provider.to_s.classify), omniauth_authorize_path(resource_name, provider), class: "text_button_padding link_button"
