-render :partial => 'projects/submenu'
-render :partial => 'issues/manage_sidebar'
-content_for :right_nopadding do
  dummy
%h3.issue_title=@issue.title
.activity
  .top
    .image
      =image_tag(@issue.creator.avatar(42), :alt => 'avatar') if @issue.creator
    .text
      %span.name=link_to("#{@issue.creator.uname} (#{@issue.creator.name})", user_path(@issue.creator)) if @issue.creator
      %br/
      %span.date=@issue.created_at.to_s(:long)
      %br/
  .both
  .fulltext.view.issue_body=@issue.body
.both
%br
- if can? :write, @issue.project
  =link_to t('layout.edit'), '#', :id => 'edit_issue_content', :class => 'button'
  =form_for :issue, :url => [@project, @issue], :method => :put, :html => { :class => 'edit_form issue', :style => 'display:none;' } do |f|
    .leftlist= t('activerecord.attributes.issue.title') + ':'
    .rightlist= f.text_field :title
    .leftlist= t('activerecord.attributes.issue.body') + ':'
    .rightlist= f.text_area :body
    .both
    =f.submit t('layout.update'), :id => 'update_issue_content'
    =link_to t('layout.issues.cancel_button'), '#', :id => 'cancel_edit_issue_content', :class => 'button'
%br
=render :partial => 'issues/status'

= render :partial => "comments/list", :locals => {:list => @issue.comments, :project => @project, :commentable => @issue}
%br
= render :partial => "comments/add", :locals => {:project => @project, :commentable => @issue}