- commit_id = pull_diff.deleted_file ? @base_commit.id : @head_commit.id
.file
  %a{:name => "diff-#{pull_diff_counter}"}
  .top
    .l= h(pull_diff.renamed_file ? "#{pull_diff.a_path.rtruncate 60} -> #{pull_diff.b_path.rtruncate 60}" : pull_diff.a_path.rtruncate(120))
    - if pull_diff.b_path.present?
      .r= link_to "view file @ #{short_hash_id(commit_id)}", blob_path(@project, commit_id, pull_diff.b_path)
    .clear
  .diff_data= render_diff(pull_diff, pull_diff_counter) unless (Grit::Repo.new(@pull.path).tree(commit_id) / pull_diff.b_path).binary?
