-set_meta_tags :title => [title_object(@project), t('.title')]
= render :partial => 'submenu'
%h3.bpadding10= raw t '.new', {:base => @pull.base_ref, :head => @pull.head_ref}
%ul.nav.nav-tabs
  %li
    %a{"data-toggle" => "tab", :href => "#discussion"}=t 'pull_requests.tabs.discussion'
  %li
    %a{"data-toggle" => "tab", :href => "#diff"}="#{t'pull_requests.tabs.diff'} (#{@stats.count})"
  %li
    %a{"data-toggle" => "tab", :href => "#commits"}="#{t'pull_requests.tabs.commits'} (#{@commits.count})"
.tab-content.pull_diff_fix
  #discussion.tab-pane.active
    =form_for @pull, :url => (@pull.status != 'already' ? project_pull_requests_path : new_project_pull_requests_path), :html => {:class => 'well well-large'} do |f|
      .leftlist=f.label :base_project, t('.base_project'), :class => :label
      .rightlist
        = @pull.base_project.full_name
        =#f.autocomplete_field :base_project, autocomplete_base_project_name_project_pull_requests_path, :value => @pull.base_project.full_name, :id_element => '#pull_request_base_project_id'
        =#f.hidden_field :base_project_id
      .both
      .leftlist=f.label :base_ref, "#{t '.base_ref'} #{t '.refs'}", :class => :label
      .rightlist=f.autocomplete_field :base_ref, autocomplete_base_ref_project_pull_requests_path, :value => @pull.base_ref
      .both
      .leftlist=f.label :head_project, t('.head_project'), :class => :label
      .rightlist
        = @pull.head_project.full_name
        =#f.autocomplete_field :head_project, autocomplete_head_project_name_project_pull_requests_path, :value => @pull.head_project.full_name, :id_element => '#pull_request_head_project_id'
        =#f.hidden_field :head_project_id
      .both
      .leftlist=f.label :head_ref, "#{t '.head_ref'} #{t '.refs'}", :class => :label
      .rightlist=f.autocomplete_field :head_ref, autocomplete_head_ref_project_pull_requests_path, :value => @pull.head_ref
      .both
      = f.fields_for :issue do |issue|
        .leftlist=issue.label :title, t('activerecord.attributes.issue.title'), :class => :label
        .rightlist=issue.text_field :title
        .both
        .leftlist=issue.label :title, t('activerecord.attributes.issue.body'), :class => :label
        .rightlist=issue.text_area :body
        .both

      .leftlist=f.label :title, t('activerecord.attributes.issue.status'), :class => :label
      .rightlist=@pull.status
      .both
      .leftlist
      .rightlist=f.submit t(@pull.status != 'already' ? '.submit' : '.update'), :class => 'btn btn-primary disabled', 'data-loading-text' => t('layout.processing')#, :id => 'create_pull'
      .both

  =render 'diff_commits_tabs' if @pull.status != 'already'
