%h3= t("layout.projects.files_in_project")
.files
  .l
    = render :partial => 'git/shared/whereami'
.both

%table#myTable.tablesorter.project{:cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th.th1.header= t("layout.project.filename")
      %th.th2.header= t("layout.project.age")
      %th.th3= t("layout.project.message")
      %th.th4.header= t("layout.project.author")
  %tbody
    - if @path.present?
      %tr
        %td
          .pic
            %img{:src => "/assets/folder.png"}/
          .name
            = link_to "..", tree_path(@project, @treeish, File.join([@path.dup.encode_to_default, ".."].compact).encode_to_default)
        %td== &nbsp;
        %td== &nbsp;
        %td== &nbsp;
    - @project.tree_info(@tree, @treeish, @path).each_pair do |entry, commit|
      %tr
        %td
          - entry_path = File.join([@path.present? ? @path : nil, entry.name].compact).encode_to_default
          - if entry.is_a? Grit::Blob
            .pic
              %img{:src => "/assets/code.png"}/
            .name
              = link_to(entry.name, blob_path(@project, @treeish, entry_path), :class => 'files-see').encode_to_default
          - else
            .pic
              %img{:src => "/assets/folder.png"}/
            .name
              = link_to(entry.name, tree_path(@project, @treeish, entry_path), :class => 'files-see').encode_to_default
        %td
          %span{:style => "display: none;"}= commit.committed_date || commit.authored_date#> Dec 31, 2011
          = l(commit.committed_date || commit.authored_date, :format => :short) #31 декабря 2011
        %td
          = commit.short_message.encode_to_default #Redo autostart script to start from user
        %td
          = (commit.committer || commit.author).name.encode_to_default #chipiga
