= render :partial => 'projects/submenu'
= render :partial => 'projects/repo_block', :locals => {:project => @project}

.description
  %h3= t("layout.projects.about_subheader")
  %p
    = @project.description
    = link_to t('layout.read_more'), '#'

%h3= t("layout.projects.last_commit")
- GitPresenters::CommitAsMessagePresenter.present(@commit, :branch => @branch) do |presenter|
  = render :partial => 'shared/feed_message', :locals => {:presenter => presenter, :item_no => 1}

%h3= t("layout.projects.files_in_project")
.files
  .l
    = render :partial => 'git/shared/whereami'

  #fork-and-edit.r
    %a.button{:href => "#"} Fork and edit
.both

#file1
  %table#myTable.tablesorter.project{:cellpadding => "0", :cellspacing => "0"}
    %thead
      %tr
        %th.th1.header= t("layout.project.filename")
        %th.th2.header= t("layout.project.age")
        %th.th3= t("layout.project.message")
        %th.th4.header= t("layout.project.author")
    %tbody
      - if @path.present?
        %tr
          %td
            .pic
              %img{:src => "/assets/folder.png"}/
            .name
              = link_to "..", tree_path(@project, @treeish, File.join([@path.dup.encode_to_default, ".."].compact).encode_to_default)
          %td== &nbsp;
          %td== &nbsp;
          %td== &nbsp;
      - @project.tree_info(@tree, @treeish, @path).each_pair do |entry, commit|
        %tr
          %td
            - entry_path = File.join([@path.present? ? @path : nil, entry.name].compact).encode_to_default
            - if entry.is_a? Grit::Blob
              .pic
                %img{:src => "/assets/code.png"}/
              .name
                = link_to(entry.name, blob_path(@project, @treeish, entry_path), :class => 'files-see').encode_to_default
                -#%a.files-see{:href => "#"}= entry.name.encode_to_default
            - else
              .pic
                %img{:src => "/assets/folder.png"}/
              .name
                = link_to(entry.name, tree_path(@project, @treeish, entry_path), :class => 'files-see').encode_to_default
          %td
            %span{:style => "display: none;"}= commit.committed_date || commit.authored_date#> Dec 31, 2011
            = l(commit.committed_date || commit.authored_date, :format => :short) #31 декабря 2011
          %td
            = commit.short_message.encode_to_default #Redo autostart script to start from user
          %td
            = (commit.committer || commit.author).name.encode_to_default #chipiga







-#.block
  = render :partial => "git/shared/navigation"
  = render :partial => "git/shared/info"

-#- if @commit
  .block
    .content
      .inner
        = render :partial => "git/commits/commits", :object => [@commit]

-#.block
  .content
    .inner
      %h3= render_path

      %table.table.git_tree
        %tr
          %th.icon
          %th name
          %th age
          %th.last message

        - if @path.present?
          %tr.odd
            %td
            %td.icon
              = link_to "..", tree_path(@project, @treeish, File.join([@path, ".."].compact))
            %td== &nbsp;
            %td.last== &nbsp;
        - (@tree.trees + @tree.blobs).each do |entry|
          %tr{ :class => cycle("even", "odd")}
            %td.icon
              - if entry.is_a?(Grit::Blob)
                = image_tag("git/icons/text_document_16.png")
              - else
                = image_tag("git/icons/folder_16.png")
            %td.tree_element
              - entry_path = File.join([@path.present? ? @path.encode_to_default : nil, entry.name.encode_to_default].compact)
              - if entry.is_a?(Grit::Blob)
                = link_to entry.name.encode_to_default,
                  blob_path(@project, @treeish.encode_to_default, entry_path)
              - else
                = link_to "#{entry.name.encode_to_default}/",
                  tree_path(@project, @treeish.encode_to_default, entry_path)
            %td== &nbsp;
            %td.last== &nbsp;

-#- content_for :sidebar, render(:partial => 'git/shared/sidebar')
