- if current_user
  %input.form-control{ name: 'search', size: '30', type: 'text', 'ng-model' => 'search',
                       placeholder: t('layout.find_project'), 'ng-change' => 'getProjects()' }
  - if can?(:create, Project)
    %hr.offset20
      %p= link_to t('layout.projects.new'), new_project_path, class: 'btn btn-primary'
      - if can?(:mass_import, Project)
        %p= link_to t('layout.projects.mass_import'), mass_import_projects_path, class: 'btn btn-primary'
  %hr.offset20
    %h3=t('layout.relations.filters')
    %ul.nav.nav-pills.nav-stacked
      - options_for_filters(@projects, @groups, @owners).each do |options|
        %li{ 'ng-class' => "{active: #{options[:class_name]}_filter_#{options[:id]}_class}" }
          %a{ href: '#', 'ng-click' => "change_#{options[:class_name]}_filter(#{options[:id]})" }
            %span.badge.pull-right= options[:count]
            = options[:uname]
