- act = controller.action_name.to_sym
%div{'ng-controller' => 'ProjectFromController'}
  .leftlist= f.label :name
  .rightlist= f.text_field :name, class: 'text_field'
  .both
  .leftlist= f.label :description
  .rightlist= f.text_area :description, class: 'text_field', cols: 80
  .both
  - if [:new, :create].include? act
    = render 'owner', f: f

  .leftlist= f.label :visibility
  .rightlist
    - Project::VISIBILITIES.each do |visibility|
      = f.radio_button :visibility, visibility, class: 'niceRadio'
      - if visibility == 'open'
        = image_tag("unlock.png")
      - else
        = image_tag("lock.png")
      = t("activerecord.attributes.project.visibilities.#{visibility}")
  .both
  .leftlist
    \ 
  .rightlist
    .check= f.check_box :is_package, 'ng-model' => 'project.is_package', 'ng-change' => 'project.publish_i686_into_x86_64 = false'
    .forcheck= f.label :is_package
    .both
    %div{'ng-show' => 'project.is_package'}
      .check= f.check_box :architecture_dependent, 'ng-model' => 'project.architecture_dependent'
      .forcheck= f.label :architecture_dependent
      .both
    - unless [:new, :create].include? act
      #publish_form{'ng-show' => 'project.is_package'}
        .check= f.check_box :publish_i686_into_x86_64, 'ng-model' => 'project.publish_i686_into_x86_64'
        .forcheck= f.label :publish_i686_into_x86_64
        .both

  .both
  - if [:edit, :update].include? act
    .leftlist= f.label :default_branch
    .rightlist
      = f.select :default_branch,
            options_from_collection_for_select( @project.repo.branches,
                                                :name, :name, @project.default_branch),
            class: 'sel80', id: 'branch_selector'
    .both
    #maintainer_form{'ng-show' => 'project.is_package'}
      = f.hidden_field :maintainer_id, value: @project.maintainer_id
      .leftlist
        = f.label :maintainer
      .rightlist
        -# TODO: Maybe use something like Chosen with filter and prepopulated
        -#       list of potential maintainers?
        = autocomplete_field_tag :maintainer_name, @project.maintainer.fullname,
            autocomplete_maintainers_path(@project.owner, @project),
            id_element: '#project_maintainer_id',
            placeholder: @project.maintainer.fullname
  - if [:new, :create].include? act
    .leftlist= f.label :srpm
    .rightlist= f.file_field :srpm, class: 'file_field'
    .both
  .leftlist
    \ 
  .rightlist= submit_tag t('layout.save'), class: 'button', data: {'disable-with' => t('layout.saving')}
  .both

:javascript
  RosaABF.controller('ProjectFromController', ['$scope', function($scope) {
    $scope.project = {
      is_package:               #{@project.is_package},
      publish_i686_into_x86_64: #{@project.publish_i686_into_x86_64}
    }
  }]);