%tr{id: "Row#{project_counter}"}
  %td
    = link_to project do
      .table-sort-left= image_tag visibility_icon(project.visibility)
      .table-sort-right= link_to project.name_with_owner, project_path(project)
  %td.td2= project.description
  - alone_member = alone_member? project
  %td
    - c = participant_class(alone_member, project)
    %span{class: c, title: t("layout.relations.#{c}")}
      = t("layout.collaborators.role_names.#{current_user.best_role project}")
  %td.td5
    - unless project.owner == current_user or !alone_member
      = link_to remove_user_project_path(project), method: :delete, confirm: t("layout.confirm") do
        %span.delete &nbsp;
