-set_meta_tags title: [title_object(@project), t('layout.projects.edit')]
= render 'submenu'
= render 'sidebar'

= form_for @project, html: { class: :form, multipart: true } do |f|
  = render "form", f: f

.hr
.leftside= t("layout.projects.delete_warning")
.rightside= link_to t("layout.delete"), project_path(@project), method: :delete, confirm: t("layout.projects.confirm_delete"), class: 'button' if can? :destroy, @project
.both

