-set_meta_tags title: [title_object(@project), t('layout.projects.edit')]
= render 'submenu'
= render 'sidebar'

= form_for @project, html: { class: :form, multipart: true } do |f|
  = render "form", f: f
.hr

%h3= t("layout.projects.build_schedule")
%div{ 'ng-controller' => 'ProjectScheduleController', 'ng-init' => "name_with_owner = '#{@project.name_with_owner}'" }

  .leftlist= t('activerecord.attributes.project.autostart_status')
  .rightlist
    %select{ 'ng-options' => 'k as (v | i18n) for (k, v) in statuses', 'ng-model' => 'autostart_status', 'ng-change' => 'updateStatus()', 'ng-init' => "autostart_status = '#{@project.autostart_status}'" }
      %option{ value: '' }
  .both

  %table#myTable.tablesorter{cellspacing: "0", cellpadding: "0"}
    %thead
      %tr
        %th= t('activerecord.attributes.repository.name')
        %th= t('activerecord.attributes.build_list.auto_publish')
        %th= t('activerecord.attributes.project_to_repository.enabled')
    %tbody{'ng-init' => "items = #{available_project_to_repositories(@project)}"}
      %tr{'ng-repeat' => "item in items"}
        %td
          %a{'ng-href' => '{{item.repository_path}}'} {{item.repository_name}}
        %td
          %input{type: 'checkbox', 'ng-model' => "item.auto_publish", 'ng-change' => 'updateSchedule(item)'}
        %td
          %input{type: 'checkbox', 'ng-model' => "item.enabled", 'ng-change' => 'updateSchedule(item)'}
  .both

.hr
.leftside= t("layout.projects.delete_warning")
.rightside= link_to t("layout.delete"), project_path(@project), method: :delete, data: { confirm: t("layout.projects.confirm_delete") }, class: 'button' if can? :destroy, @project
.both

