-set_meta_tags title: [title_object(@project), t('layout.projects.edit')]
= render 'submenu'
= render 'sidebar'

= form_for @project, html: { class: :form, multipart: true } do |f|
  = render "form", f: f
.hr

%h3= t("layout.projects.build_schedule")
= form_for @project, html: { class: :form, multipart: true, 'ng-controller' => 'ProjectScheduleController', 'ng-init' => "project_id = #{@project.id}" } do |f|
  / .leftlist= f.label :default_platforms
  / .rightlist= f.select :default_platforms, Platform.main.map{ |p| [p.name, p.id] }, {include_blank: true}, multiple: true, size: 5
  / .both

  .leftlist= f.label :autostart_status
  .rightlist= f.select :autostart_status, Project::AUTOSTART_STATUSES.collect{|status| [Project.human_autostart_status(status), status]}, {include_blank: true, selected: @project.autostart_status}
  .both

.hr
.leftside= t("layout.projects.delete_warning")
.rightside= link_to t("layout.delete"), project_path(@project), method: :delete, confirm: t("layout.projects.confirm_delete"), class: 'button' if can? :destroy, @project
.both

