%h3.bpadding10= title t("layout.projects.mass_import")
= form_for @project, url: run_mass_import_projects_path, html: { class: :form } do |f|
  = f.hidden_field :mass_import
  .leftlist= f.label :url
  .rightlist= f.text_field :url
  .both
  .leftlist= f.label :srpms_list
  .rightlist= f.text_area :srpms_list
  .both
  .leftlist= f.label :add_to_repository_id
  .rightlist= f.select :add_to_repository_id, repositories_grouped_by_platform
  .both
  = render 'owner', f: f

  .leftlist= f.label :visibility
  .rightlist
    - Project::VISIBILITIES.each do |visibility|
      = f.radio_button :visibility, visibility, class: 'niceRadio'
      - if visibility == 'open'
        = image_tag("unlock.png")
      - else
        = image_tag("lock.png")
      = t("activerecord.attributes.project.visibilities.#{visibility}")
  .both
  .hr
  .button_block
    = f.submit t('layout.add'), data: {'disable-with' => t('layout.saving')}