-set_meta_tags title: [title_object(@project), t('layout.projects.sections')]
= render 'submenu'

.container.col-md-offset-2.col-md-8
  .row
    = render 'settings_menu'

    = simple_form_for @project, url:              sections_project_path(@project),
                                html:             { class: 'form-horizontal' },
                                wrapper:          :horizontal_form,
                                wrapper_mappings: { boolean: :horizontal_boolean } do |f|

      = f.input :has_issues, as: :boolean,
        hint: t('layout.projects.has_issue_description')

      = f.input :has_wiki, as: :boolean,
        hint: t('layout.projects.has_wiki_description')

      .col-sm-offset-3.col-sm-9
        = submit_button_tag
