-set_meta_tags :title => t('layout.users.settings_notifier')
%p
  = t("layout.settings.notifiers.notice_header", :email => @user.email)
  %br
  = link_to t("layout.settings.notifiers.change_email_link"), profile_settings_path
  %br
  %br

= form_for @user.notifier, :url => notifiers_settings_path, :html => {:class => :form} do |f|
  = render 'notifier', :f => f, :field => :can_notify
  %h3= t("layout.settings.notifiers.code_header")
  - [:new_commit, :new_comment_commit_owner, :new_comment_commit_repo_owner, :new_comment_commit_commentor].each do |field|
    = render 'notifier', :f => f, :field => field
  %h3= t("layout.settings.notifiers.tracker_header")
  - [:new_comment, :new_comment_reply, :new_issue, :issue_assign].each do |field|
    = render 'notifier', :f => f, :field => field
  %h3= t("layout.settings.notifiers.build_list_header")
  - [:new_build, :new_associated_build].each do |field|
    = render 'notifier', :f => f, :field => field

  %br
  .leftside.w25
    \ 
  .leftside.w420= submit_tag t('layout.save'), :data => {'disable-with' => t('layout.saving')}
  .both

:javascript
  disableNotifierCbx($('#settings_notifier_can_notify'));
  $('article .right').addClass('bigpadding');

- content_for :sidebar, render('sidebar')
