-set_meta_tags title: t('.title')
%h3.fix.bpadding10= @user.uname

= form_for @user, url: profile_settings_path, html: {class: :form} do |f|
  = render 'form', f: f

.notify
  %p= t('layout.users.public_data_edit_warning')
.notify
  %p= t('layout.avatars.avatar_notice')

:javascript
  $('article .right').addClass('middlepadding');

- content_for :sidebar, render('sidebar')
