%tr{:id => "Row#{project_counter}", :class => cycle('odd', 'even')}
  %td
    = link_to project do
      .table-sort-left= image_tag visibility_icon(project.visibility)
      .table-sort-right #{project.owner.uname} / #{project.name}
  %td.td2
    %span= project.description
  %td.buttons
    = link_to remove_project_platform_repository_path(@platform, @repository, :project_id => project.id), :method => :delete, :confirm => t("layout.confirm") do
      %span.delete &nbsp;
