-set_meta_tags :title => [title_object(@repository), t('layout.repositories.edit')]
= render 'submenu'
= render 'sidebar'

%h3.fix= "#{t("layout.repositories.about")}: #{@repository.name}"

= form_for @repository, :url => platform_repository_path(@platform, @repository), :html => { :class => :form } do |f|
  = render "form", :f => f
%br

- if can?(:update, @repository)
  .hr
  %h3= t('layout.repositories.extra_actions')

  = form_for @repository, :url => regenerate_metadata_platform_repository_path(@platform, @repository), :html => { :class => :form, :method => :put } do |f|
    .leftlist= t('layout.repositories.regenerate_metadata')
    .rightlist
      = select_tag :build_for_platform_id, options_from_collection_for_select(Platform.main, :id, :name) if @platform.personal?
      = f.submit t('layout.repositories.regenerate_metadata'), :confirm => t('layout.confirm')
  .both

  - if @platform.main?
    - if @repository.sync_lock_file_exists?
      - label = t('layout.repositories.remove_sync_lock_file')
      - path  = sync_lock_file_platform_repository_path(@platform, @repository, :remove => true)
    - else
      - label = t('layout.repositories.add_sync_lock_file')
      - path  = sync_lock_file_platform_repository_path(@platform, @repository)
    = form_for @repository, :url => path, :html => { :class => :form, :method => :put } do |f|
      .leftlist= t('layout.repositories.sync_lock_file_info')
      .rightlist= f.submit label, :confirm => t('layout.confirm')
    .both
  .hr



- if @platform.main?
  = render "shared/members_table",
    :remove_members_path => remove_members_platform_repository_path(@platform, @repository),
    :remove_member_path => remove_member_platform_repository_path(@platform, @repository),
    :add_member_path => add_member_platform_repository_path(@platform, @repository),
    :members => @members,
    :editable_object => @repository
