-set_meta_tags :title => [title_object(@repository), t('layout.repositories.edit')]
= render 'submenu'
= render 'sidebar'

%h3.fix= "#{t("layout.repositories.about")}: #{@repository.name}"

= form_for @repository, :url => platform_repository_path(@platform, @repository), :html => { :class => :form } do |f|
  = render "form", :f => f
%br

- if can?(:update, @repository)
  .hr
  %h3= t('layout.repositories.extra_actions')

  .leftlist= t('layout.repositories.regenerate_metadata')
  .rightlist= link_to t('layout.repositories.regenerate_metadata'),
            regenerate_metadata_platform_repository_path(@platform, @repository),
            :method => :put, :confirm => t('layout.confirm'), :class => 'button'

  - if @platform.main?
    .leftlist= t('layout.repositories.sync_lock_file_info')
    - if @repository.sync_lock_file_exists?
      - label = t('layout.repositories.remove_sync_lock_file')
      - path  = sync_lock_file_platform_repository_path(@platform, @repository, :remove => true)
    - else
      - label = t('layout.repositories.add_sync_lock_file')
      - path  = sync_lock_file_platform_repository_path(@platform, @repository)

    .rightlist= link_to label, path, :method => :put, :confirm => t('layout.confirm'), :class => 'button'
    .both
  .hr



- if @platform.main?
  = render "shared/members_table",
    :remove_members_path => remove_members_platform_repository_path(@platform, @repository),
    :remove_member_path => remove_member_platform_repository_path(@platform, @repository),
    :add_member_path => add_member_platform_repository_path(@platform, @repository),
    :members => @members,
    :editable_object => @repository
