= render 'submenu'
= render 'sidebar'

%h3= raw "#{t("layout.repositories.add_projects_to")}: #{link_to @repository.name, platform_repository_path(@platform, @repository)}"

= form_for :repository, url: add_project_platform_repository_path(@platform, @repository), method: :put, html: { class: :form } do |f|
  .leftlist= f.label :projects_list
  .rightlist= f.text_area :projects_list
  .both
  .hr
  .button_block
    = submit_tag t('layout.add'), data: {'disable-with' => t('layout.saving')}

= render 'proj_list', object: @projects
