-set_meta_tags :title => title_object(@repository)
= render 'submenu'
= render 'sidebar'

%h3.fix
  = "#{t("layout.repositories.about")}: "
  - if can? :edit, @repository
    = link_to @repository.name, edit_platform_repository_path(@platform, @repository)
  - else
    = @repository.name

%p= @repository.description

%br
%br
%h3.fix= t("layout.projects.list_header")
- if can? :add_project, @repository
  = link_to t("layout.projects.add"), add_project_platform_repository_path(@platform, @repository), :class => 'button'

= render 'proj_list'
