-set_meta_tags title: title_object(@repository)
= render 'submenu'
= render 'sidebar'

%h3 #{t("layout.repositories.about")} #{@repository.name}

%p= @repository.description

.buttons_block
  - if can? :update, @repository
    = link_to image_tag("code.png", alt: t("layout.edit")) + " " + t("layout.edit"), edit_platform_repository_path(@platform, @repository), class: "button"
  - if can? :destroy, @repository
    = link_to image_tag("x.png", alt: t("layout.delete")) + " " + t("layout.delete"), platform_repository_path(@platform, @repository), method: "delete", class: "button", confirm: t("layout.repositories.confirm_delete")
%br
%br
%h3.fix= t("layout.projects.list_header")
- if can? :add_project, @repository
  = link_to t("layout.projects.add"), add_project_platform_repository_path(@platform, @repository), class: 'button'
- if can? :remove_project, @repository
  = link_to t("layout.repositories.mass_delete"), remove_project_platform_repository_path(@platform, @repository), class: 'button'

= render 'proj_list'
