.row
  .span12
    %h3.text-info
      = t('.header')

.row
  .span8
    .graph-wrapper
      %h3
        %span.graph-key-color1
        = t('.commits_title')
      .centered.graph-loading{ ng_show: 'loading' }
        = image_tag 'loading-large.gif'
      .no-data{ ng_hide: 'loading || statistics.commits' }
        = t('.no_data')
      %canvas#commits_chart{ ng_show: 'statistics.commits' }

  .span3
    .panel-wrapper
      %h3
        = t('.total_commits')
      .panel-data
        = image_tag 'loading-small.gif', ng_show: 'loading'
        .no-data{ ng_hide: 'loading || statistics.commits.commits_count >= 0' }
          = t('.no_data')
        {{ statistics.commits.commits_count | number }}
