.pull-left
  = @blob.mode
  \|
  - if @blob.render_as == :text
    #{@blob.loc} lines (#{@blob.sloc} sloc)
    \|
  = number_to_human_size @blob.size
.pull-right
  - if @blob.render_as == :text && can?(:write, @project) && @branch.present?
    = link_to "Edit", edit_blob_path(@project, @treeish, @path)
    \|
  - if @blob.render_as == :text && params[:action] != 'show'
    = link_to "Normal", blob_path(@project, @treeish, @path)
    \|
  - unless @blob.huge?
    = link_to "Raw", raw_path(@project, @treeish, @path)
    \|
  - if @blob.render_as == :text && params[:action] != 'blame'
    = link_to "Blame", blame_path(@project, @treeish, @path)
    \|
  = link_to "History", commits_path(@project, @treeish, @path)
.clearfix