-set_meta_tags title: "#{title_object @project} #{t('at') if @branch} #{@branch.try :name}"
= render 'submenu'
= render 'repo_block', project: @project
= render 'about_block', project: @project


%h3= t("layout.projects.last_commit")
- GitPresenters::CommitAsMessagePresenter.present(@commit, project: @project) do |presenter|
  = render 'shared/feed_message', presenter: presenter, item_no: 1

.both

#repo-wrapper
  %h3= t("layout.projects.files_in_project")
  .files
    .l= render 'whereami'
  .both

  .file
    .top= render 'top'
    .blame_data= render 'blame_table' if @blame.first.first.present?
