.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to t("layout.event_logs.list"), event_logs_path
  .content
    %h2.title
      = t("layout.event_logs.list_header")
    .inner
      %table.table
        %tr
          %th.first= t("activerecord.attributes.event_log.kind")
          %th= t("activerecord.attributes.event_log.created_at")
          %th= t("activerecord.attributes.event_log.user")
          %th= t("activerecord.attributes.event_log.ip")
          %th= t("activerecord.attributes.event_log.protocol")
          %th.last= t("activerecord.attributes.event_log.description")
        = render @event_logs
      .actions-bar.wat-cf
        .actions= will_paginate

= render 'admin/submenu'
