- commit_id = commit_diff.deleted_file ? @commit.parents.first.id : @commit.id
.file
  %a{name: "diff-#{commit_diff_counter}"}
  .top
    .l= h(commit_diff.a_path.rtruncate 120)
    - if commit_diff.b_path.present?
      .r= link_to "view file @ #{short_hash_id(commit_id)}", blob_path(@project, commit_id, commit_diff.b_path)
    .clear
  - if commit_diff.diff.present?
    - blob = @project.repo.tree(commit_id) / commit_diff.a_path
    - if blob.render_as == :image
      %table.diff.inline{ cellspacing: 0, cellpadding: 0 }
        %tr
          %td.lines
          %td.blob.diff-image
            %span.diff-image
              %img{ src: "data:#{blob.mime_type};base64,#{Base64.encode64(blob.data)}",
                    style: 'max-width: 600px;' }
    - elsif !blob.binary?
      - if (@project.repo.tree(commit_id) / commit_diff.b_path).nil?
        ="a_path=#{commit_diff.a_path}; b_path=#{commit_diff.b_path}"
      .diff_data=render_diff(commit_diff, diff_counter: commit_diff_counter, comments: @comments)
