-set_meta_tags title: [title_object(@project), "#{t '.title'} #{t('at') if @branch} #{@branch.try :name}"]
= render 'submenu'
= render 'repo_block', project: @project

= render partial: 'commits', object: @commits
= render 'paginate' if @path.blank?
