.group
  = f.label :can_notify, t('activerecord.attributes.settings.notifier.can_notify'), :class => :label
  = f.check_box :can_notify#, :class => 'text_field'

.group
  = f.label :new_comment, t('activerecord.attributes.settings.notifier.new_comment'), :class => :label
  = f.check_box :new_comment, :class => 'notify_cbx'

.group
  = f.label :new_comment_reply, t('activerecord.attributes.settings.notifier.new_comment_reply'), :class => :label
  = f.check_box :new_comment_reply, :class => 'notify_cbx'

.group
  = f.label :new_issue, t('activerecord.attributes.settings.notifier.new_issue'), :class => :label
  = f.check_box :new_issue, :class => 'notify_cbx'

.group
  = f.label :issue_assign, t('activerecord.attributes.settings.notifier.issue_assign'), :class => :label
  = f.check_box :issue_assign, :class => 'notify_cbx'

.group
  = f.label :new_comment_commit_owner, t('activerecord.attributes.settings.notifier.new_comment_commit_owner'), :class => :label
  = f.check_box :new_comment_commit_owner, :class => 'notify_cbx'

.group
  = f.label :new_comment_commit_repo_owner, t('activerecord.attributes.settings.notifier.new_comment_commit_repo_owner'), :class => :label
  = f.check_box :new_comment_commit_repo_owner, :class => 'notify_cbx'

.group
  = f.label :new_comment_commit_commentor, t('activerecord.attributes.settings.notifier.new_comment_commit_commentor'), :class => :label
  = f.check_box :new_comment_commit_commentor, :class => 'notify_cbx'

.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => t("layout.save"))
    = t("layout.save")
  %span.text_button_padding= t("layout.or")
  = link_to t("layout.cancel"), user_settings_notifier_path(@user), :class => "text_button_padding link_button"

:javascript
  disableNotifierCbx($('#settings_notifier_can_notify'));
