.group
  = f.label :new_comment, t('activerecord.attributes.settings.notifier.new_comment'), :class => :label
  = f.check_box :new_comment#, :class => 'text_field'

.group
  = f.label :new_comment_reply, t('activerecord.attributes.settings.notifier.new_comment_reply'), :class => :label
  = f.check_box :new_comment_reply#, :class => 'text_field'

.group
  = f.label :new_issue, t('activerecord.attributes.settings.notifier.new_issue'), :class => :label
  = f.check_box :new_issue#, :class => 'text_field'

.group
  = f.label :issue_assign, t('activerecord.attributes.settings.notifier.issue_assign'), :class => :label
  = f.check_box :issue_assign#, :class => 'text_field'
  
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => t("layout.save"))
    = t("layout.save")
  %span.text_button_padding= t("layout.or")
  = link_to t("layout.cancel"), user_settings_notifier_path(@user), :class => "text_button_padding link_button"

