.leftside.w25
  = f.check_box :can_notify
.leftside
  = f.label :can_notify, t('activerecord.attributes.settings.notifier.can_notify')
.both
%h3= t("layout.settings.notifiers.code_header")
.leftside.w25
  = f.check_box :new_comment_commit_owner, :class => 'notify_cbx'
.leftside
  = f.label :new_comment_commit_owner, t('activerecord.attributes.settings.notifier.new_comment_commit_owner')
.both
.leftside.w25
  = f.check_box :new_comment_commit_repo_owner, :class => 'notify_cbx'
.leftside
  = f.label :new_comment_commit_repo_owner, t('activerecord.attributes.settings.notifier.new_comment_commit_repo_owner')
.both
.leftside.w25
  = f.check_box :new_comment_commit_commentor, :class => 'notify_cbx'
.leftside
  = f.label :new_comment_commit_commentor, t('activerecord.attributes.settings.notifier.new_comment_commit_commentor')
.both
%h3= t("layout.settings.notifiers.tracker_header")
.leftside.w25
  = f.check_box :new_comment, :class => 'notify_cbx'
.leftside
  = f.label :new_comment, t('activerecord.attributes.settings.notifier.new_comment')
.both
.leftside.w25
  = f.check_box :new_comment_reply, :class => 'notify_cbx'
.leftside
  = f.label :new_comment_reply, t('activerecord.attributes.settings.notifier.new_comment_reply')
.both
.leftside.w25
  = f.check_box :new_issue, :class => 'notify_cbx'
.leftside
  = f.label :new_issue, t('activerecord.attributes.settings.notifier.new_issue')
.both
.leftside.w25
  = f.check_box :issue_assign, :class => 'notify_cbx'
.leftside
  = f.label :issue_assign, t('activerecord.attributes.settings.notifier.issue_assign')
.both

%br
.leftside.w25
  \ 
.leftside.w420
  = submit_tag t("layout.save")
.both

:javascript
  disableNotifierCbx($('#settings_notifier_can_notify'));
