.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to t("layout.groups.list"), users_path
      %li= link_to t("layout.groups.new"), new_group_path
  .content
    %h2.title
      = t("layout.groups.list_header")
    .inner
      %table.table
        %tr
          %th.first ID
          %th= t("activerecord.attributes.group.name")
          %th= t("activerecord.attributes.group.owner")
          %th.last &nbsp;
        - @groups.each do |group|
          %tr{:class => cycle("odd", "even")}
            %td
              = group.id
            %td
              = link_to group.name, group_path(group)
            %td
              = link_to group.owner.name, user_path(group.owner)
            %td.last
              = raw [(link_to t("layout.edit"), edit_group_path(group) if can? :update, group),
                (link_to t("layout.delete"), group_path(group), :method => :delete, :confirm => t("layout.groups.confirm_delete") if can? :destroy, group)].compact.join('&nbsp;|&nbsp;')
      .actions-bar.wat-cf
        .actions= will_paginate @groups, :param_name => :group_page

-# content_for :sidebar, render('sidebar')
