%h2.title= t("layout.users.filter_header")

= form_for :filter, :url => @action_url, :html => { :method => :get, :class => :form } do |f|
  .columns.wat-cf
    .column.left
      .group
        = f.label :status, t("activerecord.attributes.users.email"), :class => :label
        = f.text_field :email, :class => :text_field, :value => @email

  .group.navform.wat-cf
    %button.button{ :type => "submit" }
      = image_tag("choose.png", :alt => "Save")
      = t("layout.search")

