%h1= @user.name
= form_for @user do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.submit
    = link_to t('layout.users.back_to_the_list'), users_path
