.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to t("layout.users.list"), users_path
      %li= link_to t("layout.users.new"), new_user_path
  .content
    %h2.title
      = t("layout.users.list_header")
    .inner
      %table.table
        %tr
          %th.first ID
          %th= t("activerecord.attributes.user.name")
          %th= t("activerecord.attributes.user.email")
          %th= t("activerecord.attributes.user.role")
          %th.last &nbsp;
        - @users.each do |user|
          %tr{:class => cycle("odd", "even")}
            %td= user.id
            %td= link_to user.name, user_path(user)
            %td= user.email
            %td= user.role
            %td.last
              - if can? :read, user
                = link_to t("layout.show"), user_path(user)
                \|
              - if can? :edit, user
                #{link_to t("layout.edit"), edit_user_path(user)}
                \|
              - if can? :destroy, user
                #{link_to t("layout.delete"), user_path(user), :method => :delete, :confirm => t("layout.users.confirm_delete")}
      .actions-bar.wat-cf
        .actions= will_paginate @users, :param_name => :user_page
