.block
  %h2= t('devise.passwords.edit')
  .content
    - if resource.errors.present?
      .flash
        .message.error
          - messages = resource.errors.full_messages.map { |msg| content_tag(:p, msg) }.join.html_safe
          = messages

    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form" }) do |f|
      = f.hidden_field :reset_password_token
      .group.wat-cf
        .left
          = f.label :password, :class => "label"
        .right
          = f.text_field :password, :class => "text_field"
      .group.wat-cf
        .left
          = f.label :password_confirmation, :class => "label"
        .right
          = f.text_field :password_confirmation, :class => "text_field"

      .group.navform.wat-cf
        %button.button{ :tyle => "submit" }
          #{image_tag("web-app-theme/icons/application_edit.png", :alt => t("devise.passwords.edit_button"))} #{t("devise.passwords.edit_button")}
        %span.text_button_padding
        = render :partial => "devise/shared/links"
