.block
  %h2= title t('devise.passwords.link')
  .content
    - if resource.errors.present?
      .flash
        .message.error
          - messages = resource.errors.full_messages.map { |msg| content_tag(:p, msg) }.join.html_safe
          = messages

    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form" }) do |f|
      .group.wat-cf
        .left
          = f.label :email, :class => "label"
        .right
          = f.text_field :email, :class => "text_field"

      .group.navform.wat-cf
        %button.button{:tyle => "submit"}
          = image_tag "web-app-theme/icons/tick.png", :alt => t("devise.passwords.button")
          = t("devise.passwords.button")
        %span.text_button_padding
        = render :partial => "devise/shared/links"