#gollum-editor{class: "#{@new ? 'create' : 'edit'}", :'data-escaped-name' => escaped_name}
  = form_tag editor_path(@project, @name), name: 'gollum-editor', method: @new ? :post : :put do
    %fieldset#gollum-editor-fields
      - if @new
        #gollum-editor-title-field.singleline
          = label_tag :page, t("wiki.page_title"), class: 'jaws'
          = text_field_tag :page, @name,  id: "gollum-editor-page-title"
      - else
        = hidden_field_tag :page, @name, id: "gollum-editor-page-title"

      = render 'editor_toolbar'

      = text_area_tag :content, @content, id: "gollum-editor-body", :'data-markup-lang' => format

      - if has_footer?
        #gollum-editor-edit-footer.collapsed
          = link_to "#", class: "button" do
            %span= t("wiki.expand_collapse")
          %h4= t("wiki.footer")
          = text_area_tag :footer, footer.text_data

      - if has_sidebar?
        #gollum-editor-edit-sidebar.collapsed
          = link_to "#", class: "button" do
            %span= t("wiki.expand_collapse")
          %h4= t("wiki.sidebar")
          = text_area_tag :sidebar, sidebar.text_data

      #gollum-editor-edit-summary.singleline
        = label_tag :message, t("wiki.edit_commit_message"), class: "jaws"
        = text_field_tag :message, t("wiki.commit_message_placeholder"), id: "gollum-editor-message-field"

      %span.jaws
        %br

      = submit_tag t('wiki.save_button'), id: 'gollum-editor-submit', title: t('wiki.save_changes'), data: {'disable-with' => t('layout.saving')}
      = link_to t("wiki.preview"), "javascript:void(0)", id: "gollum-editor-preview", class: "minibutton", title: t("wiki.preview_title"), :'data-url' => preview_project_wiki_index_path(@project)
