%p
- if @results.present?
  - @results.each do |result|
    - if action_name == 'search'
      = link_to result[:name], project_wiki_path(@project, CGI.escape(result[:name]))
      %span.count= "(#{result.count} #{t("wiki.matches")})"
    -else
      = link_to result.name, project_wiki_path(@project, CGI.escape(result.name))
    %br
- else
  %p#no-results
    - @st_ref = capture do
      %strong= @ref || @query
    - if action_name == 'search'
      = raw t("wiki.no_results_for_search", query: @st_ref)
    - else
      = raw t("wiki.no_pages_in", ref: @st_ref)
