- act = action_name.intern
%aside
  .admin-preferences
    %ul
      %li{class: ((act == :show and @name == 'Home') or act == :index) ? 'active' : ''}
        = link_to t("wiki.home"), project_wiki_index_path(@project)
      %li{class: (act == :pages) ? 'active' : ''}
        = link_to t("wiki.pages"), pages_project_wiki_index_path(@project)
      %li{class: (act == :wiki_history or act == :compare_wiki) ? 'active' : ''}
        = link_to t("wiki.wiki_history"), history_project_wiki_index_path(@project)
      %li{class: (act == :git) ? 'active' : ''}
        = link_to t("wiki.git_access"), git_project_wiki_index_path(@project)
    %br
    = render 'searchbar'