-set_meta_tags title: [title_object(@project), t('.title')]
= render 'gollum_includes'
/ = render 'project_short'
= render 'submenu'

%h3.wiki
  - if @name
    = t("wiki.history_for")
    %strong= @page.name
  - else
    = t("wiki.wiki_history")

%br
%br

.r
  - if can? :read, @project
    = link_to t("wiki.back_to_history"), @name ? history_project_wiki_path(@project, escaped_name) : history_project_wiki_index_path(@project), class: 'button width100'

#wiki-content= render "compare"

- content_for :sidebar do
  - render 'sidebar'
