-set_meta_tags title: [title_object(@project), "#{t('wiki.editing_page')} #{@page.name}"]
= render 'gollum_includes'
/ = render 'project_short'
= render 'submenu'
.left
  %h3
    = t("wiki.editing_page")
    %strong= @page.name
- if can? :read, @project
  .r= link_to t("wiki.view_page"), view_path(@project, escaped_name), class: 'action-view-page button'
  .r= link_to t("wiki.page_history"), history_project_wiki_path(@project, escaped_name), class: 'aciton-view-history button'
.both
#wiki-content= render "editor"

:javascript
  jQuery(document).ready(function() {
    $.GollumEditor();
  });

:css
  #gollum-editor { width: 100%; }

- content_for :sidebar do
  - render 'sidebar'
