-set_meta_tags title: [title_object(@project), @page.name]

= render 'submenu'
.left
  %h3
    = @page.name
    = "(#{t("wiki.preview")})" if action_name == 'preview'
- unless action_name == 'preview'
  .r
    = link_to t("wiki.page_history"), history_project_wiki_path(@project, escaped_name), class: 'button'
  .r
    - if @editable
      = link_to t("wiki.edit_page"), edit_project_wiki_path(@project, escaped_name), class: 'button'
  .r
    - if can? :write, @project
      = link_to t("wiki.new_page"), '#', :'data-url' => project_wiki_index_path(@project), id: 'minibutton-new-page', class: 'button'
.both
/ = render 'searchbar'
= render "page"

- content_for :sidebar do
  - render 'sidebar'

:css
  #wiki-content .wrap { width: 100% }
