.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.collaborators.back_to_proj"), project_path(@project)
      %li.active= link_to t("layout.collaborators.edit"), edit_project_collaborators_path(@project)
  .content
    .inner
      = form_tag project_collaborators_path(@project) do
        %h2.title= t("layout.users.list_header")
        %table.table
          %tr
            %th.first ID
            %th= t("activerecord.attributes.user.name")
            %th= t("activerecord.attributes.user.roles")
            %th= t("activerecord.attributes.user.uname")
            %th.last= t("layout.collaborators.add")
          - @users.each do |user|
            %tr{:class => cycle("odd", "even")}
              %td
                = user.id
              %td
                = link_to user.name, edit_project_collaborator_path(@project, user)
              %td
                - user.roles_to(@project).reject{|r| r.on == nil or r.on == ''}.each do |r|
                  = r.name
                  %br
              %td
                = user.uname
              %td.last
                = check_box_tag "user[#{user.id}]", '1', (@project.collaborators.include? user) ? :checked : nil
                = label_tag "user[#{user.id}]", t("layout.collaborators.add")
        /%h2.title= t("layout.groups.list_header")
        /%table.table
        /  %tr
        /    %th.first ID
        /    %th= t("activerecord.attributes.group.name")
        /    %th= t("activerecord.attributes.group.uname")
        /    %th.last= t("layout.collaborators.add")
        /  - @groups.each do |group|
        /    %tr{:class => cycle("odd", "even")}
        /      %td
        /        = group.id
        /      %td
        /        = link_to group.name, group_path(group)
        /      %td
        /        = group.uname
        /      %td.last
        /        = check_box_tag "group[#{group.id}]", '1', (@project.groups.include? group) ? :checked : nil
        /        = label_tag "group[#{group.id}]", t("layout.collaborators.add")
        .group.navform.wat-cf
          %button.button{:type => "submit"}
            = image_tag("web-app-theme/icons/tick.png", :alt => t("layout.save"))
            = t("layout.save")
          %span.text_button_padding= t("layout.or")
          = link_to t("layout.cancel"), project_path(@project), :class => "text_button_padding link_button"
