%h3= t("layout.advisories.form_header")

.form-group
  = f.label :description, t("activerecord.attributes.advisory.description")
  = f.text_area :description, class: 'form-control', cols: 80

.form-group
  = f.label :references, t("activerecord.attributes.advisory.references")
  %p.help-block
    = t("layout.advisories.ref_comment")
  = f.text_area :references, class: 'form-control', cols: 80
