%h3= t("layout.advisories.form_header")

.leftlist
  = f.label :description, t("activerecord.attributes.advisory.description")
.rightlist
  = f.text_area :description, class: 'text_field', cols: 80
.both

.leftlist
  = f.label :references, t("activerecord.attributes.advisory.references")
  %span.hint
    = t("layout.advisories.ref_comment")
.rightlist
  = f.text_area :references, class: 'text_field', cols: 80
.both
