- set_meta_tags title: [title_object(@advisory), t('activerecord.models.advisory')]
- render partial: 'submenu'

%h3= "#{t("activerecord.models.advisory")} #{@advisory.advisory_id}".html_safe

.leftlist= "#{t("layout.advisories.project_names")}:".html_safe
.rightlist
  = raw @advisory.projects.map{ |p| link_to p.name_with_owner, project_path(p) }.join(', ')
.both

.leftlist= "#{t("activerecord.attributes.advisory.created_at")}:".html_safe
.rightlist= @advisory.created_at
.both

.leftlist= "#{t("activerecord.attributes.advisory.advisory_id")}:".html_safe
.rightlist= @advisory.advisory_id
.both

.leftlist= "#{t("layout.advisories.affected_versions")}:".html_safe
.rightlist
  - @advisory.platforms.each do |platform|
    = link_to platform_printed_name(platform), platform_path(platform)
    %br
.both

.leftlist= "#{t("activerecord.attributes.advisory.description")}:".html_safe
.rightlist= simple_format @advisory.description
.both

.leftlist= "#{t("activerecord.attributes.advisory.references")}:".html_safe
.rightlist
  - @advisory.references.gsub(/\r| /, '').split("\n").each do |ref|
    = construct_ref_link(ref)
    %br
.both

.leftlist= "#{t("layout.advisories.build_lists")}:".html_safe
.rightlist
  = raw @advisory.build_lists.map{ |bl| link_to bl.id, build_list_path(bl) }.join(', ')
.both

= render partial: 'packages_info'

:javascript
  $('article .all').addClass('bigpadding');
