- unless ['edit', 'update'].include? controller.action_name
  .leftlist= f.label :name, :class => :label
  .rightlist= f.text_field :name, :class => 'text_field'
  .both

.leftlist= f.label :description, :class => :label
.rightlist= f.text_area :description, :class => 'text_field'
.both

- unless ['edit', 'update'].include? controller.action_name
  .leftlist= f.label :distrib_type, :class => :label
  .rightlist= f.select :distrib_type, options_for_select(APP_CONFIG['distr_types'])
  .both

  -#.leftlist= f.label :parent, :class => :label
    .rightlist= f.collection_select :parent_platform_id, Platform.all, :id, :description, :include_blank => true
    .both

- unless @platform.platform_type.in? ['personal']
  .leftlist= f.label :released, :class => :label
  .rightlist= f.check_box :released, :class => 'check_box'
  .both

  .leftlist= label_tag "", t("layout.platforms.admin_id"), :class => :label
  .rightlist= autocomplete_field_tag 'admin_id', @admin_uname, autocomplete_user_uname_autocompletes_path, :id_element => '#admin_id_field'
  = hidden_field_tag 'admin_id', @admin_id, :id => 'admin_id_field'
  .both

.button_block
  = submit_tag t('layout.save'), :data => {'disable-with' => t('layout.saving')}
  -#%input.button{:type => "submit", :class => "button"}
    -#= image_tag("choose.png", :alt => t("layout.save"))
    -#= t("layout.clone")
  %span.text_button_padding= t("layout.or")
  = link_to t("layout.cancel"), @platform.new_record? ? root_path : platform_path(@platform), :class => "button"
