- content_for(:sidebar) do
  = form_for :build, :url => build_all_platform_path(@platform), :html => { :class => :form, :method => :post } do |f|
    .table
      %h3= t("activerecord.attributes.build_list.build_for_platform")
      - @platform.repositories.each do |rep|
        .righter
          = check_box_tag "repositories[]", rep.id, (params[:repositories]||[]).include?(rep.id.to_s), :id => "repositories_#{rep.id}"
          = label_tag "repositories_#{rep.id}", rep.name
    .both
    .table
      %h3= t("activerecord.attributes.build_list.arch")
      - Arch.recent.each do |arch|
        .righter
          = check_box_tag "arches[]", arch.id, (params[:arches]||[]).include?(arch.id.to_s), :id => "arches_#{arch.id}"
          = label_tag "arches_#{arch.id}", arch.name
    .both
    .table
      %h3= t("activerecord.attributes.build_list.preferences")
      .righter
        = check_box_tag :auto_publish, true, params[:auto_publish].present?, :id => 'auto_publish'
        = label_tag :auto_publish
    .both
    %br
    = f.submit t("layout.projects.build_button")

    %table{:cellpadding => "0", :cellspacing => "0"}
      %tbody
        - ['BuildList::BUILD_PUBLISHED', 'BuildServer::SUCCESS', 'BuildServer::BUILD_STARTED', 'BuildList::BUILD_PENDING', 'BuildServer::BUILD_ERROR'].each do |state|
          %tr
            %td.first
              = t("layout.build_lists.statuses.#{state.demodulize.downcase}")
            %td= BuildList.for_status(state.constantize).for_user(current_user).for_platform(@platform).count
        %tr
          %td.first
            = link_to t("layout.activity_feed.all_my_builds"), build_lists_path
          %td  

  .buttons_block
    - if can? :build_all, @platform
      = link_to t("layout.platforms.build_all"), build_all_platform_path(@platform), :confirm => I18n.t("layout.confirm"), :method => :post, :class => "button left_floated"
    -# if can? :cancel_all, @platform
      = link_to t("layout.platforms.cancel_all"), cancel_all_platform_path(@platform), :confirm => I18n.t("layout.confirm"), :method => :post, :class => "button left_floated"

%h3.fix= t("layout.platforms.mass_rebuild")

%table.tablesorter.unbordered
  %thead
    %tr
      %th.lpadding16= t('layout.platforms.project')
      %th.lpadding16= t('layout.platforms.arch')
      %th.lpadding16= t('layout.platforms.build_task')
    %tr
  - @build_lists.each do |build_list|
    %tr{:class => "#{build_list_status_color(build_list.status)}"}
      %td= link_to build_list.project.name, project_path(build_list.project)
      %td= build_list.arch.name
      %td= link_to (build_list.bs_id.present? ? build_list.bs_id : t("layout.build_lists.bs_id_not_set")), build_list
