= form_for :build, :url => build_all_platform_path(@platform), :html => { :class => 'form mass_build', :method => :post } do |f|
  %section.left
    %h3= t("activerecord.attributes.build_list.build_for_platform")
    - @platform.repositories.each do |rep|
      = check_box_tag "repositories[]", rep.id, (params[:repositories]||[]).include?(rep.id.to_s), :id => "repositories_#{rep.id}"
      = label_tag "repositories_#{rep.id}", rep.name
      .both
  %section.right
    %h3= t("activerecord.attributes.build_list.arch")
    - Arch.recent.each do |arch|
      .lefter
        = check_box_tag "arches[]", arch.id, (params[:arches]||[]).include?(arch.id.to_s), :id => "arches_#{arch.id}"
        = label_tag "arches_#{arch.id}", arch.name
      .both
    %h3= t("activerecord.attributes.build_list.preferences")
    .both
      = check_box_tag :auto_publish, true, params[:auto_publish].present? ? params[:auto_publish].present? : true, :id => 'auto_publish'
      = label_tag :auto_publish
    %br
    = f.submit t("layout.projects.build_button")
