= render 'submenu'
= render 'sidebar'

= form_for :build, :url => build_all_platform_path(@platform), :html => { :class => 'form mass_build', :method => :post } do |f|
  %section.left
    %h3= t("layout.mass_builds.repositories")
    - @platform.repositories.each do |rep|
      .both
        = check_box_tag "repositories[]", rep.id, (params[:repositories]||[]).include?(rep.id.to_s), :id => "repositories_#{rep.id}"
        = label_tag "repositories_#{rep.id}", rep.name
    %br
    = f.submit t("layout.projects.build_button")
  %section.right
    %h3= t("activerecord.attributes.build_list.arch")
    - Arch.recent.each do |arch|
      .lefter
        = check_box_tag "arches[]", arch.id, (params[:arches]||[]).include?(arch.id.to_s), :id => "arches_#{arch.id}"
        = label_tag "arches_#{arch.id}", arch.name
      .both
    %h3= t("activerecord.attributes.build_list.preferences")
    .both.bottom_20
      = check_box_tag :auto_publish, true, @auto_publish_selected, :id => 'auto_publish'
      = label_tag :auto_publish

%br
%br

%table.tablesorter.unbordered{:cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th.lpadding16= t('activerecord.attributes.mass_build.id')
      %th.lpadding16= t('activerecord.attributes.mass_build.name')
      %th.lpadding16= t("layout.mass_builds.statuses")
      %th.lpadding16= t("layout.mass_builds.failed_builds_list")
      %th.lpadding16= t("layout.mass_builds.cancel_mass_build")
      %th.lpadding16= t("layout.mass_builds.extended_data")
  - @mass_builds.each do |mass_build|
    %tr
      %td= mass_build.id
      %td= link_to mass_build.name, build_lists_path(:filter => {:mass_build_id => mass_build.id})
      %td.min_width_120
        - MassBuild::COUNT_STATUSES.each do |status|
          = link_to t("layout.build_lists.statuses.#{status}") + ": ", build_lists_path(:filter => {:mass_build_id => mass_build.id, :ownership => 'index'}.merge(status != :build_lists ? {:status => BuildList.status_by_human(status)} : {}))
          = mass_build.read_attribute "#{status}_count"
          .both
      %td= link_to t("layout.mass_builds.failed_builds_list"), failed_builds_list_platform_mass_build_path(@platform, mass_build.id), :target => "_blank" if can?(:failed_builds_list, mass_build)
      %td= link_to image_tag('x.png'), cancel_mass_build_platform_mass_build_path(@platform, mass_build.id), :method => :post, :confirm => t("layout.mass_builds.cancel_confirm") if can?(:cancel_mass_build, mass_build)
      %td
        %a.toggle_btn{:href => "#toggle_#{ mass_build.id }", :'data-target' => "#toggle_#{ mass_build.id }"}= t("layout.mass_builds.extended_data")
        .toggle{:id => "toggle_#{ mass_build.id }"}
          = t('activerecord.attributes.mass_build.arch_names') + ": "
          = mass_build.arch_names
          .both
          = t('activerecord.attributes.mass_build.rep_names') + ": "
          = mass_build.rep_names
          .both
          = t('activerecord.attributes.mass_build.user') + ": "
          = link_to mass_build.user.fullname, mass_build.user
          .both
          = t('activerecord.attributes.mass_build.auto_publish') + ": "
          = mass_build.auto_publish
          .both
          = t('activerecord.attributes.mass_build.created_at') + ": "
          = mass_build.created_at
= will_paginate @mass_builds
