-set_meta_tags :title => [title_object(@platform), t('layout.platforms.clone_header')]
= render 'submenu'
= render 'sidebar'

= form_for @cloned, :url => make_clone_platform_path(@platform), :html => { :class => :form } do |f|
  .leftlist= f.label :name, :class => :label
  .rightlist= f.text_field :name, :class => 'text_field'

  .leftlist= f.label :description, :class => :label
  .rightlist= f.text_field :description, :class => 'text_field'

  .both

  .button_block
    = submit_tag t('layout.clon'), :data => {'disable-with' => t('layout.processing')}
    %span.text_button_padding= t("layout.or")
    = link_to t("layout.cancel"), platform_path(@platform), :class => "button"