-set_meta_tags :title => [title_object(@platform), t('layout.platforms.edit')]
= render 'submenu'
= render 'sidebar'

= form_for @platform, :url => platform_path(@platform), :html => { :class => :form } do |f|
  = render "form", :f => f

- if can? :change_visibility, @platform
  .hr
  .leftside= t('activerecord.attributes.platform.visibility')
  .rightside= link_to t("layout.platforms.change_visibility_from_#{@platform.visibility}"),
    change_visibility_platform_path(@platform),
    :method => :post,
    :confirm => t("layout.platforms.confirm_change_visibility"),
    :class => 'button'
  .both

- if can? :destroy, @platform
  .hr
  .leftside= t("layout.platforms.delete_warning")
  .rightside= link_to t("layout.delete"), platform_path(@platform), :method => :delete, :confirm => t("layout.platforms.confirm_delete"), :class => 'button'
- if can? :clear, @platform
  .hr
  .leftside= t("layout.repositories.clear_warning")
  .rightside= link_to t("layout.repositories.clear"), clear_platform_path(@platform), :class => 'button', :confirm => t('layout.repositories.clear_confirm'), :method => :put
  .both
