-set_meta_tags title: t('layout.platforms.list_header')
.row{ 'ng-controller' => 'PlatformsCtrl', 'ng-cloak' => true,
      'ng-init' => "init(#{@platforms_count}, #{params[:page]})" }
  .col-md-6.col-md-offset-3
    = link_to t('layout.platforms.new'), new_platform_path, class: 'btn btn-primary' if can? :create, Platform
    =# render 'list', object: @platforms
    %table.table.table-striped.offset20
      %thead
        %tr
          %th= t 'activerecord.attributes.platform.name'
          %th= t 'activerecord.attributes.platform.distrib_type'
      %tbody
        %tr{ 'ng-repeat' => 'item in platforms' }
          %td
            %a{ 'ng-href' => "{{item.link}}" }
              {{item.name}}
          %td {{item.distrib_type}}

    = paginate( total_items: 'total_items',
                page:        'page',
                per_page:    Platform.per_page,
                ng_show:     "total_items > #{Platform.per_page}",
                select_page: "goToPage(page)" )
