-set_meta_tags title: title_object(@platform)
= render 'submenu'
= render 'sidebar'

%h3.fix
  = t 'layout.platforms.about'
  = link_to @platform.name, platform_contents_path(@platform)

%p= @platform.description

%table.tablesorter.unbordered
  - if @platform.parent
    %tr
      %td
        %b= "#{t("activerecord.attributes.platform.parent")}:"
      %td= link_to @platform.parent.description, platform_path(@platform.parent)
  %tr
    %td
      %b= "#{t('layout.platforms.owner')}:"
    %td= link_to @platform.owner.try(:name), url_for(@platform.owner)
  %tr
    %td
      %b= "#{t('layout.platforms.visibility')}:"
    %td= t("layout.visibilities.#{@platform.visibility}")
  %tr
    %td
      %b= "#{t('layout.platforms.platform_type')}:"
    %td= @platform.platform_type
  %tr
    %td
      %b= "#{t('layout.platforms.distrib_type')}:"
    %td= @platform.distrib_type

.buttons_block
  = link_to I18n.t("layout.platforms.clone"), clone_platform_path(@platform), class: "button left_floated" if can? :clone, @platform

= render 'connection_info' if @platform.platform_type == 'personal' and @platform.visibility == 'open'
