-#
  Variables:
    subject
    field
    field_class
    autocomplete_path
    placeholder
    default_values (optional)

- default_values ||= []
- subject_class = subject.class.name.underscore

%h4
  = t "activerecord.attributes.build_list.#{field}"
  - modal_id = "#{field}Modal"
  %a.fa.fa-question-circle{ href: '#', 'data-toggle' => 'modal', 'data-target' => "##{modal_id}" }

  .modal.fade{ id: modal_id, tabindex: '-1', role: 'dialog',
               'aria-labelledby' => "#{modal_id}Label", 'aria-hidden' => 'true' }
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ type: 'button', 'data-dismiss' => 'modal' }
            %span{ 'aria-hidden' => 'true' } &times;
            %span.sr-only Close
          %h4.modal-titleLabel{ id: modal_id }= t "activerecord.attributes.build_list.#{field}"
        .modal-body= render "shared/autocomplete_docs/#{field}"
