-#
  Variables:
    subject
    field
    field_class
    autocomplete_path
    placeholder
    default_values (optional)

- default_values ||= []
- subject_class = subject.class.name.underscore

%h4
  = t "activerecord.attributes.build_list.#{field}"
  -#%a{ href: '#', tabindex: 0, class: 'btn btn-lg btn-danger bs-docs-popover boffset20', 'data-toggle' => 'popover',
      'data-trigger' => 'focus', title: t("activerecord.attributes.build_list.#{field}"),
      html: 'true', 'data-content' => "And here's some amazing content. It's very engaging. Right?" }
    %i.fa.fa-question-circle
  %button.btn.btn-default{ popover: render("shared/autocomplete_docs/#{field}"),
           'popover-title' => t("activerecord.attributes.build_list.#{field}") }
    %i.fa.fa-question-circle