.leftlist= f.label :avatar, t("layout.avatars.avatar_with_size", max: number_to_human_size(Avatar::MAX_AVATAR_SIZE))
.rightlist= image_tag(avatar_url(subject, :medium))
.leftlist
.rightlist
  .check
    %span#niceCheckbox1.niceCheck-main= check_box_tag "delete_avatar", 1, false, class: 'niceCheckbox1'
  .forcheck= t('layout.avatars.delete_avatar')
  .both
  = f.file_field :avatar
.both