%h3= subject.class.human_attribute_name(subject.is_a?(BuildList) ? 'logs' : 'results')
%h4.nomargin{'ng-hide' => 'subject.results'}= t('layout.no_')
%table.tablesorter.width565{:cellpadding => "0", :cellspacing => "0", 'ng-show' => 'subject.results'}
  %thead
    %tr
      %th= t("activerecord.attributes.product_build_list/results.file_name")
      %th= t("activerecord.attributes.product_build_list/results.sha1")
      %th= t("activerecord.attributes.product_build_list/results.size")
  %tbody
    %tr{'ng-repeat' => 'item in subject.results'}
      %td
        %a{'ng-href' => '{{item.url}}' } {{item.file_name}}
      %td {{item.sha1}}
      %td {{item.size}}
.both