.pull-left.roffset5
  %img{ alt: 'avatar', src: presenter.image }
.pull-left
  %strong= presenter.header
  = datetime_moment(presenter.date, tag: :strong)
  .clearfix
  %span= presenter.caption
  - if presenter.expandable? and presenter.content?
    %span.glyphicon.glyphicon-chevron-down{ 'data-toggle' => 'collapse', 'data-target' => "#commit_message_#{item_no}" }
.clearfix
- if presenter.content?
  .collapse{ id: "commit_message_#{item_no}" }
    = preserve do
      = markdown(presenter.content)
