.activity{:id => presenter.comment_id? ? "comment##{presenter.comment_id}" : ''}
  .top
    - if presenter.buttons?
      %span.buttons= raw presenter.buttons.join(' | ').html_safe
    .image
      %img{:alt => "avatar", :src => presenter.image}
    .text
      -#.imaged move up a line.
      %span.name= presenter.header
      .both
      %span.date= presenter.date
      .both
      - if presenter.caption?
        %span.subject= presenter.caption
        - if presenter.expandable? and presenter.content?
          %span.data-expander.collapsed{:id => "expand#{item_no}"} &nbsp;
        .both
    .both
    - if presenter.content?
      .fulltext{:class => "#{presenter.expandable? ? "hidden" : ''} #{presenter.caption? ? "" : "alone"}",
                :id    => presenter.expandable? ? "content-expand#{item_no}" : ''}
        = presenter.content
      .both
