-#
  params:
  - build_started
  - download_log_url
  - get_log_path

- download_log_url ||= false

.hr
%a{:name => 'log'}
.log-wrapper
  .log-header
    .text-wrap
      = link_to({:anchor => :log}, {:id => 'log_anchor'}) do
        %h3= t("layout.build_lists.log.build_log")
    %span
    .both
  .log-body.hidden
    .reloader
      %table.options
        %tr.top
          %td.first
            = label_tag :word_wrap do
              = check_box_tag :word_wrap
              = t("layout.word_wrap")
          %td.last{ :class => build_started ? nil : :hidden }
            = label_tag :autoreload do
              = check_box_tag :autoreload, true, build_started
              = t("layout.build_lists.log.autoreload")
            = select_tag :reload_interval, log_reload_time_options
        %tr.bottom
          %td.first
            - if download_log_url
              = link_to t("layout.build_lists.log.download"), download_log_url, :id => :log_url
          %td.last{ :class => build_started ? nil : :hidden }
            = label_tag :load_lines do
              = raw t("layout.build_lists.log.load_lines", :count => select_tag(:load_lines, log_reload_lines_options))
    .both
    %textarea.log{ :readonly => :readonly, :wrap => 'off',
                   :data => { :url => get_log_path, :log_type => :build } }
      = t("layout.build_lists.log.not_available")
.both

:javascript
  $(function() {
    initLogWrapper();
  });
