-#
  params:
  - build_started
  - download_log_url
  - get_log_path

- download_log_url ||= false

%hr
%a{name: 'log'}
.log-wrapper
  .log-header
    .text-wrap
      = link_to({anchor: :log}, {id: 'log_anchor'}) do
        %h3= t("layout.build_lists.log.build_log")
    %span
    .both
  .log-body.hidden
    .reloader
      %table.options
        %tr.top
          %td.first
            = label_tag :word_wrap do
              = check_box_tag :word_wrap
              = t("layout.word_wrap")
          %td.last{ class: build_started ? nil : :hidden }
            = label_tag :autoreload do
              = check_box_tag :autoreload, true, build_started
              = t("layout.build_lists.log.autoreload")
            = select_tag :reload_interval, log_reload_time_options

    .both
    #output.cm-s-default.log{ readonly: :readonly,
                              data: { url: get_log_path, log_type: :build } }
      %pre#code
    .both
.both


:javascript
  $(function() {
    initLogWrapper();
  });
