%tab{ 'heading' => "{{activity_tab.title | i18n}}", 'active' => "activity_tab.active", 'select' => "getContent('activity')" }
  .row
    .col-md-3.col-sm-4.offset20
      %p
        = link_to t('layout.activity_feed.new_project'), new_project_path,
          class: 'btn btn-primary btn-small', role: 'button'
      %hr
      %h5= t('layout.activity_feed.my_last_projects')

      %ul.nav.nav-pills.nav-stacked
        - current_user.projects.order(updated_at: :desc).limit(5).each do |project|
          %li
            = link_to project_path(project) do
              - image, color = project.public? ? ['unlock-alt', 'text-success fa-fw'] : ['lock', 'text-danger fa-fw']
              = fa_icon(image, class: color)
              = project.name_with_owner
        %li
          = link_to t('layout.activity_feed.all_my_projects'), projects_path

    .col-md-9.col-sm-8
      %h3
        = t("layout.activity_feed.header")
        = link_to image_tag("rss.ico", width: '15px', height: '15px', class: 'atom_icon'), atom_activity_feeds_path(format: 'atom', token: current_user.authentication_token)
      %tabset
        - (collection = t 'feed_menu').each do |base, title|
          %tab{ heading: title, active: (@filter == base), select: "changeActivityFilter('#{base}')" }
      / The time line
      .row.offset20
        .col-md-12.col-sm-12
          %ul.timeline
            / timeline time label
            %li.time-label{ 'ng-repeat-start' => 'item in getCurActivity().feed' }
              %span{ 'ng-show' => "needShowTimeLabel($index)", 'ng-cloak' => true }
                {{item.date | amDateFormat:'ll'}}
            / timeline item
            %li{ 'ng-include' => "getTemplate(item)" }
            .hide{ 'ng-repeat-end' => true }
            %li
              %i.img-circle.bg-primary.fa.fa-clock-o
      %hr
      %btn.center-block.btn.btn-primary{ 'ng-show' => 'getCurActivity().next_page_link',
                                         'ng-click' => "load_more()", 'ng-cloak' => true }
        = t('layout.activity_feed.load_messages')
        {{activity_tab.content.next_page_link}}
