#compare-content
  - if action_name != 'revert'
    %ul.actions
      %li.minibutton
        = form_tag revert_page_project_wiki_path(@project, escaped_name, @helper.before, @helper.after),
            :name => "gollum-revert", :id => "gollum-revert-form" do
          = link_to t("layout.wiki.revert_changes"), '#', :class => "gollum-revert-button"

  .data.highlight
    %table{:cellpadding => "0", :cellspacing => "0"}
      - @helper.lines.each do |line|
        %tr
          %td.line_numbers= line[:ldln]
          %td.line_numbers= line[:rdln]
          %td
            %pre
              %div{:class => line[:class]}= line[:line]

#gollum-footer
  %ul.actions
    - if action_name != 'revert'
      %li.minibutton
        = link_to t("layout.wiki.revert_changes"), '#', :class => "gollum-revert-button"
    %li.minibutton= link_to t("layout.wiki.back_to_top"), '#wiki'
