#compare-content
  - if action_name != 'revert' 
    %ul.actions
      %li.minibutton
        = form_tag revert_path(@project, @versions[0][0..6], @versions[1][0..6], @name),
            :name => "gollum-revert", :id => "gollum-revert-form" do
          = link_to t("layout.wiki.revert_changes"), '#', :class => "gollum-revert-button"

  = render :partial => 'diff_data', :collection => @diffs, :as => :diff
  .spacer
  -# if @name
    .data.highlight
      %table{:cellpadding => "0", :cellspacing => "0"}
        - @helper.lines.each do |line|
          %tr
            %td.line_numbers= line[:ldln]
            %td.line_numbers= line[:rdln]
            %td
              %pre
                %div{:class => line[:class]}= line[:line]
  -# else 
    = debug @diffs

#gollum-footer
  %ul.actions
    - if action_name != 'revert'
      %li.minibutton
        = link_to t("layout.wiki.revert_changes"), '#', :class => "gollum-revert-button"
    %li.minibutton= link_to t("layout.wiki.back_to_top"), '#wiki'
