#wiki-content
  .wrap{:class => "#{has_footer? ? 'has-footer' : ''} #{has_sidebar? ? 'has-rightbar' : ''}"}
    #wiki-body{:class => "gollum-#{format}-content"}
      #template
        = raw @content
    - if has_sidebar?
      #wiki-rightbar{:class => "gollum-#{sidebar_format}-content"}
        = raw sidebar_content
    - if has_footer?
      #wiki-footer{:class => "gollum-#{footer_format}-content"}
        #footer-content
          = raw footer_content
#gollum-footer
  %p#last-edit
    = t("layout.wiki.last_edited_by")
    %b
      = author
    = time_ago_in_words date.to_time - 4.hours, true
    = t("layout.time.ago")
  - unless action_name == 'preview' or cannot? :write, @project
    %p#delete-link
      = link_to project_wiki_path(@project, escaped_name), :method => :delete, :confirm => t("layout.confirm") do
        %span= t("layout.wiki.delete_page")

=#javascript_include_tag 'MathJax/MathJax.js'
