= render :partial => 'gollum_includes'
= render :partial => 'project_short'

%a{ :name => "wiki"}
.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.wiki.home"), project_wiki_index_path(@project)
      %li= link_to t("layout.wiki.pages"), pages_project_wiki_index_path(@project)
      %li= link_to t("layout.wiki.wiki_history"), '#'
      %li= link_to t("layout.wiki.git_access"), '#'

  .content
    #wiki-wrapper.inner.history
      #head
        %h1.title
          = t("layout.wiki.history_for")
          %strong= @name

        %ul.actions
          %li.minibutton
            = link_to t("layout.wiki.view_page"), view_path(@project, escaped_name),
                      :class => 'action-view-page'
          %li.minibutton
            = link_to t("layout.wiki.edit_page"), edit_project_wiki_path(@project, escaped_name),
                      :class => 'aciton-edit-page'
        = render :partial => 'searchbar'

      #wiki-content
        = render :partial => "history"

- content_for :sidebar do
  - render :partial => 'projects/sidebar'
