= render 'gollum_includes'
/ = render 'project_short'
= render 'projects/submenu'

%h3.wiki
  = t("wiki.create_page")
  %strong= @name
%br

#wiki-content= render "editor"

:javascript
  jQuery(document).ready(function() {
    $.GollumEditor({ NewFile: true });
  });

:css
  #gollum-editor { width: 100%; }

- content_for :sidebar do
  - render 'sidebar'
