= render :partial => 'gollum_includes'
= render :partial => 'project_short'

%a{ :name => "wiki"}
.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.wiki.home"), project_wiki_index_path(@project)
      %li= link_to t("layout.wiki.pages"), pages_project_wiki_index_path(@project)
      %li= link_to t("layout.wiki.wiki_history"), '#'
      %li= link_to t("layout.wiki.git_access"), '#'

  .content
    #wiki-wrapper.inner
      #head
        %h1.title
          = t("layout.wiki.create_page")
          %strong= @name

      #wiki-content
        = render :partial => "editor"

:javascript
  jQuery(document).ready(function() {
    $.GollumEditor({ NewFile: true });
  });

- content_for :sidebar do
  - render :partial => 'projects/sidebar'
