= render :partial => 'gollum_includes'
= render :partial => 'project_short'

%a{ :name => "wiki"}
.block
  .secondary-navigation
    %ul.wat-cf
      %li.first{:class => "#{(@name == 'Home') ? 'active' : ''}" }
        = link_to t("layout.wiki.home"), project_wiki_index_path(@project)
      %li.active= link_to t("layout.wiki.pages"), pages_project_wiki_index_path(@project)
      %li= link_to t("layout.wiki.wiki_history"), history_project_wiki_index_path(@project)
      %li= link_to t("layout.wiki.git_access"), '#'

  .content
    .inner
      #wiki-wrapper.results
        #head
          - @st_ref = capture do
            %strong= @ref
          %h1.title= raw t("layout.wiki.all_pages_in", :ref => @st_ref)
          %ul.actions
            %li.minibutton
              = link_to t("layout.wiki.home"), project_wiki_index_path(@project),
                        :class => 'action-edit-page'
          = render :partial => 'searchbar'

        = render :partial => "results"

- content_for :sidebar do
  - render :partial => 'projects/sidebar'
