=# render :partial => 'gollum_includes'
=# render :partial => 'project_short'
= render :partial => 'projects/submenu'

%h3.wiki
  = @page.name
  = "(#{t("layout.wiki.preview")})" if action_name == 'preview'
- unless action_name == 'preview'
  .r
    = link_to t("layout.wiki.page_history"), history_project_wiki_path(@project, escaped_name), :class => 'button width100'
  .r
    - if @editable
      = link_to t("layout.wiki.edit_page"), edit_project_wiki_path(@project, escaped_name), :class => "button width100"
  .r
    - if can? :write, @project
      = link_to t("layout.wiki.new_page"), '#', :'data-url' => project_wiki_index_path(@project),
                :id => 'minibutton-new-page', :class => 'button width100'
.both
=# render :partial => 'searchbar'
= render :partial => "page"

- content_for :sidebar do
  - render :partial => 'sidebar'
