%ul
  %li
    = image_tag 'square.png'
    = t('bottom_menu.copyright')
  %li
    = image_tag 'square.png'
    = image_tag 'flag.png', :alt => 'flag'
  %li
    = image_tag 'square.png'
    = link_to t('bottom_menu.about'), t('bottom_menu.about_url')
  %li
    = image_tag 'square.png'
    = link_to t('bottom_menu.contacts'), t('bottom_menu.contacts_url')
  %li
    = image_tag 'square.png'
    = link_to t('bottom_menu.tos'), t('bottom_menu.tos_url')