%ul
  %li
    = image_tag 'square.png'
    = t('bottom_menu.copyright')
  %li
    = image_tag 'square.png'
    = image_tag 'flag.png', :alt => 'flag'
  %li
    = image_tag 'square.png'
    = link_to t('bottom_menu.about'), '#'
  %li
    = image_tag 'square.png'
    = link_to t('bottom_menu.contacts'), '#'
  %li
    = image_tag 'square.png'
    = link_to t('bottom_menu.tos'), '#'
  %li
    = image_tag 'square.png'
    = link_to t('bottom_menu.security'), '#'