%footer.offset10
  %ul
    %li= t('bottom_menu.copyright', year: Date.today.year).html_safe
    %li &centerdot;
    %li= image_tag 'flag.png', alt: 'flag'
    %li &centerdot;
    %li= link_to t('bottom_menu.about'), t('bottom_menu.about_url')
    %li &centerdot;
    %li= link_to t('bottom_menu.tos'), tos_url
    %li &centerdot;
    %li= link_to t('bottom_menu.developer_api'), t('bottom_menu.developer_api_url')
    %li &centerdot;
    %li= link_to t('bottom_menu.abf_ideas'), "https://github.com/rosa-abf/rosa-build/issues"
    %li &centerdot;
    %li= link_to t('bottom_menu.abf_blog'), t('bottom_menu.abf_blog_url')
