= render :partial => 'projects/submenu'
= render :partial => 'projects/repo_block', :locals => {:project => @project}

= render :partial => 'git/commits/commits', :object => @commits
= render :partial => 'git/commits/paginate'
-#.block
  .content
    .inner
      = render :partial => "git/commits/commits", :object => @commits

      - if @render_paginate
        .actions-bar.wat-cf
          .pagination
            = render :partial => "git/commits/paginate"

-# content_for :sidebar, render(:partial => 'git/shared/sidebar')
