.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.git.repositories.source"), platform_repository_project_repo_path(@platform, @repository, @project)
      %li.active= link_to t("layout.git.repositories.commits"), commits_path(@platform, @repository, @project, :treeish => @treeish)

  .content
    .inner
      %p
        %b
          = t("activerecord.models.project")
          \:
        = @project.name

.block
  .content
    .inner
      = render :partial => "git/commits/commits", :object => @commits

      - if @render_paginate
        .actions-bar.wat-cf
          .pagination
            = render :partial => "git/commits/paginate"

- content_for :sidebar, render(:partial => 'git/shared/sidebar')
