-title "#{t '.title'} - #{title_project @project}"
= render :partial => 'projects/submenu'
= render :partial => 'projects/repo_block', :locals => {:project => @project}

= render :partial => 'git/commits/commits', :object => @commits
= render 'git/commits/paginate' if @render_paginate
