-set_meta_tags :title => [title_object(@project), "#{t '.title'} #{t('at') if @branch} #{@branch.try :name}"]
= render :partial => 'projects/submenu'
= render :partial => 'projects/repo_block', :locals => {:project => @project}

= render :partial => 'git/commits/commits', :object => @commits
= render 'git/commits/paginate' if @render_paginate
