.block
  = render :partial => "git/shared/navigation"

  = render :partial => "git/shared/info"


.block
  .content
    .inner
      = render :partial => "git/commits/commits", :object => [@commit]

- begin
  .block
    .content
      .inner
        .patch_and_diff
          #{link_to "raw diff", commit_path(@project, @commit.id, :diff)} | #{link_to "patch", commit_path(@project, @commit.id, :patch)}
        .clear
        = render_commit_stats(@commit.stats)

  = render :partial => "git/commits/commit_diff", :collection => @commit.diffs
- rescue Grit::Git::GitTimeout
  .block
    .content
      .inner
        %p= t 'layout.git.repositories.commit_diff_too_big'

- content_for :sidebar, render(:partial => 'git/shared/sidebar')

= render :partial => "comments/list", :locals => {:list => Project.commit_comments(@commit, @project), :project => @project, :commentable => @commit}
%p
  %b
    = t('layout.issues.subscribe')
    \:
  - if Subscribe.subscribed_to_commit?(@project, current_user, @commit)
    = link_to t('layout.commits.unsubscribe_btn'), unsubscribe_commit_path(@project, @commit), :method => :delete
  - else
    = link_to t('layout.commits.subscribe_btn'), subscribe_commit_path(@project, @commit), :method => :post
