-title "#{@commit.message} - #{shortest_hash_id(@commit.id)} - #{title_project @project}"
= render :partial => 'projects/submenu'

.description
  %h3= t("layout.projects.about_subheader")
  %p
    = @project.description
    = link_to t('layout.read_more'), '#'

%h3= t("layout.projects.last_commit")
- GitPresenters::CommitAsMessagePresenter.present(@commit, :branch => @branch, :project => @project) do |presenter|
  = render :partial => 'shared/feed_message', :locals => {:presenter => presenter, :item_no => 1}

.both

#repo-wrapper
  = render :partial => 'show'

  = render :partial => "comments/list", :locals => {:list => Project.commit_comments(@commit, @project), :project => @project, :commentable => @commit}
  = render :partial => "comments/add", :locals => {:project => @project, :commentable => @commit}
