- set_meta_tags :title => t('layout.contact.page_header')
%h1= t("layout.contact.header")
%p= t("layout.contact.subheader")

%hr.bootstrap

.inner-columns.equal
  %section.first
    %div
      = form_for @form, :url => contact_path, :html => {:class => 'inline_errors'} do |f|

        %dl.form
          %dt= f.label :name, t("activerecord.attributes.user.name")
          %dd
            = f.text_field :name, :placeholder => t("layout.contact.placeholders.name"),
                           :class => @form.errors.messages[:name].present? ? 'error' : ''

        %dl.form
          %dt= f.label :email, t("activerecord.attributes.user.email")
          %dd
            = f.text_field :email, :placeholder => t("layout.contact.placeholders.email"),
                           :class => @form.errors.messages[:email].present? ? 'error' : ''

        %dl.form
          %dt= f.label :subject, t("layout.contact.subject")
          %dd
            = f.text_field :subject, :placeholder => t("layout.contact.placeholders.subject"),
                           :class => @form.errors.messages[:subject].present? ? 'error' : ''

        %dl.form
          %dt= f.label :message, t("layout.contact.message")
          %dd
            = f.text_area  :message, :placeholder => t("layout.contact.placeholders.message"),
                           :class => @form.errors.messages[:message].present? ? 'error' : ''

        .form-actions
          = f.submit t('layout.contact.send_request'), :class => 'button', :data => {'disable-with' => t('layout.processing')}

  %section.last
    %div
      %h3= t("layout.contact.info.header")

      %ul.checklist
        - t("layout.contact.info.items").try(:each) do |item|
          %li= item

    %hr.bootstrap
      %p= t("layout.contact.questions_info")
