- if defined? user_email
  .top
    .image
      = image_tag(gravatar_url(user_email, 30)) 
    .text
      %span.name
        = link_to user_name, user_path(user_id)
      %br
        %span.date= activity_feed.created_at
        %br
          %span.subject Branch #{ branch_name } has been #{ change_type }d
    .both
.fulltext
  - unless defined? user_email
    %span.date= activity_feed.created_at
    %br
    Branch #{ branch_name } has been #{ change_type }d
    %br
    %br
  Into project #{ link_to(project_name, project_path(project_id)) }
  %br
  %br
  - last_commits.each do |commit|
    = link_to commit[0], commit_path(project_id, commit[0])
    = commit[1]
    %br
