.top
  .image
    = image_tag(avatar_url_by_email(user_email, :small), :alt => 'avatar')
  .text
    %span
      = raw t("notifications.bodies.new_issue_notification", { :user_link => defined?(user_uname) ? link_to(user_name, user_path(user_uname)) : user_name, :issue_link => project_issue_path(project_owner, project_name, issue_serial_id)})
      = raw t("notifications.bodies.project", :project_link => link_to("#{project_owner}/#{project_name}", project_path(project_owner, project_name)) )
    .both
      %span.date= activity_feed.created_at
  .both
    %span.subject= issue_title
