.top
  .image
    = image_tag(avatar_url_by_email(user_email, :small), :alt => 'avatar')
  .text
    %span
      = raw t("notifications.bodies.new_comment_notification.title", {:user_link => link_to(user_name, user_path(user_id))})
      = raw t("notifications.bodies.new_comment_notification.content", {:issue_link => link_to(issue_title, project_issue_path(project_id, issue_serial_id))})
    .both
      %span.date= activity_feed.created_at
  .both
    %span.subject= link_to comment_body, project_issue_path(project_id, issue_serial_id) + (defined?(comment_id) ? "#comment##{comment_id}" : '')
