.top
  .image
    = image_tag(gravatar_url(activity_feed.user.email, 30))
  .text
    %span.name
      = link_to activity_feed.user.uname, user_path(activity_feed.user.uname)
    %br
      %span.date= activity_feed.created_at
      %br
        %span.subject
          User #{ link_to user_name, user_path(user_id) } has been update wiki #{ link_to "history", history_project_wiki_index_path(project_id) }
  .both
.fulltext
  Into project #{ link_to(project_name, project_path(project_id)) }
