.top
  .image
    = image_tag(gravatar_url(activity_feed.user.email, 30))
  .text
    %span.name
      = link_to activity_feed.user.uname, user_path(activity_feed.user.uname)
    %br
      %span.date= activity_feed.created_at
      %br
        %span.subject
        -#TODO: Fix wiki compare routes.
        -# User #{ link_to user_name, user_path(user_id) } has been update wiki #{ link_to "history", compare_versions_project_wiki_index_path(project_id, commit_sha) }
  .both
.fulltext
  -#TODO: Fix wiki compare routes.
  -#%p== User #{ link_to user_name, user_path(user_id) } has been update wiki #{ link_to "history", compare_versions_project_wiki_index_path(project_id, commit_sha) }
  Into project #{ link_to(project_name, project_path(project_id)) }
