%tr{:id => "Row#{project_counter}"}
  %td
    = link_to project do
      .table-sort-left= image_tag visibility_icon(project.visibility)
      .table-sort-right 
        = link_to project.owner.uname, project.owner.class == User ? user_path(project.owner) : group_path(project.owner) #{project.owner.uname} / #{project.name}
        #{ ' / ' }
        = link_to project.name, project_path(project)
  %td.td2= project.description
  %td= t("layout.collaborators.role_names.#{project.relations.by_user_through_groups(current_user).first.role}")
  %td.td5
    - unless project.owner == current_user
      = link_to remove_user_project_path(project), :method => :delete, :confirm => t("layout.confirm") do
        %span.delete &nbsp;
