%tr{:id => "Row#{project_counter}"}
  %td
    = link_to project do
      .table-sort-left= image_tag visibility_icon(project.visibility)
      .table-sort-right #{project.owner.uname} / #{project.name}
  %td.td2= project.description
  %td= t("layout.collaborators.role_names.#{project.relations.by_object(current_user).first.role}")
  %td.td5= link_to image_tag('x.png'), remove_user_project_path(project), :method => :delete, :confirm => t("layout.confirm")