= render :partial => 'projects/submenu'
= render :partial => 'projects/repo_block', :locals => {:project => @project}

.description
  %h3= t("layout.projects.about_subheader")
  %p
    = @project.description
    = link_to t('layout.read_more'), '#'

%h3= t("layout.projects.last_commit")
- GitPresenters::CommitAsMessagePresenter.present(@commit, :branch => @branch, :project => @project) do |presenter|
  = render :partial => 'shared/feed_message', :locals => {:presenter => presenter, :item_no => 1}

.both

#repo-wrapper
  = yield
