- content_for :sidebar do

  - act = action_name.to_sym
  - contr = controller_name.to_sym

  %aside
    .admin-preferences
      %ul
        - if can? :edit, @project
          %li{:class => (act == :edit && contr == :projects) ? 'active' : ''}
            = link_to t("layout.projects.edit"), edit_project_path(@project)
        - if can? :manage_collaborators, @project
          %li{:class => (act == :sections && contr == :projects) ? 'active' : ''}
            = link_to t("layout.projects.sections"), sections_project_path(@project)
        - if can? :manage_collaborators, @project
          %li{:class => (act == :edit && contr == :collaborators) ? 'active' : ''}
            = link_to t("layout.projects.edit_collaborators"), edit_project_collaborators_path(@project)


-#.block.notice
-#  %h3= t("layout.projects.members")
-#  .content
-#    %p
-#      %b
-#        = "#{t("layout.projects.collaborators")}:"
-#      %ul
-#      - @project.collaborators.each do |user|
-#        %li
-#          - if can? :read, user
-#            = link_to user.name, user_path(user)
-#          - else
-#            = user.name
-#          - if (@project.owner == user)
-#            = '(' + t("layout.owner") + ')'
-#      /%br
-#      -# if can? :update, @project
-#    %p
-#      %b
-#        = "#{t("layout.projects.groups")}:"
-#      %ul
-#      - @project.groups.each do |group|
-#        %li
-#          = link_to group.name, group_path(group)
-#          - if (@project.owner == group)
-#            = '(' + t("layout.owner") + ')'
-#      %br
-#      = link_to t("layout.projects.edit_collaborators"), edit_project_collaborators_path(@project) if can? :manage_collaborators, @project
-#
-#    / %p
-#    /   %b
-#    /     = "#{t("layout.projects.groups")}:"
-#    /   %ul
-#    /   - @project.groups.each do |group|
-#    /     %li
-#    /       = link_to group.name, group_path(group)
-#    /       - if (@project.owner == group)
-#    /         = '(' + t("layout.owner") + ')'
-#    /   %br
-#    /   = link_to t("layout.projects.add_groups"), '#' #add_collaborators_project_path(@project)
-#
-#/ .block.notice
-#/   %h3= t("layout.platforms.current_platform_header")
-#/   .content
-#/     %p= link_to @platform.name, platform_path(@platform)
-#/ 
-#/ .block.notice
-#/   %h3= t("layout.repositories.current_repository_header")
-#/   .content
-#/     %p= link_to @repository.name + repository_name_postfix(@platform), platform_repository_path(@platform, @repository)
