.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.projects.list"), platform_repository_path(@platform, @repository) + "#projects"
      %li= link_to t("layout.projects.new"), new_platform_repository_project_path(@platform, @repository)
      %li= link_to t("layout.projects.show"), platform_repository_project_path(@platform, @repository, @project)
      %li= link_to "git-repo", platform_repository_project_repo_path(@platform, @repository, @project)
      %li.active= link_to t("layout.projects.build"), build_platform_repository_project_path(@platform, @repository, @project)

  .content
    %h2.title= t("layout.projects.new_build")

    .inner
      = form_for :build, :url => process_build_platform_repository_project_path(@platform, @repository, @project), :html => { :class => :form, :method => :post } do |f|
        .columns.wat-cf
          .column.left
            .group
              = f.label :branch, "Branch", :class => :label
              = f.select :branch, @branches.collect{|branch| [branch.name, branch.name]}

          .column.right
            .group
              = f.label :arches, t("activerecord.attributes.build_list.arch"), :class => :label
              - @arches.each do |arch|
                = f.check_box "arches[#{arch.id}]"
                = arch.name
                %br

        .group.navform.wat-cf
          %button.button{:type => "submit"}
            = image_tag("web-app-theme/icons/tick.png", :alt => t("layout.projects.build_button"))
            = t("layout.projects.build_button")
          %span.text_button_padding= t("layout.or")
          = link_to t("layout.cancel"), platform_repository_path(@platform, @repository), :class => "text_button_padding link_button"


- content_for :sidebar, render(:partial => 'sidebar')
