.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.projects.list"), @projects_path # url_for(get_owner) + "#projects"
      %li= link_to t("layout.projects.new"), @new_project_path # new_platform_repository_project_path(@platform, @repository)
      %li.active= link_to t("layout.projects.edit"), @edit_project_path

  .content
    %h2.title= t("layout.projects.edit_header")
    = link_to '(' + t("layout.projects.add_collaborators") + ')', edit_project_collaborators_path(@project)
    .inner
      = form_for @project, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render('sidebar')
