.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to t("layout.projects.list"), projects_path
      %li= link_to t("layout.projects.new"), new_project_path
  .content
    %h2.title
      = t("layout.projects.list_header")
    .inner
      = render :partial => 'shared/search_form'
      = render :partial => 'projects/list', :object => @projects
      .actions-bar.wat-cf
        .actions
          = will_paginate @projects, :param_name => :project_page

-# content_for :sidebar, render(:partial => 'sidebar')
