= link_to t('layout.projects.new'), new_project_path, :class => 'button' if can?(:create, Project)

%table#myTable.tablesorter{:cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th.th1= t("activerecord.attributes.project.name")
      %th.th2= t("activerecord.attributes.project.description")
      %th.th3= t("layout.projects.role")
      %th.th4= t("layout.projects.remove_user")
  %tbody= render @projects

= will_paginate
