.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.projects.list"), projects_path
      %li= link_to t("layout.projects.new"), new_project_path
      %li.active= link_to t("layout.projects.show"), project_path(@project)
      %li= link_to t("layout.git.repositories.source"), project_repo_path(@project)
      - if can? :write, @project
        %li= link_to t("layout.projects.build"), new_project_build_list_path(@project)
      %li= link_to t("layout.projects.issues"), project_issues_path(@project)
      - if @project.has_wiki
        %li= link_to t("layout.projects.wiki"), project_wiki_index_path(@project)

  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.project.name")
          \:
        = @project.name
      %p
        %b
          = t("activerecord.attributes.project.owner")
          \:
        = link_to @project.owner.try(:name), url_for(@project.owner)
      %p
        %b
          = t("activerecord.attributes.project.visibility")
          \:
        = @project.visibility
      %p
        %b
          = t("activerecord.attributes.project.repository")
          \:
        = git_repo_url @project.git_repo_name
      .wat-cf
        = link_to image_tag("code.png", :alt => t("layout.edit")) + " " + t("layout.edit"), edit_project_path(@project), :class => "button" if can? :update, @project
        = link_to image_tag("x.png", :alt => t("layout.delete")) + " " + t("layout.delete"), project_path(@project), :method => "delete", :class => "button", :confirm => t("layout.projects.confirm_delete") if can? :destroy, @project
        = link_to "Fork", fork_project_path(@project), :class => "button", :method => "post", :confirm => t("layout.confirm") if can? :fork, @project

%a{ :name => "build_lists"}
.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to t("layout.build_lists.current"), project_path(@project) + "#build_lists"
      %li= link_to t("layout.build_lists.all"), project_build_lists_path(@project)

  .content
    = render :partial => "build_lists/build_lists", :object => @current_build_lists

- content_for :sidebar, render('sidebar')
