.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.projects.list"), platform_repository_path(@platform, @repository) + "#projects"
      %li= link_to t("layout.projects.new"), new_platform_repository_project_path(@platform, @repository)
      %li.active= link_to t("layout.projects.show"), platform_repository_project_path(@platform, @repository, @project)
      %li= link_to "git-repo", platform_repository_project_repo_path(@platform, @repository, @project)

  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.project.name")
          \:
        = @project.name
      %p
        %b
          = t("activerecord.attributes.project.unixname")
          \:
        = @project.unixname
      %p
        %b
          = t("activerecord.attributes.project.repository")
          \:
        = @project.repository.name
      .wat-cf
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => t("layout.delete")) + " " + t("layout.delete"), platform_repository_project_path(@platform, @repository, @project), :method => "delete", :class => "button", :confirm => t("layout.projects.confirm_delete")
- content_for :sidebar, render(:partial => 'sidebar')

