= link_to t("layout.flash_notifies.new"), new_admin_flash_notify_path, class: 'button' if can? :create, FlashNotify

%table#myTable.tablesorter.flash_notifys{cellspacing: "0", cellpadding: "0"}
  %thead
    %tr
      %th.th1= t("activerecord.attributes.flash_notify.body_en")
      %th.th2= t("activerecord.attributes.flash_notify.body_ru")
      %th.th3= t("activerecord.attributes.flash_notify.published")
      %th.th3= t("layout.flash_notifies.actions")
  %tbody
    - @flash_notifies.each do |flash_notify|
      %tr{class: cycle("odd", "even")}
        %td= flash_notify.body_en.truncate 18
        %td= flash_notify.body_ru.truncate 18
        %td= flash_notify.published
        %td
          = link_to t("layout.flash_notifies.edit"), edit_admin_flash_notify_path(flash_notify)
          = link_to t("layout.flash_notifies.delete"), admin_flash_notify_path(flash_notify), method: :delete, data: { confirm: t("layout.mass_builds.cancel_confirm") } if can?(:delete, flash_notify)

= will_paginate @flash_notifies

= render 'submenu'
