#block-login.block
  %h2= title t("layout.register_request.get_token_header")
  .content.login
    - if flash.present?
      .flash
        - flash.each do |key, value|
          .message{ title: key.to_s.humanize, class: (key == 'alert' ? "error" : key) }
            %p= value
    - form_for(@register_request, html: { class: "form login" }) do |f|
      .group.wat-cf
        .left= f.label :name, class: "label right"
        .right= f.text_field :name, class: "text_field"
      .group.wat-cf
        .left= f.label :email, class: "label right"
        .right= f.text_field :email, class: "text_field"
      .group.navform.wat-cf
        .right
          %button.button{type: "submit"}= t("layout.register_request.get_token_button")
          %span.text_button_padding