%h1= t("layout.auto_build_lists.already_automated")

%table.table
  %tr
    %th= t("activerecord.attributes.auto_build_list.project")
    %th.last= t("layout.auto_build_lists.action")

  - @projects_already_automated.each do |project|
    %tr{:class => cycle("odd", "even")}
      %td= link_to project.name, project_path(project)
      %td= link_to t("layout.auto_build_lists.cancel_btn"), auto_build_list_path(project.auto_build_lists_id), :method => :delete, :confirm => t("layout.confirm")

= will_paginate @projects_already_automated, :param_name => 'already_automated_page'