.wrap
  %nav
    %p= link_to t("layout.devise.shared_links.sign_up"), new_register_request_path
  / Top block
  %header
    .logo
  / Page
  %article
    - is_error = flash.first.first == :alert # Trash
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form login" }) do |f|
      %h1= title t("layout.sessions.sign_in_header")
      = f.text_field :login, :class => "registartion-input #{is_error ? "registartion-input-error" : ''}", :onClick => "this.className='registartion-input-focus';disError(this);", :onblur => "if(this.value==''){this.value='Логин или email';this.className='registartion-input';}else{this.className='registartion-input-no-focus';};buttonCheck();", :onfocus => "if(this.value=='Логин или email'){this.value='';this.className='registartion-input-focus';};", :onkeydown => "buttonCheck();", :type => "text", :value => "Логин или email"
      %br/
      = f.password_field :password, :class => "registartion-input #{is_error ? "registartion-input-error" : ''}", :onClick => "this.className='registartion-input-focus';disError(this);", :onblur => "if(this.value==''){this.value='Пароль';this.className='registartion-input';}else{this.className='registartion-input-no-focus';};buttonCheck();", :onfocus => "if(this.value=='Пароль'){this.value='';this.className='registartion-input-focus';};", :onkeydown => "buttonCheck();", :type => "password", :value => "Пароль"
      %br/
      .registration
        .remember
          .check
            %span#niceCheckbox1.niceCheck{:onclick => "changeCheck(this)"}
              = f.check_box :remember_me
          .text=t('devise.sessions.remember_me')
        .in=f.submit t('layout.devise.shared_links.sign_in'), :class => 'button disabled', :id => 'btnLogin'
      %div{:style => "clear: both;"}
      .hr
      .both
  #hint.error{:style => is_error ? 'display: block;' : ''}
    %p=t('devise.failure.invalid')
  .forgot
    .password
      %p= link_to t("layout.devise.shared_links.forgot_password"), new_password_path(resource_name)