.wrap
  %nav
    %a{:href => new_register_request_path}
      %p=t("layout.devise.shared_links.sign_up")
  / Top block
  %header
    .logo
  / Page
  %article
    - if flash.try(:first).try(:first) == :alert && [t('devise.failure.invalid'), t('devise.failure.locked')].include?(flash.try(:first).try(:last))
      - error = flash.first.last
    - error ||= false
    - login = t('devise.sessions.login'); password = t('devise.sessions.password')
    =hidden_field_tag :login_default, login
    =hidden_field_tag :password_default, password
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form login" }) do |f|
      %h1= title t("layout.sessions.sign_in_header")
      = f.text_field :login, :class => "registartion-input #{error ? "registartion-input-error" : ''}", :value => login
      %br/
      = f.password_field :password, :class => "registartion-input #{error ? "registartion-input-error" : ''}", :value => password
      %br/
      .registration
        .remember
          .check
            %span#niceCheckbox1.niceCheck{:style => 'background-position: 0px -18px;'}
              = f.check_box :remember_me, :checked => true
          .text=t('devise.sessions.remember_me')
        .in=f.submit t('layout.devise.shared_links.sign_in'), :class => 'button', :id => 'btnLogin'
      %div{:style => "clear: both;"}
    = render 'devise/shared/providers'
  .forgot
    .password
      %p= link_to t("layout.devise.shared_links.forgot_password"), new_password_path(resource_name)
  =showDeviseHintError(:login_error, error)
