.leftlist= f.label :name, t("activerecord.attributes.product.name"), :class => :label
.rightlist= f.text_field :name, :class => 'text_field'
.both

.leftlist= f.label :description, t("activerecord.attributes.product.description"), :class => :label
.rightlist= f.text_area :description, :class => 'text_field resizable', :cols => 80
.both

.leftlist= f.label :project, t("activerecord.attributes.product.project"), :class => :label
.rightlist= f.autocomplete_field :project, autocomplete_project_platform_products_path(@platform), :id_element => 'src_project_id', :name => 'src_project', :value => @product.project.try(:name_with_owner)
.both

.button_block
  = submit_tag t("layout.save")
  %span.text_button_padding= t("layout.or")
  = link_to t("layout.cancel"), @product.new_record? ? platform_path(@platform) : platform_product_path(@platform, @product), :class => "button"

