.leftlist= f.label :name
.rightlist= f.text_field :name, :class => 'text_field'
.both

.leftlist= f.label :description
.rightlist= f.text_area :description, :class => 'text_field resizable', :cols => 80
.both

.leftlist= f.label :project
.rightlist= f.autocomplete_field :project, autocomplete_project_platform_products_path(@platform), :id_element => 'src_project_id', :name => 'src_project', :value => @product.project.try(:name_with_owner)
.both

.leftlist= f.label :project_version
.rightlist= f.select :project_version, versions_for_group_select(@product.project), {:selected => params[:products].try(:fetch, :project_version) || @product.project_version, :include_blank => true}
.both

= render 'def_fields', :f => f

.leftlist= f.label :autostart_status
.rightlist= f.select :autostart_status, Product::AUTOSTART_STATUSES.collect{|status| [Product.human_autostart_status(status), status]}, {:include_blank => true, :selected => @product.autostart_status}
.both

.button_block
  = submit_tag t('layout.save'), :data => {'disable-with' => t('layout.saving')}
  %span.text_button_padding= t("layout.or")
  = link_to t("layout.cancel"), @product.new_record? ? platform_path(@platform) : platform_product_path(@platform, @product), :class => "button"

