-set_meta_tags title: title_object(@product)
= render 'submenu'
= render 'sidebar'

%h3 #{t("layout.products.about")} #{@product.name}

%p= @product.description

.buttons_block
  - if can? :update, @product
    = link_to image_tag("code.png", alt: t("layout.edit")) + " " + t("layout.edit"), edit_platform_product_path(@platform, @product), class: "button"
  - if can? :destroy, @product
    = link_to image_tag("x.png", alt: t("layout.delete")) + " " + t("layout.delete"), platform_product_path(@platform, @product), method: "delete", class: "button", confirm: t("layout.products.confirm_delete")
  - if can?(:create, @product.product_build_lists.build)
    = link_to t("layout.products.build"), new_platform_product_product_build_list_path(@platform, @product), class: "button"

%h3= t("layout.products.build_lists_monitoring")

%table#myTable.tablesorter.platform-product-main{cellspacing: "0", cellpadding: "0"}
  %thead
    %tr
      %th= t("activerecord.attributes.product_build_list.id")
      %th= t("activerecord.attributes.product_build_list.status")
      %th= t("activerecord.attributes.product_build_list.container_path")
      %th= t("activerecord.attributes.product_build_list.product")
      %th= t("layout.product_build_lists.action")
      %th= t("activerecord.attributes.product_build_list.notified_at")
  %tbody= render partial: 'platforms/product_build_lists/product_build_list', collection: @product.product_build_lists.default_order
