%tr{:id => "row#{build_list_counter}", :class => "#{build_list_status_color(build_list.status)}"}
  %td= link_to (build_list.bs_id.present? ? build_list.bs_id : t("layout.build_lists.bs_id_not_set")), build_list
  %td= build_list.human_status
  %td= link_to build_list.project.name_with_owner, build_list.project
  %td= build_list_version_link(build_list)
  %td= link_to build_list.save_to_platform.name, build_list.save_to_platform
  %td= build_list.arch.name
  %td= link_to build_list.user.try(:fullname), build_list.user
