- html_field = field.to_s.gsub('_', '-')
%div{:id => html_field}
  %h3= t("activerecord.attributes.build_list.#{field}")
  %span.icon-question-sign
  %div{:title => t("activerecord.attributes.build_list.extra_repos"), :id => "#{html_field}-dialog"}
    = render "projects/build_lists/docs/#{field}"
  .both
  = autocomplete_field_tag field, nil, autocomplete_to_extra_repos_and_builds_build_lists_path, :id_element => "##{html_field}_field", :placeholder => placeholder
  = hidden_field_tag field, nil, :id => "#{html_field}_field"
  = submit_tag t('layout.add'), :class => 'button', :id => 'add'

  %table.tablesorter{:cellpadding => "0", :cellspacing => "0"}
    %tbody