%tr
  - field = 'build_list['
  - if subject.is_a?(BuildList)
    - field << 'extra_containers'
    %td= link_to "#{subject.id} (#{subject.project.name} - #{subject.arch.name})", subject
  - else
    - field << 'extra_repositories'
    %td= link_to "#{subject.platform.name}/#{subject.name}", [subject.platform, subject]
  %td.actions
    - field << '][]'
    = hidden_field_tag field, subject.id
    %span.delete &nbsp;