.all
  %h3= t 'layout.build_list.last_build_lists'
  -#.lineForm= select_tag :last_build_lists, last_build_lists(@project)

  %table.tablesorter{:cellpadding => "0", :cellspacing => "0"}
    %thead
      %tr
        %th.lpadding6= t('layout.clone')
        %th.lpadding16= t('activerecord.attributes.build_list.status')
        %th.lpadding16= t('diff')
        %th.lpadding16= t('activerecord.attributes.build_list.project_version')
        %th.lpadding16= t('activerecord.attributes.build_list.save_to_repository')
        %th.lpadding6= t('activerecord.attributes.build_list.arch_short')
        %th.lpadding16= t('activerecord.attributes.build_list.user')
        %th.lpadding6= t('activerecord.attributes.build_list.updated_at')
    %tbody
      - project.build_lists.recent.last(20).each do |build_list|
        %tr{:class => "#{build_list_status_color(build_list.status)}"}
          %td= link_to t('layout.clone'), new_project_build_list_path(project, :build_list_id => build_list.id)
          %td
            = build_list.human_status
            %br
            - if BuildList::HUMAN_STATUSES[build_list.status].in? [:build_pending, :build_started, :build_publish]
              %time.js-relative-date{:datetime => build_list.updated_at.strftime("%FT%T%:z"), :title => build_list.updated_at.strftime("%F %T")}
                = build_list.updated_at.strftime "%F %T"
              - if build_list.build_started? && ((build_list.project.average_build_time || 0) > 0)
                \/
                %time
                  = build_list.project.formatted_average_build_time
          %td= build_list_version_link(build_list)
          %td= get_version_release build_list
          -build_for=" (#{build_list.build_for_platform.name})" if build_list.build_for_platform && build_list.save_to_platform.personal?
          %td= link_to "#{build_list.save_to_platform.name}/#{build_list.save_to_repository.name}#{build_for}", [build_list.save_to_platform, build_list.save_to_repository]
          %td= build_list.arch.try(:name) || t("layout.arches.unexisted_arch")
          %td= link_to build_list.user.try(:fullname), build_list.user
          %td= build_list.updated_at.strftime('%d/%m/%Y')
  .both
