%tr{id: "row#{platform_build_list_counter}"}
  %td= link_to platform_build_list.id, platform_build_list
  %td= platform_build_list.human_status
  %td= link_to platform_build_list.project.name, platform_build_list.project
  %td= platform_build_list.updated_at
