- queues ||= [:rpm, :publish]
.bordered.nopadding
  %h3.medium= t('layout.build_lists.build_server_status.header')
  - queues.each do |queue|
    .table
      .lefter= t("layout.build_lists.build_server_status.#{queue}_workers")
    .both
    - [:count, :tasks, :build_tasks].each do |metric|
      .table
        .lefter= t("layout.build_lists.build_server_status.#{metric}")
        .righter= @build_server_status[queue][metric]
      .both
    %br
