.row
  .col-md-4.col-sm-6
    %h5= t 'layout.build_lists.build_server_status.rpm_workers'
    %ul.list-unstyled
      %li
        = t 'layout.build_lists.build_server_status.amount'
        %ul
          %li
            = t 'layout.build_lists.build_server_status.abf'
            %span.bg-primary.badge.pull-right {{server_status.rpm.workers}}
          %li
            = t 'layout.build_lists.build_server_status.custom'
            %span.bg-primary.badge.pull-right {{server_status.rpm.other_workers}}
  .col-md-4.col-sm-6
    %h5= t 'layout.build_lists.build_server_status.tasks'
    %ul.list-unstyled
      %li
        %ul
          - [['custom', :default_tasks], ['mass_build_tasks', :low_tasks]].each do |label, metric|
            %li
              = t "layout.build_lists.build_server_status.#{label}"
              %span.bg-primary.badge.pull-right {{server_status.rpm.#{metric}}}
      %li
        = t 'layout.build_lists.build_server_status.build_tasks'
        %span.bg-primary.badge.pull-right {{server_status.rpm.build_tasks}}
  .col-md-4.col-sm-6
    %h5= t 'layout.build_lists.build_server_status.publish_workers'
    %ul.list-unstyled
      %li
        = t 'layout.build_lists.build_server_status.amount'
        %span.bg-primary.badge.pull-right {{server_status.publish.workers}}
      - [:tasks, :build_tasks].each do |metric|
        %li
          = t "layout.build_lists.build_server_status.#{metric}"
          %span.bg-primary.badge.pull-right {{server_status.publish.#{metric}}}
