-set_meta_tags :title => t('.title')
/ #myTable
%table.tablesorter{:cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th.lpadding16= t("activerecord.attributes.build_list.bs_id")
      %th.lpadding16= t("activerecord.attributes.build_list.status")
      %th.lpadding16= t("activerecord.attributes.build_list.project")
      %th.lpadding16= t("activerecord.attributes.build_list.project_version")
      %th.lpadding16= t("activerecord.attributes.build_list.save_to_repository")
      %th.lpadding16= t("activerecord.attributes.build_list.arch")
      %th.lpadding16= t("activerecord.attributes.build_list.user")
  %tbody= render :partial => 'projects/build_lists/build_list', :collection => @build_lists
.both

:javascript
  $(function(){
    // from jQuery.timeago
    var parseIso8601 = function(iso8601) {
      var s = $.trim(iso8601);
      s = s.replace(/\.\d+/,""); // remove milliseconds
      s = s.replace(/-/,"/").replace(/-/,"/");
      s = s.replace(/T/," ").replace(/Z/," UTC");
      s = s.replace(/([\+\-]\d\d)\:?(\d\d)/," $1$2"); // -04:00 -> -0400
      return new Date(s);
    }
    // TODO Very, very ugly method.
    $("time.js-relative-date").each(function() {
      $(this).countdown({
        layout: '{hnn}{sep}{mnn}',
        format: 'HM',
        since: parseIso8601($(this).attr('datetime')),
        compact: true
      });
    });

    //reload page every 5 minutes
    setTimeout(function() {
      window.location = window.location;
    }, 300000);
  });

= will_paginate @build_lists

= render 'filter'
= render @project ? 'projects/base/submenu' : 'projects/build_lists/submenu'
