-set_meta_tags :title => t('.title')

%div{'ng-controller' => 'BuildListsController'}

  = render 'filter'

  %table.tablesorter{:cellpadding => "0", :cellspacing => "0"}
    %thead
      %tr
        %th.lpadding16= t("activerecord.attributes.build_list.id")
        %th.lpadding16= t("activerecord.attributes.build_list.status")
        %th.lpadding16= t("activerecord.attributes.build_list.project")
        %th.lpadding16= t("diff")
        %th.lpadding16= t("activerecord.attributes.build_list.project_version")
        %th.lpadding16= t("activerecord.attributes.build_list.save_to_repository")
        %th.lpadding6= t("activerecord.attributes.build_list.arch_short")
        %th.lpadding16= t("activerecord.attributes.build_list.user")
        %th.lpadding6= t("activerecord.attributes.build_list.updated_at")
    %tbody
      %tr{'ng-repeat' => 'bl in build_lists', 'class' => '{{bl.status_color}}'}
        %td
          %a{'ng-href' => '{{bl.url}}' } {{bl.id}}
        %td
          {{bl.human_status}}
          %br
          %time{'ng-show' => 'bl.duration'}
            {{bl.duration}}
            %time{'ng-show' => 'bl.average_build_time'}
              \/{{bl.average_build_time}}

        %td.centered{'ng-hide' => 'bl.project', :colspan => 2}
          = t('layout.projects.unexisted_project')
        %td{'ng-show' => 'bl.project'}
          %a{'ng-href' => '{{bl.project.url}}' } {{bl.project.name_with_owner}}
        %td{'ng-show' => 'bl.project', 'ng-bind-html-unsafe' => 'bl.project.version_link'}

        %td {{bl.project_version}}
        %td
          %a{'ng-href' => '{{bl.save_to_repository.url}}' } {{bl.save_to_repository.name}}

        %td{'ng-show' => 'bl.arch'} {{bl.arch}}
        %td{'ng-hide' => 'bl.arch'}= t("layout.arches.unexisted_arch")

        %td
          %a{'ng-href' => '{{bl.user.url}}' } {{bl.user.fullname}}

        %td {{bl.updated_at}}



  .both


  = will_paginate @bls

= render @project ? 'projects/base/submenu' : 'projects/build_lists/submenu'
