-set_meta_tags :title => t('.title')

%div{'ng-controller' => 'BuildListsController'}

  = render 'filter'

  %table.tablesorter{:cellpadding => "0", :cellspacing => "0"}
    %thead
      %tr
        %th.lpadding16= t("activerecord.attributes.build_list.id")
        %th.lpadding16= t("activerecord.attributes.build_list.status")
        %th.lpadding16= t("activerecord.attributes.build_list.project")
        %th.lpadding16= t("diff")
        %th.lpadding16= t("activerecord.attributes.build_list.project_version")
        %th.lpadding16= t("activerecord.attributes.build_list.save_to_repository")
        %th.lpadding6= t("activerecord.attributes.build_list.arch_short")
        %th.lpadding16= t("activerecord.attributes.build_list.user")
        %th.lpadding6= t("activerecord.attributes.build_list.updated_at")
    %tbody
      %tr{'ng-repeat' => 'bl in build_lists', :class => '{{bl.status_color}}'}

        / == Show related group

        / id && status
        %td{'ng-show' => 'bl.group.hasRelated && !bl.group.show', :colspan => 2}
          %a.button{'ng-click' => 'showGroup(bl)' }= t('layout.show')
        %td{'ng-show' => 'bl.group.hasRelated && bl.group.show', :colspan => 2}
          %a.button{'ng-click' => 'hideGroup(bl)' }= t('layout.hide')

        / project
        %td.centered{'ng-show' => '!bl.group.project && bl.group.hasRelated', :colspan => 2}
          = t('layout.projects.unexisted_project')
        %td{'ng-show' => 'bl.group.project && bl.group.hasRelated'}
          %a{'ng-href' => '{{bl.group.project.url}}' } {{bl.group.project.name_with_owner}}

        / diff && project_version && save_to_repository && arch_short && user
        %td.build-list-statuses{'ng-show' => 'bl.group.hasRelated', :colspan => 5}
          %div{'ng-repeat' => 'related in bl.group.related', :class => '{{related.status_color}}'}
            %a{'ng-href' => '{{related.url}}' } {{related.id}}

        / updated_at
        %td{'ng-show' => 'bl.group.hasRelated'} {{bl.group.updated_at}}

        / == BuildList has no related ==

        / id
        %td{'ng-show' => 'bl.show'}
          %a{'ng-href' => '{{bl.url}}' } {{bl.id}}

        / status
        %td{'ng-show' => 'bl.show'}
          {{bl.human_status}}
          %br
          %time{'ng-show' => 'bl.duration'}
            {{bl.duration}}
            %time{'ng-show' => 'bl.average_build_time'}
              \/{{bl.average_build_time}}

        / project
        %td.centered{'ng-show' => '!bl.project && bl.show', :colspan => 2}
          = t('layout.projects.unexisted_project')
        %td{'ng-show' => 'bl.project && bl.show'}
          %a{'ng-href' => '{{bl.project.url}}' } {{bl.project.name_with_owner}}

        / diff
        %td{'ng-show' => 'bl.project && bl.show', 'ng-bind-html-unsafe' => 'bl.project.version_link'}

        / project_version
        %td{'ng-show' => 'bl.show'} {{bl.version_release}}

        / save_to_repository
        %td{'ng-show' => 'bl.show'}
          %a{'ng-href' => '{{bl.save_to_repository.url}}' } {{bl.save_to_repository.name}}

        / arch_short
        %td{'ng-show' => 'bl.arch && bl.show'} {{bl.arch}}
        %td{'ng-show' => '!bl.arch && bl.show'}
          = t("layout.arches.unexisted_arch")

        / user
        %td{'ng-show' => 'bl.show'}
          %a{'ng-href' => '{{bl.user.url}}' } {{bl.user.fullname}}

        / updated_at
        %td{'ng-show' => 'bl.show'} {{bl.updated_at}}



  .both


  =# will_paginate @bls # TODO

= render @project ? 'projects/base/submenu' : 'projects/build_lists/submenu'
