-set_meta_tags :title => [title_object(@build_list.project), t('activerecord.models.build_list')]
.notify.blue
  %div{:class => build_list_status_color(@build_list.status)}
    %p= @build_list.human_status
  %p= @build_list.updated_at
  .both
=form_for @build_list, :url => publish_build_list_path(@build_list), :html => { :class => :form } do |f|
  %h3= t("layout.build_lists.main_data")
  .leftlist= t("activerecord.attributes.build_list.container_path")
  .rightlist
    - if @build_list.container_published?
      -url = container_url
      = link_to url, url
    - elsif @build_list.container_publish?
      = t("layout.build_lists.creating")
  .both

  .leftlist= t("activerecord.attributes.build_list.id")
  .rightlist= @build_list.id
  .both
  .leftlist= t("activerecord.attributes.build_list.user")
  .rightlist
    = link_to @build_list.user.try(:fullname), @build_list.user
  .both
  .leftlist= t("activerecord.attributes.build_list.publisher")
  .rightlist
    = link_to @build_list.publisher.try(:fullname), @build_list.publisher if @build_list.publisher
  .both
  .leftlist= t("activerecord.attributes.build_list.build_for_platform")
  .rightlist
    - bfp = @build_list.build_for_platform
    - if bfp.present?
      = link_to(bfp.name, bfp)
    - else
      = t("layout.build_lists.platform_deleted")
  .both
  .leftlist= t("activerecord.attributes.build_list.save_to_repository")
  .rightlist
    = link_to "#{@build_list.save_to_platform.name}/#{@build_list.save_to_repository.name}", [@build_list.save_to_platform, @build_list.save_to_repository]
  .both
  .leftlist= t("activerecord.attributes.build_list.include_repos")
  .rightlist= (@build_list.include_repos||[]).map{|r| Repository.find(r).name}.join(', ')
  .both
  .leftlist= t("activerecord.attributes.build_list.update_type")
  .rightlist
    - if can?(:publish, @build_list)
      = f.select :update_type, options_for_select(build_list_classified_update_types, @build_list.update_type)
    - else
      = @build_list.update_type
  .both
  .leftlist= t("activerecord.attributes.build_list.auto_publish")
  .rightlist= t("layout.#{@build_list.auto_publish}_")
  .both
  .leftlist= t("activerecord.attributes.build_list.auto_create_container")
  .rightlist= t("layout.#{@build_list.auto_create_container?}_")
  .both
  .leftlist= t("diff")
  .rightlist= build_list_version_link(@build_list, true)
  .both
  .leftlist= t("activerecord.attributes.build_list.arch")
  .rightlist= @build_list.arch.name
  .both
  .leftlist= t("activerecord.attributes.build_list.updated_at")
  .rightlist= @build_list.updated_at
  .both
  .leftlist= t("activerecord.attributes.build_list.is_circle")
  .rightlist= t("layout.#{@build_list.is_circle?}_")
  .both
  .leftlist= t("activerecord.attributes.build_list.new_core")
  .rightlist= t("layout.#{@build_list.new_core?}_")
  .both

  - if @build_list.extra_build_lists.present? || @build_list.extra_repositories.present?
    .leftlist= t("activerecord.attributes.build_list.extra_repos")
    .rightlist
      - Repository.where(:id => @build_list.extra_repositories).each do |repo|
        %p= link_to "#{repo.platform.name}/#{repo.name}", [repo.platform, repo]
      - BuildList.where(:id => @build_list.extra_build_lists).each do |bl|
        %p= link_to "#{bl.id} (#{bl.project.name} - #{bl.arch.name})", bl
    .both

  - if @build_list.mass_build_id.present?
    .leftlist= t("activerecord.attributes.mass_build_id")
    .rightlist= link_to @build_list.mass_build.name, platform_mass_builds_path(@build_list.save_to_platform)
    .both


  - if @build_list.advisory.present?
    .leftlist= t("layout.build_lists.attached_advisory")
    .rightlist= link_to @build_list.advisory.advisory_id, advisory_path(@build_list.advisory)
    .both
  - if !@build_list.in_work? && @build_list.started_at
    %br
    .leftlist
    .rightlist= @build_list.human_duration
    .both
  - if @build_list.in_work?
    %br
    .leftlist
    .rightlist
      = "#{@build_list.human_current_duration} / #{@build_list.human_average_build_time}"
    .both

  - if @build_list.can_cancel? && can?(:cancel, @build_list)
    = link_to t("layout.build_lists.cancel"), cancel_build_list_path(@build_list),
              :method => :put, :confirm => t("layout.confirm"), :class => 'button'

  - if @build_list.save_to_platform.released && @build_list.advisory.nil? && can?(:publish, @build_list)
    #advisory_block
      .leftlist= label_tag :attach_advisory, t("layout.build_lists.attached_advisory")
      .rightlist
        = select_tag :attach_advisory, advisories_select_options(@advisories)
        %p.hint_text= t("layout.advisories.publication_info", :update_types => BuildList::RELEASE_UPDATE_TYPES.join(', '))
      .both

      #advisory_search_block
        %h3= t("layout.advisories.search_by_id")
        .leftlist= label_tag :advisory_search, t("layout.advisories.search_hint")
        .rightlist
          %input#advisory_search{:type => 'text'}
          %p.hint_text= t("layout.advisories.advisory_id_info", :advisory_format => advisory_id_for_hint)
        .both
        - %w(advisory_not_found server_error continue_input).each do |el|
          .info{:class => el}
            %p= t("layout.advisories.banners.#{el}")

      #new_advisory_form
        = f.fields_for @build_list.build_advisory do |f|
          = render :partial => 'advisories/form', :locals => {:f => f}

      #advisory_preview
        %h3= t("activerecord.models.advisory") << ' '

        .leftlist= t("activerecord.attributes.advisory.description")
        .rightlist.descr &nbsp;
        .both

        .leftlist= t("activerecord.attributes.advisory.references")
        .rightlist.refs &nbsp;
        .both
    :javascript
      $(function() {
        var r = new Rosa.Routers.BuildListsAdvisoriesRouter();
      });

  - if @build_list.build_started?
    = render 'shared/log', { :build_started => true, :get_log_path => log_build_list_path(@build_list) }

  - unless @build_list.extra_build_lists_published?
    .flash_notify
      .alert.alert-error= t('layout.build_lists.publish_with_extra_fail')
    .both

  - if can?(:publish, @build_list)
    - if @build_list.build_published?
      = submit_tag t("layout.publish_again"), :confirm => t("layout.publish_again_warning"), :name => 'publish'
    - elsif can_publish_in_future?(@build_list) && @build_list.extra_build_lists_published?
      - confirm = @build_list.tests_failed? ? t('layout.build_lists.tests_failed') : t('layout.confirm')
      = submit_tag t("layout.publish"), :confirm => confirm, :name => 'publish'
  - if @build_list.can_reject_publish? && can?(:reject_publish, @build_list)
    = link_to t('layout.reject_publish'), reject_publish_build_list_path(@build_list),
              :method => :put, :confirm => t("layout.confirm"), :class => 'button reject_publish'
  - if @build_list.can_create_container? && can?(:create_container, @build_list)
    = link_to t("layout.build_lists.create_container"), create_container_build_list_path(@build_list),
              :method => :put, :confirm => t("layout.confirm"), :class => 'button create_container'

.hr
%h3= t("layout.build_lists.items_header")
- if @item_groups.blank?
  %h4.nomargin= t("layout.build_lists.no_items_data")
- @item_groups.each_with_index do |group, level|
  - group.each do |item|
    %h4.nomargin= "#{item.name} ##{level}"
    %table.tablesorter.width565{:cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %th= t("activerecord.attributes.build_list/item.name")
          %th= t("activerecord.attributes.build_list/item.version")
          %th= t("activerecord.attributes.build_list/item.status")
      %tbody
        %tr{:class => build_list_item_status_color(item.status)}
          %td= item.name
          %td= build_list_item_version_link item
          %td= item.human_status
.both

- if @build_list.packages.present?
  .hr
  %h3= t("layout.build_lists.packages_header")
  %table.tablesorter.width565{:cellpadding => "0", :cellspacing => "0"}
    %thead
      %tr
        %th= t("activerecord.attributes.build_list/package.fullname")
        %th= t("activerecord.attributes.build_list/package.name")
        %th= t("activerecord.attributes.build_list/package.version")
        %th= t("activerecord.attributes.build_list/package.release")
    %tbody
      - @build_list.packages.each do |package|
        %tr
          - if package.sha1.present?
            %td= link_to package.fullname, "#{APP_CONFIG['file_store_url']}/api/v1/file_stores/#{package.sha1}"
          - else
            %td= package.fullname
          %td= package.name
          %td= package.version
          %td= package.release
  .both

- if @build_list.new_core?
  .hr
  = render 'platforms/product_build_lists/results', :subject => @build_list

:javascript
  $('article .all').addClass('bigpadding');

= render 'submenu'
