-set_meta_tags title: [title_object(@comment.project), t('layout.comments.edit_header')]
.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("layout.comments.back"), project_commentable_path(@project, @commentable)
  .content
    %h2.title
      = t("layout.comments.edit_header")
    .inner
      = form_for @comment, url: project_commentable_comment_path(@project, @commentable, @comment), html: {class: :form} do |f|
        = render "form", f: f, id: "edit_#{@comment.id}"
=hidden_field_tag :preview_url, project_md_preview_path(@project)

