-user= User.where(email: creator_email).first || User.new(email: creator_email) if defined?(creator_email)
.top
  .image= link_to(image_tag(avatar_url(user, :small), alt: 'avatar'), user_path(user)) if user.try(:persisted?)
  .text
    %span
      -_user_link = defined?(creator_email) ? user_link(user, defined?(creator_name) ? creator_name : creator_email) : nil
      = t('notifications.bodies.delete_branch', branch_name: branch_name, user_link: _user_link).html_safe
      - name_with_owner = "#{project_owner}/#{project_name}"
      = raw t("notifications.bodies.project", project_link: link_to(name_with_owner, project_path(name_with_owner)) )
    .both
      = datetime_moment activity_feed.created_at, tag: :span, class: 'date'
  .both
