.top
  .text
    %span
      = raw t("notifications.bodies.issue_assign_notification", { issue_link: link_to(issue_title, project_issue_path(project_owner, project_name, issue_serial_id))})
      = raw t("notifications.bodies.project", project_link: link_to("#{project_owner}/#{project_name}", project_path(project_owner, project_name)) )
    .both
      = datetime_moment activity_feed.created_at, tag: :span, class: 'date'
  .both
