.top
  .image
    = image_tag(avatar_url_by_email(activity_feed.user.email, :small), :alt => 'avatar')
  .text
    %span.name
      = link_to activity_feed.user.uname, user_path(activity_feed.user.uname)
    .both
      = datetime_moment activity_feed.created_at, :tag => :span, :class => 'date'
    .both
  .both
    %span.subject #{ t("notifications.bodies.new_user_notification.title", :user_name => user_name) }
  .both
.fulltext
  #{ t("notifications.bodies.new_user_notification.content") }
  %br
  #{ t("notifications.bodies.new_user_notification.email", :user_email => user_email) }
