-user= User.where(email: user_email).first || User.new(email: user_email) if defined?(user_email)
.top
  .image= link_to(image_tag(avatar_url(user, :small), alt: 'avatar'), user_path(user)) if user.persisted?
  .text
    %span
      = raw t("notifications.bodies.new_comment_notification.title", {user_link: user_link(user, user_name)})
      = raw t("notifications.bodies.new_comment_notification.content", {issue_link: link_to(issue_title, project_issue_path(project_owner, project_name, issue_serial_id) + "#comment#{comment_id}")})
      = raw t("notifications.bodies.project", project_link: link_to("#{project_owner}/#{project_name}", project_path(project_owner, project_name)) )
    .both
      = datetime_moment activity_feed.created_at, tag: :span, class: 'date'
  .both
    %span.subject= comment_body
