.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to t("layout.personal_repositories.show"), personal_repository_path(@repository)
      %li= link_to t("layout.personal_repositories.settings"), settings_personal_repository_path(@repository)
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.repository.owner")
          \:
        = link_to @repository.owner.name, url_for(@repository.owner)
      .wat-cf
        =# link_to image_tag("web-app-theme/icons/cross.png", :alt => t("layout.delete")) + " " + t("layout.delete"), @repository_path, :method => "delete", :class => "button", :confirm => t("layout.repositories.confirm_delete")

%a{ :name => "projects" }
.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to t("layout.projects.list"), personal_repository_path(@repository) + "#projects"
      %li= link_to t("layout.projects.add"), add_project_personal_repository_path(@repository)
  .content
    %h2.title
      = t("layout.projects.list_header")
    .inner
      = render :partial => 'shared/search_form'
      = render :partial => 'proj_list1', :object => @projects
      .actions-bar.wat-cf
        .actions
          = will_paginate @projects, :param_name => :project_page


-# content_for :sidebar, render(:partial => 'sidebar')
