.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to t("layout.categories.list"), categories_path
      %li= link_to t("layout.categories.platforms"), platforms_categories_path
      %li= link_to t("layout.categories.new"), new_category_path
  .content
    %h2.title= t("layout.categories.list_header")
    .inner
      %table.table
        %tr
          %th= t("activerecord.attributes.category.name")
          %th= t("activerecord.attributes.category.parent_id")
          %th.last &nbsp;
        = render @categories
      .actions-bar.wat-cf
        .actions= will_paginate @categories
