.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("layout.categories.list")}", @categories_path
      %li= link_to t("layout.categories.platforms"), platforms_categories_path
      %li.active= link_to "#{t("layout.categories.new")}", @new_category_path
  .content
    %h2.title= t("layout.categories.new_header")
    .inner= render "form"
