#assigned-popup.users-search-popup
  .header
    .title= t('layout.issues.assign_someone')
    %span.icon-remove-circle
  .search-container
    #search_user_path{path: search_collaborators_project_issues_path(@project)}
    = tracker_search_field(:search_user, t('layout.issues.search_user'))


  - unless [:new, :create].include?(action_name.to_sym)
    = form_for :issue, url: [@project, @issue], method: :put, html: { class: 'edit_assignee issue'} do |f|
      = hidden_field_tag "user-default_assignee", nil, name: 'issue[assignee_id]'
  .list
    = render 'projects/issues/search_collaborators'