#open-comment.comment.view
  %h3.tmargin0{:style => 'margin-bottom: 0;'}= t 'activerecord.attributes.issue.title'
  .wrapper= f.text_area :title, :cols => 80, :rows => 1, :style => 'height: 16px; margin: 0 0 10px;'
#open-comment.comment.view
  %h3.tmargin0= t 'activerecord.attributes.issue.body'
  =render 'projects/comments/body', :f => f, :id => 'new'

.both
.leftlist= t('activerecord.attributes.issue.assignee') + ':'
.rightlist
  %span#people-span.small-text= t('layout.issues.choose_user_on_left')
  #issue_assignee
.both
.leftlist= t('layout.issues.labels') + ':'
.rightlist
  %span#flag-span.small-text= t('layout.issues.choose_labels_on_left')
  #issue_labels
.both
.leftlist
.rightlist
  %input{:type => "submit", :value => t(@issue.new_record? ? 'layout.create' : 'layout.update')}
.both
