#closed-switcher.blue-switcher
  =hidden_field_tag :issues_status, @status, :id => 'issues_status'
  .open
    ="#{t('layout.issues.statuses.open')} (#{@opened_issues})"
  #closed-tasks.closed
    ="#{t('layout.issues.statuses.closed')} (#{@closed_issues})"
  #blue-switch-select.selected{:style => "margin-left: #{@status == 'open' ? '0' : '130'}px;"}
  .both
.both

#description-top.issues-filter
  .project-tabnav
    %ul.tabnav-tabs
      - open = @status == 'open'
      %li{:class => (open ? 'selected' : '')}
        %a= 'Open'
      %li{:class => (!open ? 'selected' : '')}
        %a= 'Closed'
      %li.list-browser-sorts
        %a= 'Updated'
      %li.list-browser-sorts.selected.desc
        %i.icon-chevron-up
        %a= 'Submitted'

#table1
  %table#myTable.tablesorter.tracker{:cellpadding => "0", :cellspacing => "0"}
    %tbody
      = render :partial => 'projects/issues/issue', :collection => issues
  = will_paginate issues
