- if @issue.try(:assignee)
  .people.clear.selected
    %span.icon-remove-circle
    = 'Clear assignee'
    =hidden_field_tag "user-nil", nil, :name => 'issue[assignee_id]'

- users = (@users || [])
- users.each_with_index do |user, index|
  .people.selected{:id => "user-#{index}", :class => 'add_assignee'}
    .avatar= image_tag(avatar_url(user), :alt => 'avatar')
    .name=user.fullname
    =hidden_field_tag "user-#{index}", user.id, :name => 'issue[assignee_id]'
    .both
- if users.empty?
  .nothing= 'Nothing to show'