-set_meta_tags :title => [title_object(@project), @issue.title]
-render 'submenu'
-render 'manage_sidebar'
-content_for :right_nopadding do
  dummy
%h3.issue_title=@issue.title
.activity
  .top
    .image
      =image_tag(avatar_url(@issue.user, :medium), :alt => 'avatar') if @issue.user
    .text
      %span.name=link_to(@issue.user.fullname, user_path(@issue.user)) if @issue.user
      %br/
      %span.date=@issue.created_at.to_s(:long)
      %br/
  .both
  .fulltext.view.issue_body.formatted.cm-s-default.md_and_cm=markdown @issue.body
.both
%br
- if can? :update, @issue
  =link_to t('layout.edit'), '#', :id => 'edit_issue_content', :class => 'button'
  =form_for :issue, :url => [@project, @issue], :method => :put, :html => { :class => 'edit_form issue', :style => 'display:none;' } do |f|
    #open-comment.comment.view
      %h3.tmargin0{:style => 'margin-bottom: 0;'}= t 'activerecord.attributes.issue.title'
      .wrapper= f.text_area :title, :cols => 80, :rows => 1, :style => 'height: 16px; margin: 0 0 10px;'
    #open-comment.comment.view
      =link_to t('layout.comments.markdown_cheatsheet'), '#md_help', 'data-toggle' => 'modal', :style => 'float:right;'
      %h3.tmargin0= t 'activerecord.attributes.issue.body'
      =render 'projects/comments/body', :f => f, :id => 'update'
    .both
    =f.submit t('layout.update'), :id => 'update_issue_content'
    =link_to t('layout.issues.cancel_button'), '#', :id => 'cancel_edit_issue_content', :class => 'button'
%br
=render 'status'

= render "projects/comments/list", :list => @issue.comments, :project => @project, :commentable => @issue
%br
= render "projects/comments/add", :project => @project, :commentable => @issue if current_user

=hidden_field_tag :preview_url, project_md_preview_path(@project)

