.block
  .content
    %h2.title= t("layout.users.new_header")
    .inner
      = form_for @user, :url => users_path, :html => { :class => :form } do |f|
        .leftlist
          = f.label :uname, t("activerecord.attributes.user.uname")
        .rightlist
          = f.text_field :uname
        .both
        .leftlist
          = f.label :password, t("activerecord.attributes.user.password")
        .rightlist
          = f.password_field :password
        .both
        .leftlist
          = f.label :password_confirmation, t("activerecord.attributes.user.password_confirmation")
        .rightlist
          = f.password_field :password_confirmation
        .both
        = render :partial => "users/form", :locals => {:f => f}

- content_for :sidebar do
  .bordered.nopadding
