%h3= t("layout.key_pairs.header")

= form_for :key_pair, url: platform_key_pairs_path(@platform), method: :post, html: { class: :form } do |f|
  .leftlist= f.label :public, t("activerecord.attributes.key_pair.public"), class: :label
  .rightlist= f.text_area :public, class: 'text_field resizable', cols: 80
  .both
  .leftlist= f.label :secret, t("activerecord.attributes.key_pair.secret"), class: :label
  .rightlist= f.text_area :secret, class: 'text_field resizable', cols: 80
  .both
  .leftlist= f.label :repository_id, t("activerecord.attributes.key_pair.repository_id"), class: :label
  .rightlist= f.select :repository_id, options_from_collection_for_select(@platform.repositories, 'id', 'name')
  .both

  .button_block
    = submit_tag t('layout.save'), data: {'disable-with' => t('layout.saving')}
