.group
  = f.label :name, t("activerecord.attributes.product.name"), :class => :label
  = f.text_field :name, :class => 'text_field'
.group
  = f.label :build, t("activerecord.attributes.product.build"), :class => :label
  = f.text_area :build, :class => 'text_field', :cols => 80
.group
  = f.label :counter, t("activerecord.attributes.product.counter"), :class => :label
  = f.text_area :counter, :class => 'text_field', :cols => 80
.group
  = f.label :ks, t("activerecord.attributes.product.ks"), :class => :label
  = f.text_area :ks, :class => 'text_field', :cols => 80
.group
  = f.label :menu, t("activerecord.attributes.product.menu"), :class => :label
  = f.text_area :menu, :class => 'text_field', :cols => 80
.group
  %p
    = f.label :tar, t("activerecord.attributes.product.tar"), :class => :label
    = f.file_field :tar, :class => 'file_field'
  %p
  - if @product.tar?
    = link_to @product.tar_file_name, @product.tar.url
    = f.check_box :delete_tar
    = f.label :delete_tar, t('layout.delete')
.group
  = f.label :is_template, :class => :label
  = f.check_box :is_template, :class => 'check_box'

- content_for :commented do
  .group
    = f.label :system_wide, :class => :label
    = f.check_box :system_wide, :class => 'check_box'

.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => t("layout.save"))
    = t("layout.save")
  %span.text_button_padding= t("layout.or")
  = link_to t("layout.cancel"), platform_path(@platform), :class => "text_button_padding link_button"

