-set_meta_tags :title => [title_object(@product), t('title_editing')]
= render :partial => 'platforms/submenu'
= render :partial => 'platforms/sidebar'

%h3
  = t("layout.products.edit_header")
  = link_to @product.name, platform_product_path(@platform, @product)
%br

= form_for [@platform, @product], :html => { :class => :form, :multipart => true } do |f|
  = render :partial => "form", :locals => {:f => f}

-#.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to @platform.name, platform_path(@platform) + "#products"
      %li.active= link_to @product.name, edit_platform_product_path(@platform, @product)
  .content
    %h2.title= t("layout.products.edit_header")
    .inner
      = form_for [@platform, @product], :html => { :class => :form, :multipart => true } do |f|
        = render :partial => "form", :locals => {:f => f}

-#- content_for :sidebar, render(:partial => 'sidebar')
