= render :partial => 'platforms/submenu' if params[:platform_id]
= render :partial => 'platforms/sidebar' if params[:platform_id]
= link_to t("layout.products.new"), new_platform_product_path(@platform), :class => 'button' if can? :create, @platform.products.build
= render :partial => 'list', :object => @products
= will_paginate @products

