.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to @platform.name, platform_path(@platform) + "#products"
      %li.active= link_to @product.name, platform_product_path(@platform, @product)

  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.product.name")
          \:
        = @product.name
      .wat-cf
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => t("layout.delete")) + " " + t("layout.delete"), platform_product_path(@platform, @product), :method => "delete", :class => "button", :confirm => t("layout.products.confirm_delete")

