.l
  = @blob.mode
  \|
  - if render_way == :text
    #{@text.length} lines (#{@text.select{|s| s.strip.length > 0}.length} sloc)
    \|
  = number_to_human_size @blob.size
.r
  - if render_way == :text and can? :write, @project and @treeish.in? @project.branches.map(&:name)
    = link_to "Edit", edit_blob_path(@project, @treeish, @path)
    \|
  - if render_way == :text and params[:action] != 'show'
    = link_to "Normal", blob_path(@project, @treeish, @path)
    \|
  = link_to "Raw", raw_path(@project, @treeish, @path)
  \|
  - if render_way == :text and params[:action] != 'blame'
    = link_to "Blame", blame_path(@project, @treeish, @path)
    \|
  = link_to "History", commits_path(@project, @treeish, @path)
.both