= render :partial => 'projects/submenu'
= render :partial => 'projects/repo_block', :locals => {:project => @project}

.description
  %h3= t("layout.projects.about_subheader")
  %p
    = @project.description
    = link_to t('layout.read_more'), '#'

%h3= t("layout.projects.last_commit")
- GitPresenters::CommitAsMessagePresenter.present(@commit, :branch => @branch, :project => @project) do |presenter|
  = render :partial => 'shared/feed_message', :locals => {:presenter => presenter, :item_no => 1}

.both

#repo-wrapper
  %h3= t("layout.projects.files_in_project")
  .files
    .l= render :partial => 'git/shared/whereami'
  .both

  - render_way = choose_render_way(@blob)
  .file
    .top= render 'top', :render_way => render_way
    .blame_data= render 'blame_table' if @blame.first.first.present?
