.block
  = render :partial => "git/shared/navigation"

  = render :partial => "git/shared/info"

- if @commit
  .block
    .content
      .inner
        = render :partial => "git/commits/commits", :object => [@commit]

.block
  .content
    .inner
      %h3= render_path
      %h3= @blob.mime_type

      .blob_header
        .size #{(@blob.size / 1024.0).round(3)} Kb
        .buttons
          - if @commit_hash
            #{link_to "Raw",     raw_commit_path(@project, @commit_hash, @path)}
            #{link_to "Blame",   blame_commit_path(@project, @commit_hash, @path)}
            #{link_to "History", commits_path(@project, @treeish, @path)}
          - else
            #{link_to "Edit",    edit_blob_path(@project, @treeish, @path)) if choose_render_way(@blob) == :text}
            #{link_to "Raw",     raw_path(@project, @treeish, @path)}
            #{link_to "Blame",   blame_path(@project, @treeish, @path)}
            #{link_to "History", commits_path(@project, @treeish, @path)}
        .clear
      - case choose_render_way(@blob)
      - when :image
        %table.table.blob
          %tr
            %td.lines
            %td.blob
              :plain
                <br/>
                <center> <img src='?raw=true'/></center>
                <br/>
      - when :text
        %table.table.blob
          %tr
            %td.lines
              :plain
                <pre>#{render_line_numbers(@blob.data.split("\n").length)}</pre>
            %td.blob
              :plain
                <pre>#{render_blob(@blob)}</pre>
      - when :binary
        %table.table.blob
          %tr
            %td.lines
            %td.blob
              :plain
                <br/>
                <pre>#{ link_to @blob.basename.encode_to_default, raw_path(@project, @treeish, @path) }</pre>
                <br/>

- content_for :sidebar, render(:partial => 'git/shared/sidebar')
