= hidden_field_tag 'hook[name]', @hook.name
- send("#{@hook.name}_fields").each do |field, type|
  .leftlist= field
  .rightlist
    - if type == :boolean
      = check_box_tag "hook[data][#{field}]", @hook.data[field], 1
    - else
      = text_field_tag "hook[data][#{field}]", @hook.data[field]
  .both