-set_meta_tags :title => [title_object(@project), t('layout.projects.hooks')]
= render 'submenu'
= render 'sidebar'

%h1 Editing hook

= form_for @hook, :url => project_hook_path(@project, @hook), :method => :put, :html => { :class => :form } do |f|
  = render 'form'
  .actions
    = f.submit 'Update'