-set_meta_tags title: [title_object(@project), t('layout.projects.hooks')]
= render 'submenu'
= render 'sidebar'

%h1= t("layout.hooks.services.#{@hook.name}")

= form_for @hook, url: project_hook_path(@project, @hook), method: :put, html: { class: :form } do |f|
  = render 'form'
  .actions
    = f.submit t('layout.update'), data: {'disable-with' => t('layout.processing')}

%br
= render "projects/hooks/docs/#{@hook.name}"