-set_meta_tags :title => [title_object(@project), t('layout.projects.hooks')]
= render 'submenu'
= render 'sidebar'

%h1 Listing hooks

%table#datatable.tablesorter{:cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th.th1= t('activerecord.attributes.hook.service')
      %th
  %tbody
    - Hook::NAMES.each do |name|
      %tr
        %td
          = link_to "#{name} (#{@hooks.where(:name => name).count})", project_hooks_path(@project, :name => name)
        %td.right
          = link_to 'New', new_project_hook_path(@project, :hook => {:name => name}), :class => 'button'
