-set_meta_tags :title => [title_object(@project), t('layout.projects.hooks')]
= render 'submenu'
= render 'sidebar'

%h1 New hook

= form_for @hook, :url => project_hooks_path(@project), :method => :post, :html => { :class => :form } do |f|
  = render 'form'
  .actions
    = f.submit 'Save'
