-set_meta_tags :title => [title_object(@project), t('layout.projects.hooks')]
= render 'submenu'
= render 'sidebar'

%h1= "Listing of #{@name}"

= link_to 'New', new_project_hook_path(@project, :hook => {:name => @name}), :class => 'button'
.booth
%br

- @hooks.all.each do |hook|
  - hook.data.each do |k, v|
    .leftlist= k
    .rightlist= v
    .both

  .leftlist
  .rightlist
    = link_to 'Edit', edit_project_hook_path(@project, hook), :class => 'button'
  .hr
