-set_meta_tags :title => [title_object(@project), t('layout.projects.hooks')]
= render 'submenu'
= render 'sidebar'

%p#notice= notice

%p
  %b Data:
  = @hook.data
%p
  %b Project:
  = @hook.project_id
%p
  %b Type:
  = @hook.type

= link_to 'Edit', edit_project_hook_path(@hook)
\|
= link_to 'Back', project_hooks_path
