.content
  .inner
    %p
      %b
        = t("activerecord.models.project")
        \:
      = @project.name

    %p
      %b
        = t("activerecord.attributes.project.repository")
        \:
      = git_repo_url @project.git_repo_name

    - if @current_tag.present?
      %p
        %b Tag:
        = link_to @current_tag.name, tree_path(@project, :treeish => @current_tag.name)

    - if @current_branch.present?
      %p
        %b Branch:
        = link_to @current_branch.name, tree_path(@project, :treeish => @current_branch.name)
