.secondary-navigation
  %ul.wat-cf
    %li.first.active= link_to t("layout.git.repositories.source"), project_repo_path(@project)
    %li= link_to t("layout.git.repositories.commits"), commits_path(@project, :treeish => @treeish)

  %ul#git_submenu.sub-wat-cf.wat-cf
    %li
      %a{ :href => "#", :onmouseover => "menu.open('branches')", :onmouseout => "menu.close_time()" } Branches
      #branches{ :onmouseover => "menu.cancel_close_time()", :onmouseout => "menu.close_time()" }
        - @branches.each do |branch|
          - if branch.name == @treesh
            %span.current= branch.name
          - else
            = link_to branch.name, tree_path(@project, :treeish => branch.name)

    %li
      %a{ :href => "#", :onmouseover => "menu.open('tags')", :onmouseout => "menu.close_time()" } Tags
      #tags{ :onmouseover => "menu.cancel_close_time()", :onmouseout => "menu.close_time()" }
        - @tags.each do |tag|
          - if tag.name == @treeish
            %span.current= tag.name
          - else
            = link_to tag.name, tree_path(@project, :treeish => tag.name)
  .clear