!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    = stylesheet_link_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css', :media => 'screen, projection'
    = stylesheet_link_tag "application"
    /[if lt IE 9]
      = javascript_include_tag 'https://html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag 'application'
    = javascript_include_tag 'moment/ru.js' if I18n.locale == :ru
    = csrf_meta_tag
    = display_meta_tags :site => APP_CONFIG['project_name'], :reverse => true, :separator => '-'
    - if user_signed_in?
      = auto_discovery_link_tag :atom, atom_activity_feeds_path(:format => 'atom', :token => current_user.authentication_token), :title => t("layout.atom_link_tag_title", :nickname => current_user.uname, :app_name => APP_CONFIG['project_name'])

  %body{'ng-app' => 'RosaABF', 'ng-controller' => 'RosaABFController', 'ng-init' => "init('#{I18n.locale}', #{!!current_user.try(:sound_notifications)})"}
    .wrap{:class => content_for?(:sidebar) ? 'columns' : ''}
      %header
        .left
        .middle
          %menu
            .logo= link_to image_tag('logo-mini.png', :alt => 'logo'), root_path
            = render 'layouts/menu/top', :which_menu => 'top_menu'
          .information
            = render 'search/form'
            - if current_user
              .user
                .avatar= image_tag avatar_url(current_user), :alt => 'avatar', :height => "30"
                .profile
                  %a{:href => "#"}
                    = current_user.uname
                    = image_tag 'expand-white.png', :alt => 'ex'
                .both
              .both
              .droplist-wrap
                #droplist.droplist
                  .a= link_to current_user.uname, current_user
                  .a= link_to t('layout.settings.label'), profile_settings_path
                  .a= link_to t('layout.logout'), destroy_user_session_path, :method => :delete
            - else
              .user
                .profile= link_to t("layout.devise.shared_links.sign_up"), new_register_request_path
                .profile= link_to t("layout.devise.shared_links.sign_in"), new_user_session_path
        .right
        .both
      - if content_for?(:submenu)
        .sub-menu= yield :submenu
      - if content_for?(:feed_tabs)
        = yield :feed_tabs
      .both
      = render "layouts/flashes"
      = render "layouts/notifies"
      %article
        - if content_for?(:sidebar)
          %aside= yield :sidebar
        %div{:class => layout_class}= yield
        .both

    %footer= render "layouts/menu/bottom"
    = render 'layouts/counters' if !current_user.try(:admin?) && Rails.env.production?
