!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title= choose_title
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css', :media => 'screen, projection'
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    .wrap{:class => content_for?(:sidebar) ? 'columns' : ''}
      %header
        .left
        .middle
          %menu
            = render 'layouts/menu/top'
            .logo= image_tag 'logo-mini.png', :alt => 'logo'
          .information
            .search
              .pic
              .field
                %input.gray{:onclick => "if(this.value=='#{t "layout.search"}'){this.value='';this.className='black';}", :onblur => "if(this.value==''){this.value='#{t "layout.search"}';this.className='gray';}", :type => "text", :value => "#{t "layout.search"}"}
            .user
              .avatar= image_tag 'ava.png', :alt => 'avatar', :height => "30"
              .profile
                %a{:href => "#"}
                  = current_user.uname
                  = image_tag 'expand-white.png', :alt => 'ex'
              .both
            .both
            .droplist-wrap
              #droplist.droplist
                .a= link_to current_user.uname, current_user
                .a= link_to t('layout.settings.label'), edit_user_registration_path
                .a= link_to t('layout.logout'), destroy_user_session_path, :method => :delete
        .right
        .both
      - if content_for?(:sub_menu)
        .sub-menu= yield :sub_menu
      .both
      = render "layouts/flashes"
      %article
        - if content_for?(:sidebar)
          %aside= yield :sidebar
          .right= yield
        - else
          .all= yield
        .both

    %footer= render "layouts/menu/bottom"
    = render 'layouts/counters' unless current_user.try(:admin?)
