!!!
%html
  %head
    %title= t("layout.global_header")
    = render :partial => "layouts/stylesheets"
    = render :partial => "layouts/javascripts"
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"}= t("layout.global_header")
        #user-navigation
          %ul.wat-cf
            %li= link_to current_user.nickname, edit_user_registration_path
            %li= link_to t('layout.logout'), destroy_user_session_path, :method => :delete, :class => "logout"
        #main-navigation
          %ul.wat-cf
            %li{:class => controller.controller_path == 'users' ? 'active' : '' }
              %a{:href => users_path}= t("layout.menu.users")
            %li{:class => controller.controller_path == 'platforms' ? 'active' : '' }
              %a{:href => platforms_path}= t("layout.menu.platforms")
      #wrapper.wat-cf
        = render :partial => "layouts/flashes"
        #main
          = yield
          #footer
            .block
               
        #sidebar
          = yield :sidebar

