!!!
%html
  %head
    %title= t("layout.global_header")
    = render :partial => "layouts/stylesheets"
    = render :partial => "layouts/javascripts"
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"}= t("layout.global_header")
        #user-navigation
          %ul.wat-cf
            %li= link_to current_user.uname, edit_user_registration_path
            %li= link_to t('layout.logout'), destroy_user_session_path, :method => :delete, :class => "logout"
        #main-navigation
          %ul.wat-cf
            -if current_user.can_perform?('users', 'index')
              %li{:class => controller.controller_path == 'users' ? 'active' : '' }
                %a{:href => users_path}= t("layout.menu.users")
            -if current_user.can_perform?('groups', 'index')
              %li{:class => controller.controller_path == 'groups' ? 'active' : '' }
                %a{:href => groups_path}= t("layout.menu.groups")
            -if current_user.can_perform?('platforms', 'index')
              %li{:class => controller.controller_path == 'platforms' ? 'active' : '' }
                %a{:href => platforms_path}= t("layout.menu.platforms")
            -if current_user.can_perform?('projects', 'index')
              %li{:class => controller.controller_path == 'projects' ? 'active' : '' }
                %a{:href => projects_path}= t("layout.menu.projects")
            -if current_user.can_perform?('downloads', 'index')
              %li{:class => controller.controller_path == 'downloads' ? 'active' : '' }
                %a{:href => downloads_path}= t("layout.menu.downloads")
            -if current_user.can_perform?('event_logs', 'index')
              %li{:class => controller.controller_path == 'event_logs' ? 'active' : '' }
                %a{:href => event_logs_path}= t("layout.menu.event_logs")
            -if current_user.can_perform?('categories', 'index')
              %li{:class => controller.controller_path == 'categories' ? 'active' : '' }
                %a{:href => categories_path}= t("layout.menu.categories")
            -if current_user.can_perform?('roles', 'index')
              %li{:class => controller.controller_path == 'roles' ? 'active' : '' }
                %a{:href => roles_path}= t("layout.menu.roles")
            -if current_user.can_perform?('personal_repositories', 'show')
              %li{:class => controller.controller_path == 'personal_repositories' ? 'active' : '' }
                %a{:href => personal_repository_path( current_user.personal_repository.id )}= t("layout.menu.personal_repository")
      #wrapper.wat-cf
        = render :partial => "layouts/flashes"
        #main
          = yield
          #footer
            .block

        #sidebar
          = yield :sidebar

