!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    = csrf_meta_tag
    = display_meta_tags site: APP_CONFIG['project_name'], reverse: true, separator: '-'
    - if user_signed_in?
      = auto_discovery_link_tag :atom, atom_activity_feeds_path(format: 'atom', token: current_user.authentication_token), title: t("layout.atom_link_tag_title", nickname: current_user.uname, app_name: APP_CONFIG['project_name'])
    = stylesheet_link_tag 'new_application'

  %body{ 'ng-app' => 'RosaABF', 'ng-controller' => 'RosaABFController',
         'ng-init' => "init('#{I18n.locale}', #{!!current_user.try(:sound_notifications)})" }
    = render 'layouts/menu/new_top'
    = yield :submenu if content_for?(:submenu)

    - if current_user || APP_CONFIG['anonymous_access']
      - if (flash_notify = FlashNotify.published.first) && flash_notify.should_show?(cookies[:flash_notify_hash])
        :javascript
          var FLASH_HASH_ID = "#{flash_notify.hash_id}";
        .notify.alert.alert-dismissable.text-center{ class: alert_class(flash_notify.status) }
          %button.close{ type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => true } &times;
          = flash_notify.body(I18n.locale).html_safe

    = render 'layouts/noscript'
    = render "layouts/flashes"

    %article.container-fluid.offset20
      = yield
    = render 'layouts/menu/new_bottom'
    = javascript_include_tag 'new_application'
    - if I18n.locale == :ru
      = javascript_include_tag 'moment/ru.js'
      = javascript_include_tag 'angular-1.2.15-locale_ru-ru'
