!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}
    - if controller_name == 'sessions' && action_name == 'new'
      = stylesheet_link_tag "login"
    - elsif ['registrations', 'passwords'].include?(controller_name) && ['new', 'create', 'edit', 'update'].include?(action_name)
      = stylesheet_link_tag "reg_session"
    /[if lt IE 9]
      = javascript_include_tag 'https://html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag "login"
    = csrf_meta_tag
    = display_meta_tags site: APP_CONFIG['project_name'], reverse: true, separator: '-'

  %body
    = render 'layouts/noscript'
    = yield

    = render 'layouts/counters' if !current_user.try(:admin?) && Rails.env.production?
  %footer= render "layouts/menu/bottom"
