!!!
%html
  %head
    = display_meta_tags :site => APP_CONFIG['project_name']
    = render :partial => "layouts/javascripts"
    -#= include_stylesheets :sessions
    = stylesheet_link_tag "web-app-theme/base.css", "web-app-theme/themes/default/style.css", "web-app-theme/override.css"

    = csrf_meta_tag
  %body
    #container
      #box
        = render :partial => "layouts/flashes"
        = yield

    = render 'layouts/counters' unless current_user.try(:admin?)
