!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag "tour"
    /[if lt IE 9]
      = javascript_include_tag 'https://html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag "tour"
    = csrf_meta_tag
    = display_meta_tags site: APP_CONFIG['project_name'], reverse: true, separator: '-'
  %body
    .wrap
      %header.top
        .left
        .middle
          %menu
            .logo= link_to image_tag('logo-mini.png', alt: 'logo'), root_path
            = render 'layouts/menu/top', which_menu: 'top_menu'
          .information
            = render 'search/form'
            - if current_user
              .user
                .avatar= image_tag avatar_url(current_user), alt: 'avatar', height: "30"
                .profile
                  %a{href: "#"}
                    = current_user.uname
                    = image_tag 'expand-white.png', alt: 'ex'
                .both
              .both
              .droplist-wrap
                #droplist.droplist
                  .a= link_to current_user.uname, current_user
                  .a= link_to t('layout.settings.label'), profile_settings_path
                  .a= link_to t('layout.logout'), destroy_user_session_path, method: :delete
            - else
              .user
                .profile= link_to t("layout.devise.shared_links.sign_up"), new_register_request_path
                .profile= link_to t("layout.devise.shared_links.sign_in"), new_user_session_path
        .right
        .both
      / Page
      .tour
        =image_tag "tour-top#{I18n.locale == :en ? '-eng' : ''}.png", alt: 'ABF'
      .both
        = render 'layouts/noscript'
        = render 'layouts/flashes'
      %article
        = yield
        .both
        -# No idea why here was this div...
        -#.tour-gap
    %footer= render "layouts/menu/bottom"
    = render 'layouts/counters' if !current_user.try(:admin?) && Rails.env.production?
    :javascript
      $(document).ready(function() {
          $().piroBox_ext({
              piro_speed : 700,
              bg_alpha : 0.5,
              piro_scroll : true //pirobox always positioned at the center of the page
          });
      });
