= render 'submenu'
= render 'repo_block', :project => @project

.description
  %h3= t("layout.projects.about_subheader")
  %p
    = @project.description
    = link_to t('layout.read_more'), '#'

%h3= t("layout.projects.last_commit")
- GitPresenters::CommitAsMessagePresenter.present(@commit, :branch => @branch, :project => @project) do |presenter|
  = render 'shared/feed_message', :presenter => presenter, :item_no => 1

.both

#repo-wrapper
  = yield
