.description-top
  -if @commit
    %ul.nav.zip
      %li#menu-archive.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu-archive"}
          =image_tag 'zip.png', :alt => 'ZIP'
          %b.caret
        %ul.dropdown-menu
          %li=link_to "tar.gz", archive_path(project, @treeish, 'tar')
          %li=link_to "zip", archive_path(project, @treeish, 'zip')

  = text_field_tag :url, git_repo_url(project.git_repo_name), :class => 'name', :spellcheck => 'false', :readonly => true
  .git_help ?
  .role= can?(:write, project) ? t("layout.read_write_access") : t("layout.read_access")
  = render 'branch_select', :project => project
  #git_help_data
    %p= t("layout.projects.git_help.cloning") + ":"
    %p
    %p~ "git clone #{git_repo_url(project.git_repo_name)} #{project.name}"
    %p~ "cd #{project.name}"
    %p
    %p= t("layout.projects.git_help.remote") + ":"
    %p
    %p~ "git remote add #{project.name} #{git_repo_url(project.git_repo_name)}"
    %p~ "git fetch #{project.name}"
    %p~ "git checkout -b my-local-tracking-branch #{project.name}/master_or_other_branch"
.both
:javascript
  $(document).ready(function() {
    $('#url').live('click', function() {
      $(this).select();
    });
  });
