- content_for :submenu do
  - act = action_name.to_sym; contr = controller_name.to_sym
  .left
    .table-sort-left=image_tag visibility_icon(@project.visibility)
    .table-sort-right=@project.name
  %nav
    %ul
      %li= link_to t("project_menu.project"), project_path(@project), :class => (act.in?([:show, :edit]) && contr.in?([:trees, :blobs]) ? 'active' : nil)
      %li= link_to t("project_menu.commits"), commits_path(@project), :class => (act.in?([:index, :show]) && contr == :commits ? 'active' : nil)
      - if @project.is_rpm and can?(:read, @project => BuildList)
        %li= link_to t("project_menu.builds"), project_build_lists_path(@project), :class => (contr == :build_lists ? 'active' : nil)
      - if @project.has_issues
        %li= link_to t("project_menu.tracker"), project_issues_path(@project), :class => (contr == :issues ? 'active' : nil)
      - if @project.has_wiki
        %li= link_to t("project_menu.wiki"), project_wiki_index_path(@project), :class => (contr == :wiki ? 'active' : nil)
      %li= link_to t("project_menu.readme"), "#" #pending
      - if can? :update, @project
        %li= link_to t("project_menu.settings"), edit_project_path(@project), :class => (act == :edit && contr == :projects ? 'active' : nil)
      %li=link_to t("project_menu.pull_requests"), project_pull_requests_path(@project), :class => (contr == :pull_requests ? 'active' : nil)

    =form_for PullRequest.new, :url => new_project_pull_requests_path, :html => { :method => :post, :class => :form } do |f|
      =hidden_field_tag :ref, @treeish

:javascript
  $(function () {
    $('#send_pull_request').click(function(){
      $('#new_pull_request').submit();
    });
  })
